    $/dihedral:dmc1/d_O1_C1_O2_C2   @/dihedral:OCOC      $/atom:dmc1/O1   $/atom:dmc1/C1   $/atom:dmc1/O2   $/atom:dmc1/C2
    $/dihedral:dmc1/d_O1_C1_O3_C3   @/dihedral:OCOC      $/atom:dmc1/O1   $/atom:dmc1/C1   $/atom:dmc1/O3   $/atom:dmc1/C3
    $/dihedral:dmc1/d_C1_O2_C2_H1   @/dihedral:COCC_est  $/atom:dmc1/C1   $/atom:dmc1/O2   $/atom:dmc1/C2   $/atom:dmc1/H1
    $/dihedral:dmc1/d_C1_O2_C2_H2   @/dihedral:COCC_est  $/atom:dmc1/C1   $/atom:dmc1/O2   $/atom:dmc1/C2   $/atom:dmc1/H2
    $/dihedral:dmc1/d_C1_O2_C2_H3   @/dihedral:COCC_est  $/atom:dmc1/C1   $/atom:dmc1/O2   $/atom:dmc1/C2   $/atom:dmc1/H3
    $/dihedral:dmc1/d_C1_O3_C3_H4   @/dihedral:COCC_est  $/atom:dmc1/C1   $/atom:dmc1/O3   $/atom:dmc1/C3   $/atom:dmc1/H4
    $/dihedral:dmc1/d_C1_O3_C3_H5   @/dihedral:COCC_est  $/atom:dmc1/C1   $/atom:dmc1/O3   $/atom:dmc1/C3   $/atom:dmc1/H5
    $/dihedral:dmc1/d_C1_O3_C3_H6   @/dihedral:COCC_est  $/atom:dmc1/C1   $/atom:dmc1/O3   $/atom:dmc1/C3   $/atom:dmc1/H6
    $/dihedral:dmc2/d_O1_C1_O2_C2   @/dihedral:OCOC      $/atom:dmc2/O1   $/atom:dmc2/C1   $/atom:dmc2/O2   $/atom:dmc2/C2
    $/dihedral:dmc2/d_O1_C1_O3_C3   @/dihedral:OCOC      $/atom:dmc2/O1   $/atom:dmc2/C1   $/atom:dmc2/O3   $/atom:dmc2/C3
    $/dihedral:dmc2/d_C1_O2_C2_H1   @/dihedral:COCC_est  $/atom:dmc2/C1   $/atom:dmc2/O2   $/atom:dmc2/C2   $/atom:dmc2/H1
    $/dihedral:dmc2/d_C1_O2_C2_H2   @/dihedral:COCC_est  $/atom:dmc2/C1   $/atom:dmc2/O2   $/atom:dmc2/C2   $/atom:dmc2/H2
    $/dihedral:dmc2/d_C1_O2_C2_H3   @/dihedral:COCC_est  $/atom:dmc2/C1   $/atom:dmc2/O2   $/atom:dmc2/C2   $/atom:dmc2/H3
    $/dihedral:dmc2/d_C1_O3_C3_H4   @/dihedral:COCC_est  $/atom:dmc2/C1   $/atom:dmc2/O3   $/atom:dmc2/C3   $/atom:dmc2/H4
    $/dihedral:dmc2/d_C1_O3_C3_H5   @/dihedral:COCC_est  $/atom:dmc2/C1   $/atom:dmc2/O3   $/atom:dmc2/C3   $/atom:dmc2/H5
    $/dihedral:dmc2/d_C1_O3_C3_H6   @/dihedral:COCC_est  $/atom:dmc2/C1   $/atom:dmc2/O3   $/atom:dmc2/C3   $/atom:dmc2/H6
    $/dihedral:dmc3/d_O1_C1_O2_C2   @/dihedral:OCOC      $/atom:dmc3/O1   $/atom:dmc3/C1   $/atom:dmc3/O2   $/atom:dmc3/C2
    $/dihedral:dmc3/d_O1_C1_O3_C3   @/dihedral:OCOC      $/atom:dmc3/O1   $/atom:dmc3/C1   $/atom:dmc3/O3   $/atom:dmc3/C3
    $/dihedral:dmc3/d_C1_O2_C2_H1   @/dihedral:COCC_est  $/atom:dmc3/C1   $/atom:dmc3/O2   $/atom:dmc3/C2   $/atom:dmc3/H1
    $/dihedral:dmc3/d_C1_O2_C2_H2   @/dihedral:COCC_est  $/atom:dmc3/C1   $/atom:dmc3/O2   $/atom:dmc3/C2   $/atom:dmc3/H2
    $/dihedral:dmc3/d_C1_O2_C2_H3   @/dihedral:COCC_est  $/atom:dmc3/C1   $/atom:dmc3/O2   $/atom:dmc3/C2   $/atom:dmc3/H3
    $/dihedral:dmc3/d_C1_O3_C3_H4   @/dihedral:COCC_est  $/atom:dmc3/C1   $/atom:dmc3/O3   $/atom:dmc3/C3   $/atom:dmc3/H4
    $/dihedral:dmc3/d_C1_O3_C3_H5   @/dihedral:COCC_est  $/atom:dmc3/C1   $/atom:dmc3/O3   $/atom:dmc3/C3   $/atom:dmc3/H5
    $/dihedral:dmc3/d_C1_O3_C3_H6   @/dihedral:COCC_est  $/atom:dmc3/C1   $/atom:dmc3/O3   $/atom:dmc3/C3   $/atom:dmc3/H6
    $/dihedral:dmc4/d_O1_C1_O2_C2   @/dihedral:OCOC      $/atom:dmc4/O1   $/atom:dmc4/C1   $/atom:dmc4/O2   $/atom:dmc4/C2
    $/dihedral:dmc4/d_O1_C1_O3_C3   @/dihedral:OCOC      $/atom:dmc4/O1   $/atom:dmc4/C1   $/atom:dmc4/O3   $/atom:dmc4/C3
    $/dihedral:dmc4/d_C1_O2_C2_H1   @/dihedral:COCC_est  $/atom:dmc4/C1   $/atom:dmc4/O2   $/atom:dmc4/C2   $/atom:dmc4/H1
    $/dihedral:dmc4/d_C1_O2_C2_H2   @/dihedral:COCC_est  $/atom:dmc4/C1   $/atom:dmc4/O2   $/atom:dmc4/C2   $/atom:dmc4/H2
    $/dihedral:dmc4/d_C1_O2_C2_H3   @/dihedral:COCC_est  $/atom:dmc4/C1   $/atom:dmc4/O2   $/atom:dmc4/C2   $/atom:dmc4/H3
    $/dihedral:dmc4/d_C1_O3_C3_H4   @/dihedral:COCC_est  $/atom:dmc4/C1   $/atom:dmc4/O3   $/atom:dmc4/C3   $/atom:dmc4/H4
    $/dihedral:dmc4/d_C1_O3_C3_H5   @/dihedral:COCC_est  $/atom:dmc4/C1   $/atom:dmc4/O3   $/atom:dmc4/C3   $/atom:dmc4/H5
    $/dihedral:dmc4/d_C1_O3_C3_H6   @/dihedral:COCC_est  $/atom:dmc4/C1   $/atom:dmc4/O3   $/atom:dmc4/C3   $/atom:dmc4/H6
    $/dihedral:dmc5/d_O1_C1_O2_C2   @/dihedral:OCOC      $/atom:dmc5/O1   $/atom:dmc5/C1   $/atom:dmc5/O2   $/atom:dmc5/C2
    $/dihedral:dmc5/d_O1_C1_O3_C3   @/dihedral:OCOC      $/atom:dmc5/O1   $/atom:dmc5/C1   $/atom:dmc5/O3   $/atom:dmc5/C3
    $/dihedral:dmc5/d_C1_O2_C2_H1   @/dihedral:COCC_est  $/atom:dmc5/C1   $/atom:dmc5/O2   $/atom:dmc5/C2   $/atom:dmc5/H1
    $/dihedral:dmc5/d_C1_O2_C2_H2   @/dihedral:COCC_est  $/atom:dmc5/C1   $/atom:dmc5/O2   $/atom:dmc5/C2   $/atom:dmc5/H2
    $/dihedral:dmc5/d_C1_O2_C2_H3   @/dihedral:COCC_est  $/atom:dmc5/C1   $/atom:dmc5/O2   $/atom:dmc5/C2   $/atom:dmc5/H3
    $/dihedral:dmc5/d_C1_O3_C3_H4   @/dihedral:COCC_est  $/atom:dmc5/C1   $/atom:dmc5/O3   $/atom:dmc5/C3   $/atom:dmc5/H4
    $/dihedral:dmc5/d_C1_O3_C3_H5   @/dihedral:COCC_est  $/atom:dmc5/C1   $/atom:dmc5/O3   $/atom:dmc5/C3   $/atom:dmc5/H5
    $/dihedral:dmc5/d_C1_O3_C3_H6   @/dihedral:COCC_est  $/atom:dmc5/C1   $/atom:dmc5/O3   $/atom:dmc5/C3   $/atom:dmc5/H6
    $/dihedral:dmc6/d_O1_C1_O2_C2   @/dihedral:OCOC      $/atom:dmc6/O1   $/atom:dmc6/C1   $/atom:dmc6/O2   $/atom:dmc6/C2
    $/dihedral:dmc6/d_O1_C1_O3_C3   @/dihedral:OCOC      $/atom:dmc6/O1   $/atom:dmc6/C1   $/atom:dmc6/O3   $/atom:dmc6/C3
    $/dihedral:dmc6/d_C1_O2_C2_H1   @/dihedral:COCC_est  $/atom:dmc6/C1   $/atom:dmc6/O2   $/atom:dmc6/C2   $/atom:dmc6/H1
    $/dihedral:dmc6/d_C1_O2_C2_H2   @/dihedral:COCC_est  $/atom:dmc6/C1   $/atom:dmc6/O2   $/atom:dmc6/C2   $/atom:dmc6/H2
    $/dihedral:dmc6/d_C1_O2_C2_H3   @/dihedral:COCC_est  $/atom:dmc6/C1   $/atom:dmc6/O2   $/atom:dmc6/C2   $/atom:dmc6/H3
    $/dihedral:dmc6/d_C1_O3_C3_H4   @/dihedral:COCC_est  $/atom:dmc6/C1   $/atom:dmc6/O3   $/atom:dmc6/C3   $/atom:dmc6/H4
    $/dihedral:dmc6/d_C1_O3_C3_H5   @/dihedral:COCC_est  $/atom:dmc6/C1   $/atom:dmc6/O3   $/atom:dmc6/C3   $/atom:dmc6/H5
    $/dihedral:dmc6/d_C1_O3_C3_H6   @/dihedral:COCC_est  $/atom:dmc6/C1   $/atom:dmc6/O3   $/atom:dmc6/C3   $/atom:dmc6/H6
    $/dihedral:dmc7/d_O1_C1_O2_C2   @/dihedral:OCOC      $/atom:dmc7/O1   $/atom:dmc7/C1   $/atom:dmc7/O2   $/atom:dmc7/C2
    $/dihedral:dmc7/d_O1_C1_O3_C3   @/dihedral:OCOC      $/atom:dmc7/O1   $/atom:dmc7/C1   $/atom:dmc7/O3   $/atom:dmc7/C3
    $/dihedral:dmc7/d_C1_O2_C2_H1   @/dihedral:COCC_est  $/atom:dmc7/C1   $/atom:dmc7/O2   $/atom:dmc7/C2   $/atom:dmc7/H1
    $/dihedral:dmc7/d_C1_O2_C2_H2   @/dihedral:COCC_est  $/atom:dmc7/C1   $/atom:dmc7/O2   $/atom:dmc7/C2   $/atom:dmc7/H2
    $/dihedral:dmc7/d_C1_O2_C2_H3   @/dihedral:COCC_est  $/atom:dmc7/C1   $/atom:dmc7/O2   $/atom:dmc7/C2   $/atom:dmc7/H3
    $/dihedral:dmc7/d_C1_O3_C3_H4   @/dihedral:COCC_est  $/atom:dmc7/C1   $/atom:dmc7/O3   $/atom:dmc7/C3   $/atom:dmc7/H4
    $/dihedral:dmc7/d_C1_O3_C3_H5   @/dihedral:COCC_est  $/atom:dmc7/C1   $/atom:dmc7/O3   $/atom:dmc7/C3   $/atom:dmc7/H5
    $/dihedral:dmc7/d_C1_O3_C3_H6   @/dihedral:COCC_est  $/atom:dmc7/C1   $/atom:dmc7/O3   $/atom:dmc7/C3   $/atom:dmc7/H6
    $/dihedral:dmc8/d_O1_C1_O2_C2   @/dihedral:OCOC      $/atom:dmc8/O1   $/atom:dmc8/C1   $/atom:dmc8/O2   $/atom:dmc8/C2
    $/dihedral:dmc8/d_O1_C1_O3_C3   @/dihedral:OCOC      $/atom:dmc8/O1   $/atom:dmc8/C1   $/atom:dmc8/O3   $/atom:dmc8/C3
    $/dihedral:dmc8/d_C1_O2_C2_H1   @/dihedral:COCC_est  $/atom:dmc8/C1   $/atom:dmc8/O2   $/atom:dmc8/C2   $/atom:dmc8/H1
    $/dihedral:dmc8/d_C1_O2_C2_H2   @/dihedral:COCC_est  $/atom:dmc8/C1   $/atom:dmc8/O2   $/atom:dmc8/C2   $/atom:dmc8/H2
    $/dihedral:dmc8/d_C1_O2_C2_H3   @/dihedral:COCC_est  $/atom:dmc8/C1   $/atom:dmc8/O2   $/atom:dmc8/C2   $/atom:dmc8/H3
    $/dihedral:dmc8/d_C1_O3_C3_H4   @/dihedral:COCC_est  $/atom:dmc8/C1   $/atom:dmc8/O3   $/atom:dmc8/C3   $/atom:dmc8/H4
    $/dihedral:dmc8/d_C1_O3_C3_H5   @/dihedral:COCC_est  $/atom:dmc8/C1   $/atom:dmc8/O3   $/atom:dmc8/C3   $/atom:dmc8/H5
    $/dihedral:dmc8/d_C1_O3_C3_H6   @/dihedral:COCC_est  $/atom:dmc8/C1   $/atom:dmc8/O3   $/atom:dmc8/C3   $/atom:dmc8/H6
    $/dihedral:dmc9/d_O1_C1_O2_C2   @/dihedral:OCOC      $/atom:dmc9/O1   $/atom:dmc9/C1   $/atom:dmc9/O2   $/atom:dmc9/C2
    $/dihedral:dmc9/d_O1_C1_O3_C3   @/dihedral:OCOC      $/atom:dmc9/O1   $/atom:dmc9/C1   $/atom:dmc9/O3   $/atom:dmc9/C3
    $/dihedral:dmc9/d_C1_O2_C2_H1   @/dihedral:COCC_est  $/atom:dmc9/C1   $/atom:dmc9/O2   $/atom:dmc9/C2   $/atom:dmc9/H1
    $/dihedral:dmc9/d_C1_O2_C2_H2   @/dihedral:COCC_est  $/atom:dmc9/C1   $/atom:dmc9/O2   $/atom:dmc9/C2   $/atom:dmc9/H2
    $/dihedral:dmc9/d_C1_O2_C2_H3   @/dihedral:COCC_est  $/atom:dmc9/C1   $/atom:dmc9/O2   $/atom:dmc9/C2   $/atom:dmc9/H3
    $/dihedral:dmc9/d_C1_O3_C3_H4   @/dihedral:COCC_est  $/atom:dmc9/C1   $/atom:dmc9/O3   $/atom:dmc9/C3   $/atom:dmc9/H4
    $/dihedral:dmc9/d_C1_O3_C3_H5   @/dihedral:COCC_est  $/atom:dmc9/C1   $/atom:dmc9/O3   $/atom:dmc9/C3   $/atom:dmc9/H5
    $/dihedral:dmc9/d_C1_O3_C3_H6   @/dihedral:COCC_est  $/atom:dmc9/C1   $/atom:dmc9/O3   $/atom:dmc9/C3   $/atom:dmc9/H6
    $/dihedral:dmc10/d_O1_C1_O2_C2   @/dihedral:OCOC      $/atom:dmc10/O1   $/atom:dmc10/C1   $/atom:dmc10/O2   $/atom:dmc10/C2
    $/dihedral:dmc10/d_O1_C1_O3_C3   @/dihedral:OCOC      $/atom:dmc10/O1   $/atom:dmc10/C1   $/atom:dmc10/O3   $/atom:dmc10/C3
    $/dihedral:dmc10/d_C1_O2_C2_H1   @/dihedral:COCC_est  $/atom:dmc10/C1   $/atom:dmc10/O2   $/atom:dmc10/C2   $/atom:dmc10/H1
    $/dihedral:dmc10/d_C1_O2_C2_H2   @/dihedral:COCC_est  $/atom:dmc10/C1   $/atom:dmc10/O2   $/atom:dmc10/C2   $/atom:dmc10/H2
    $/dihedral:dmc10/d_C1_O2_C2_H3   @/dihedral:COCC_est  $/atom:dmc10/C1   $/atom:dmc10/O2   $/atom:dmc10/C2   $/atom:dmc10/H3
    $/dihedral:dmc10/d_C1_O3_C3_H4   @/dihedral:COCC_est  $/atom:dmc10/C1   $/atom:dmc10/O3   $/atom:dmc10/C3   $/atom:dmc10/H4
    $/dihedral:dmc10/d_C1_O3_C3_H5   @/dihedral:COCC_est  $/atom:dmc10/C1   $/atom:dmc10/O3   $/atom:dmc10/C3   $/atom:dmc10/H5
    $/dihedral:dmc10/d_C1_O3_C3_H6   @/dihedral:COCC_est  $/atom:dmc10/C1   $/atom:dmc10/O3   $/atom:dmc10/C3   $/atom:dmc10/H6
    $/dihedral:dmc11/d_O1_C1_O2_C2   @/dihedral:OCOC      $/atom:dmc11/O1   $/atom:dmc11/C1   $/atom:dmc11/O2   $/atom:dmc11/C2
    $/dihedral:dmc11/d_O1_C1_O3_C3   @/dihedral:OCOC      $/atom:dmc11/O1   $/atom:dmc11/C1   $/atom:dmc11/O3   $/atom:dmc11/C3
    $/dihedral:dmc11/d_C1_O2_C2_H1   @/dihedral:COCC_est  $/atom:dmc11/C1   $/atom:dmc11/O2   $/atom:dmc11/C2   $/atom:dmc11/H1
    $/dihedral:dmc11/d_C1_O2_C2_H2   @/dihedral:COCC_est  $/atom:dmc11/C1   $/atom:dmc11/O2   $/atom:dmc11/C2   $/atom:dmc11/H2
    $/dihedral:dmc11/d_C1_O2_C2_H3   @/dihedral:COCC_est  $/atom:dmc11/C1   $/atom:dmc11/O2   $/atom:dmc11/C2   $/atom:dmc11/H3
    $/dihedral:dmc11/d_C1_O3_C3_H4   @/dihedral:COCC_est  $/atom:dmc11/C1   $/atom:dmc11/O3   $/atom:dmc11/C3   $/atom:dmc11/H4
    $/dihedral:dmc11/d_C1_O3_C3_H5   @/dihedral:COCC_est  $/atom:dmc11/C1   $/atom:dmc11/O3   $/atom:dmc11/C3   $/atom:dmc11/H5
    $/dihedral:dmc11/d_C1_O3_C3_H6   @/dihedral:COCC_est  $/atom:dmc11/C1   $/atom:dmc11/O3   $/atom:dmc11/C3   $/atom:dmc11/H6
    $/dihedral:dmc12/d_O1_C1_O2_C2   @/dihedral:OCOC      $/atom:dmc12/O1   $/atom:dmc12/C1   $/atom:dmc12/O2   $/atom:dmc12/C2
    $/dihedral:dmc12/d_O1_C1_O3_C3   @/dihedral:OCOC      $/atom:dmc12/O1   $/atom:dmc12/C1   $/atom:dmc12/O3   $/atom:dmc12/C3
    $/dihedral:dmc12/d_C1_O2_C2_H1   @/dihedral:COCC_est  $/atom:dmc12/C1   $/atom:dmc12/O2   $/atom:dmc12/C2   $/atom:dmc12/H1
    $/dihedral:dmc12/d_C1_O2_C2_H2   @/dihedral:COCC_est  $/atom:dmc12/C1   $/atom:dmc12/O2   $/atom:dmc12/C2   $/atom:dmc12/H2
    $/dihedral:dmc12/d_C1_O2_C2_H3   @/dihedral:COCC_est  $/atom:dmc12/C1   $/atom:dmc12/O2   $/atom:dmc12/C2   $/atom:dmc12/H3
    $/dihedral:dmc12/d_C1_O3_C3_H4   @/dihedral:COCC_est  $/atom:dmc12/C1   $/atom:dmc12/O3   $/atom:dmc12/C3   $/atom:dmc12/H4
    $/dihedral:dmc12/d_C1_O3_C3_H5   @/dihedral:COCC_est  $/atom:dmc12/C1   $/atom:dmc12/O3   $/atom:dmc12/C3   $/atom:dmc12/H5
    $/dihedral:dmc12/d_C1_O3_C3_H6   @/dihedral:COCC_est  $/atom:dmc12/C1   $/atom:dmc12/O3   $/atom:dmc12/C3   $/atom:dmc12/H6
    $/dihedral:dmc13/d_O1_C1_O2_C2   @/dihedral:OCOC      $/atom:dmc13/O1   $/atom:dmc13/C1   $/atom:dmc13/O2   $/atom:dmc13/C2
    $/dihedral:dmc13/d_O1_C1_O3_C3   @/dihedral:OCOC      $/atom:dmc13/O1   $/atom:dmc13/C1   $/atom:dmc13/O3   $/atom:dmc13/C3
    $/dihedral:dmc13/d_C1_O2_C2_H1   @/dihedral:COCC_est  $/atom:dmc13/C1   $/atom:dmc13/O2   $/atom:dmc13/C2   $/atom:dmc13/H1
    $/dihedral:dmc13/d_C1_O2_C2_H2   @/dihedral:COCC_est  $/atom:dmc13/C1   $/atom:dmc13/O2   $/atom:dmc13/C2   $/atom:dmc13/H2
    $/dihedral:dmc13/d_C1_O2_C2_H3   @/dihedral:COCC_est  $/atom:dmc13/C1   $/atom:dmc13/O2   $/atom:dmc13/C2   $/atom:dmc13/H3
    $/dihedral:dmc13/d_C1_O3_C3_H4   @/dihedral:COCC_est  $/atom:dmc13/C1   $/atom:dmc13/O3   $/atom:dmc13/C3   $/atom:dmc13/H4
    $/dihedral:dmc13/d_C1_O3_C3_H5   @/dihedral:COCC_est  $/atom:dmc13/C1   $/atom:dmc13/O3   $/atom:dmc13/C3   $/atom:dmc13/H5
    $/dihedral:dmc13/d_C1_O3_C3_H6   @/dihedral:COCC_est  $/atom:dmc13/C1   $/atom:dmc13/O3   $/atom:dmc13/C3   $/atom:dmc13/H6
    $/dihedral:dmc14/d_O1_C1_O2_C2   @/dihedral:OCOC      $/atom:dmc14/O1   $/atom:dmc14/C1   $/atom:dmc14/O2   $/atom:dmc14/C2
    $/dihedral:dmc14/d_O1_C1_O3_C3   @/dihedral:OCOC      $/atom:dmc14/O1   $/atom:dmc14/C1   $/atom:dmc14/O3   $/atom:dmc14/C3
    $/dihedral:dmc14/d_C1_O2_C2_H1   @/dihedral:COCC_est  $/atom:dmc14/C1   $/atom:dmc14/O2   $/atom:dmc14/C2   $/atom:dmc14/H1
    $/dihedral:dmc14/d_C1_O2_C2_H2   @/dihedral:COCC_est  $/atom:dmc14/C1   $/atom:dmc14/O2   $/atom:dmc14/C2   $/atom:dmc14/H2
    $/dihedral:dmc14/d_C1_O2_C2_H3   @/dihedral:COCC_est  $/atom:dmc14/C1   $/atom:dmc14/O2   $/atom:dmc14/C2   $/atom:dmc14/H3
    $/dihedral:dmc14/d_C1_O3_C3_H4   @/dihedral:COCC_est  $/atom:dmc14/C1   $/atom:dmc14/O3   $/atom:dmc14/C3   $/atom:dmc14/H4
    $/dihedral:dmc14/d_C1_O3_C3_H5   @/dihedral:COCC_est  $/atom:dmc14/C1   $/atom:dmc14/O3   $/atom:dmc14/C3   $/atom:dmc14/H5
    $/dihedral:dmc14/d_C1_O3_C3_H6   @/dihedral:COCC_est  $/atom:dmc14/C1   $/atom:dmc14/O3   $/atom:dmc14/C3   $/atom:dmc14/H6
    $/dihedral:dmc15/d_O1_C1_O2_C2   @/dihedral:OCOC      $/atom:dmc15/O1   $/atom:dmc15/C1   $/atom:dmc15/O2   $/atom:dmc15/C2
    $/dihedral:dmc15/d_O1_C1_O3_C3   @/dihedral:OCOC      $/atom:dmc15/O1   $/atom:dmc15/C1   $/atom:dmc15/O3   $/atom:dmc15/C3
    $/dihedral:dmc15/d_C1_O2_C2_H1   @/dihedral:COCC_est  $/atom:dmc15/C1   $/atom:dmc15/O2   $/atom:dmc15/C2   $/atom:dmc15/H1
    $/dihedral:dmc15/d_C1_O2_C2_H2   @/dihedral:COCC_est  $/atom:dmc15/C1   $/atom:dmc15/O2   $/atom:dmc15/C2   $/atom:dmc15/H2
    $/dihedral:dmc15/d_C1_O2_C2_H3   @/dihedral:COCC_est  $/atom:dmc15/C1   $/atom:dmc15/O2   $/atom:dmc15/C2   $/atom:dmc15/H3
    $/dihedral:dmc15/d_C1_O3_C3_H4   @/dihedral:COCC_est  $/atom:dmc15/C1   $/atom:dmc15/O3   $/atom:dmc15/C3   $/atom:dmc15/H4
    $/dihedral:dmc15/d_C1_O3_C3_H5   @/dihedral:COCC_est  $/atom:dmc15/C1   $/atom:dmc15/O3   $/atom:dmc15/C3   $/atom:dmc15/H5
    $/dihedral:dmc15/d_C1_O3_C3_H6   @/dihedral:COCC_est  $/atom:dmc15/C1   $/atom:dmc15/O3   $/atom:dmc15/C3   $/atom:dmc15/H6
    $/dihedral:dmc16/d_O1_C1_O2_C2   @/dihedral:OCOC      $/atom:dmc16/O1   $/atom:dmc16/C1   $/atom:dmc16/O2   $/atom:dmc16/C2
    $/dihedral:dmc16/d_O1_C1_O3_C3   @/dihedral:OCOC      $/atom:dmc16/O1   $/atom:dmc16/C1   $/atom:dmc16/O3   $/atom:dmc16/C3
    $/dihedral:dmc16/d_C1_O2_C2_H1   @/dihedral:COCC_est  $/atom:dmc16/C1   $/atom:dmc16/O2   $/atom:dmc16/C2   $/atom:dmc16/H1
    $/dihedral:dmc16/d_C1_O2_C2_H2   @/dihedral:COCC_est  $/atom:dmc16/C1   $/atom:dmc16/O2   $/atom:dmc16/C2   $/atom:dmc16/H2
    $/dihedral:dmc16/d_C1_O2_C2_H3   @/dihedral:COCC_est  $/atom:dmc16/C1   $/atom:dmc16/O2   $/atom:dmc16/C2   $/atom:dmc16/H3
    $/dihedral:dmc16/d_C1_O3_C3_H4   @/dihedral:COCC_est  $/atom:dmc16/C1   $/atom:dmc16/O3   $/atom:dmc16/C3   $/atom:dmc16/H4
    $/dihedral:dmc16/d_C1_O3_C3_H5   @/dihedral:COCC_est  $/atom:dmc16/C1   $/atom:dmc16/O3   $/atom:dmc16/C3   $/atom:dmc16/H5
    $/dihedral:dmc16/d_C1_O3_C3_H6   @/dihedral:COCC_est  $/atom:dmc16/C1   $/atom:dmc16/O3   $/atom:dmc16/C3   $/atom:dmc16/H6
    $/dihedral:dmc17/d_O1_C1_O2_C2   @/dihedral:OCOC      $/atom:dmc17/O1   $/atom:dmc17/C1   $/atom:dmc17/O2   $/atom:dmc17/C2
    $/dihedral:dmc17/d_O1_C1_O3_C3   @/dihedral:OCOC      $/atom:dmc17/O1   $/atom:dmc17/C1   $/atom:dmc17/O3   $/atom:dmc17/C3
    $/dihedral:dmc17/d_C1_O2_C2_H1   @/dihedral:COCC_est  $/atom:dmc17/C1   $/atom:dmc17/O2   $/atom:dmc17/C2   $/atom:dmc17/H1
    $/dihedral:dmc17/d_C1_O2_C2_H2   @/dihedral:COCC_est  $/atom:dmc17/C1   $/atom:dmc17/O2   $/atom:dmc17/C2   $/atom:dmc17/H2
    $/dihedral:dmc17/d_C1_O2_C2_H3   @/dihedral:COCC_est  $/atom:dmc17/C1   $/atom:dmc17/O2   $/atom:dmc17/C2   $/atom:dmc17/H3
    $/dihedral:dmc17/d_C1_O3_C3_H4   @/dihedral:COCC_est  $/atom:dmc17/C1   $/atom:dmc17/O3   $/atom:dmc17/C3   $/atom:dmc17/H4
    $/dihedral:dmc17/d_C1_O3_C3_H5   @/dihedral:COCC_est  $/atom:dmc17/C1   $/atom:dmc17/O3   $/atom:dmc17/C3   $/atom:dmc17/H5
    $/dihedral:dmc17/d_C1_O3_C3_H6   @/dihedral:COCC_est  $/atom:dmc17/C1   $/atom:dmc17/O3   $/atom:dmc17/C3   $/atom:dmc17/H6
    $/dihedral:dmc18/d_O1_C1_O2_C2   @/dihedral:OCOC      $/atom:dmc18/O1   $/atom:dmc18/C1   $/atom:dmc18/O2   $/atom:dmc18/C2
    $/dihedral:dmc18/d_O1_C1_O3_C3   @/dihedral:OCOC      $/atom:dmc18/O1   $/atom:dmc18/C1   $/atom:dmc18/O3   $/atom:dmc18/C3
    $/dihedral:dmc18/d_C1_O2_C2_H1   @/dihedral:COCC_est  $/atom:dmc18/C1   $/atom:dmc18/O2   $/atom:dmc18/C2   $/atom:dmc18/H1
    $/dihedral:dmc18/d_C1_O2_C2_H2   @/dihedral:COCC_est  $/atom:dmc18/C1   $/atom:dmc18/O2   $/atom:dmc18/C2   $/atom:dmc18/H2
    $/dihedral:dmc18/d_C1_O2_C2_H3   @/dihedral:COCC_est  $/atom:dmc18/C1   $/atom:dmc18/O2   $/atom:dmc18/C2   $/atom:dmc18/H3
    $/dihedral:dmc18/d_C1_O3_C3_H4   @/dihedral:COCC_est  $/atom:dmc18/C1   $/atom:dmc18/O3   $/atom:dmc18/C3   $/atom:dmc18/H4
    $/dihedral:dmc18/d_C1_O3_C3_H5   @/dihedral:COCC_est  $/atom:dmc18/C1   $/atom:dmc18/O3   $/atom:dmc18/C3   $/atom:dmc18/H5
    $/dihedral:dmc18/d_C1_O3_C3_H6   @/dihedral:COCC_est  $/atom:dmc18/C1   $/atom:dmc18/O3   $/atom:dmc18/C3   $/atom:dmc18/H6
    $/dihedral:dmc19/d_O1_C1_O2_C2   @/dihedral:OCOC      $/atom:dmc19/O1   $/atom:dmc19/C1   $/atom:dmc19/O2   $/atom:dmc19/C2
    $/dihedral:dmc19/d_O1_C1_O3_C3   @/dihedral:OCOC      $/atom:dmc19/O1   $/atom:dmc19/C1   $/atom:dmc19/O3   $/atom:dmc19/C3
    $/dihedral:dmc19/d_C1_O2_C2_H1   @/dihedral:COCC_est  $/atom:dmc19/C1   $/atom:dmc19/O2   $/atom:dmc19/C2   $/atom:dmc19/H1
    $/dihedral:dmc19/d_C1_O2_C2_H2   @/dihedral:COCC_est  $/atom:dmc19/C1   $/atom:dmc19/O2   $/atom:dmc19/C2   $/atom:dmc19/H2
    $/dihedral:dmc19/d_C1_O2_C2_H3   @/dihedral:COCC_est  $/atom:dmc19/C1   $/atom:dmc19/O2   $/atom:dmc19/C2   $/atom:dmc19/H3
    $/dihedral:dmc19/d_C1_O3_C3_H4   @/dihedral:COCC_est  $/atom:dmc19/C1   $/atom:dmc19/O3   $/atom:dmc19/C3   $/atom:dmc19/H4
    $/dihedral:dmc19/d_C1_O3_C3_H5   @/dihedral:COCC_est  $/atom:dmc19/C1   $/atom:dmc19/O3   $/atom:dmc19/C3   $/atom:dmc19/H5
    $/dihedral:dmc19/d_C1_O3_C3_H6   @/dihedral:COCC_est  $/atom:dmc19/C1   $/atom:dmc19/O3   $/atom:dmc19/C3   $/atom:dmc19/H6
    $/dihedral:dmc20/d_O1_C1_O2_C2   @/dihedral:OCOC      $/atom:dmc20/O1   $/atom:dmc20/C1   $/atom:dmc20/O2   $/atom:dmc20/C2
    $/dihedral:dmc20/d_O1_C1_O3_C3   @/dihedral:OCOC      $/atom:dmc20/O1   $/atom:dmc20/C1   $/atom:dmc20/O3   $/atom:dmc20/C3
    $/dihedral:dmc20/d_C1_O2_C2_H1   @/dihedral:COCC_est  $/atom:dmc20/C1   $/atom:dmc20/O2   $/atom:dmc20/C2   $/atom:dmc20/H1
    $/dihedral:dmc20/d_C1_O2_C2_H2   @/dihedral:COCC_est  $/atom:dmc20/C1   $/atom:dmc20/O2   $/atom:dmc20/C2   $/atom:dmc20/H2
    $/dihedral:dmc20/d_C1_O2_C2_H3   @/dihedral:COCC_est  $/atom:dmc20/C1   $/atom:dmc20/O2   $/atom:dmc20/C2   $/atom:dmc20/H3
    $/dihedral:dmc20/d_C1_O3_C3_H4   @/dihedral:COCC_est  $/atom:dmc20/C1   $/atom:dmc20/O3   $/atom:dmc20/C3   $/atom:dmc20/H4
    $/dihedral:dmc20/d_C1_O3_C3_H5   @/dihedral:COCC_est  $/atom:dmc20/C1   $/atom:dmc20/O3   $/atom:dmc20/C3   $/atom:dmc20/H5
    $/dihedral:dmc20/d_C1_O3_C3_H6   @/dihedral:COCC_est  $/atom:dmc20/C1   $/atom:dmc20/O3   $/atom:dmc20/C3   $/atom:dmc20/H6
    $/dihedral:dmc21/d_O1_C1_O2_C2   @/dihedral:OCOC      $/atom:dmc21/O1   $/atom:dmc21/C1   $/atom:dmc21/O2   $/atom:dmc21/C2
    $/dihedral:dmc21/d_O1_C1_O3_C3   @/dihedral:OCOC      $/atom:dmc21/O1   $/atom:dmc21/C1   $/atom:dmc21/O3   $/atom:dmc21/C3
    $/dihedral:dmc21/d_C1_O2_C2_H1   @/dihedral:COCC_est  $/atom:dmc21/C1   $/atom:dmc21/O2   $/atom:dmc21/C2   $/atom:dmc21/H1
    $/dihedral:dmc21/d_C1_O2_C2_H2   @/dihedral:COCC_est  $/atom:dmc21/C1   $/atom:dmc21/O2   $/atom:dmc21/C2   $/atom:dmc21/H2
    $/dihedral:dmc21/d_C1_O2_C2_H3   @/dihedral:COCC_est  $/atom:dmc21/C1   $/atom:dmc21/O2   $/atom:dmc21/C2   $/atom:dmc21/H3
    $/dihedral:dmc21/d_C1_O3_C3_H4   @/dihedral:COCC_est  $/atom:dmc21/C1   $/atom:dmc21/O3   $/atom:dmc21/C3   $/atom:dmc21/H4
    $/dihedral:dmc21/d_C1_O3_C3_H5   @/dihedral:COCC_est  $/atom:dmc21/C1   $/atom:dmc21/O3   $/atom:dmc21/C3   $/atom:dmc21/H5
    $/dihedral:dmc21/d_C1_O3_C3_H6   @/dihedral:COCC_est  $/atom:dmc21/C1   $/atom:dmc21/O3   $/atom:dmc21/C3   $/atom:dmc21/H6
    $/dihedral:dmc22/d_O1_C1_O2_C2   @/dihedral:OCOC      $/atom:dmc22/O1   $/atom:dmc22/C1   $/atom:dmc22/O2   $/atom:dmc22/C2
    $/dihedral:dmc22/d_O1_C1_O3_C3   @/dihedral:OCOC      $/atom:dmc22/O1   $/atom:dmc22/C1   $/atom:dmc22/O3   $/atom:dmc22/C3
    $/dihedral:dmc22/d_C1_O2_C2_H1   @/dihedral:COCC_est  $/atom:dmc22/C1   $/atom:dmc22/O2   $/atom:dmc22/C2   $/atom:dmc22/H1
    $/dihedral:dmc22/d_C1_O2_C2_H2   @/dihedral:COCC_est  $/atom:dmc22/C1   $/atom:dmc22/O2   $/atom:dmc22/C2   $/atom:dmc22/H2
    $/dihedral:dmc22/d_C1_O2_C2_H3   @/dihedral:COCC_est  $/atom:dmc22/C1   $/atom:dmc22/O2   $/atom:dmc22/C2   $/atom:dmc22/H3
    $/dihedral:dmc22/d_C1_O3_C3_H4   @/dihedral:COCC_est  $/atom:dmc22/C1   $/atom:dmc22/O3   $/atom:dmc22/C3   $/atom:dmc22/H4
    $/dihedral:dmc22/d_C1_O3_C3_H5   @/dihedral:COCC_est  $/atom:dmc22/C1   $/atom:dmc22/O3   $/atom:dmc22/C3   $/atom:dmc22/H5
    $/dihedral:dmc22/d_C1_O3_C3_H6   @/dihedral:COCC_est  $/atom:dmc22/C1   $/atom:dmc22/O3   $/atom:dmc22/C3   $/atom:dmc22/H6
    $/dihedral:dmc23/d_O1_C1_O2_C2   @/dihedral:OCOC      $/atom:dmc23/O1   $/atom:dmc23/C1   $/atom:dmc23/O2   $/atom:dmc23/C2
    $/dihedral:dmc23/d_O1_C1_O3_C3   @/dihedral:OCOC      $/atom:dmc23/O1   $/atom:dmc23/C1   $/atom:dmc23/O3   $/atom:dmc23/C3
    $/dihedral:dmc23/d_C1_O2_C2_H1   @/dihedral:COCC_est  $/atom:dmc23/C1   $/atom:dmc23/O2   $/atom:dmc23/C2   $/atom:dmc23/H1
    $/dihedral:dmc23/d_C1_O2_C2_H2   @/dihedral:COCC_est  $/atom:dmc23/C1   $/atom:dmc23/O2   $/atom:dmc23/C2   $/atom:dmc23/H2
    $/dihedral:dmc23/d_C1_O2_C2_H3   @/dihedral:COCC_est  $/atom:dmc23/C1   $/atom:dmc23/O2   $/atom:dmc23/C2   $/atom:dmc23/H3
    $/dihedral:dmc23/d_C1_O3_C3_H4   @/dihedral:COCC_est  $/atom:dmc23/C1   $/atom:dmc23/O3   $/atom:dmc23/C3   $/atom:dmc23/H4
    $/dihedral:dmc23/d_C1_O3_C3_H5   @/dihedral:COCC_est  $/atom:dmc23/C1   $/atom:dmc23/O3   $/atom:dmc23/C3   $/atom:dmc23/H5
    $/dihedral:dmc23/d_C1_O3_C3_H6   @/dihedral:COCC_est  $/atom:dmc23/C1   $/atom:dmc23/O3   $/atom:dmc23/C3   $/atom:dmc23/H6
    $/dihedral:dmc24/d_O1_C1_O2_C2   @/dihedral:OCOC      $/atom:dmc24/O1   $/atom:dmc24/C1   $/atom:dmc24/O2   $/atom:dmc24/C2
    $/dihedral:dmc24/d_O1_C1_O3_C3   @/dihedral:OCOC      $/atom:dmc24/O1   $/atom:dmc24/C1   $/atom:dmc24/O3   $/atom:dmc24/C3
    $/dihedral:dmc24/d_C1_O2_C2_H1   @/dihedral:COCC_est  $/atom:dmc24/C1   $/atom:dmc24/O2   $/atom:dmc24/C2   $/atom:dmc24/H1
    $/dihedral:dmc24/d_C1_O2_C2_H2   @/dihedral:COCC_est  $/atom:dmc24/C1   $/atom:dmc24/O2   $/atom:dmc24/C2   $/atom:dmc24/H2
    $/dihedral:dmc24/d_C1_O2_C2_H3   @/dihedral:COCC_est  $/atom:dmc24/C1   $/atom:dmc24/O2   $/atom:dmc24/C2   $/atom:dmc24/H3
    $/dihedral:dmc24/d_C1_O3_C3_H4   @/dihedral:COCC_est  $/atom:dmc24/C1   $/atom:dmc24/O3   $/atom:dmc24/C3   $/atom:dmc24/H4
    $/dihedral:dmc24/d_C1_O3_C3_H5   @/dihedral:COCC_est  $/atom:dmc24/C1   $/atom:dmc24/O3   $/atom:dmc24/C3   $/atom:dmc24/H5
    $/dihedral:dmc24/d_C1_O3_C3_H6   @/dihedral:COCC_est  $/atom:dmc24/C1   $/atom:dmc24/O3   $/atom:dmc24/C3   $/atom:dmc24/H6
    $/dihedral:dmc25/d_O1_C1_O2_C2   @/dihedral:OCOC      $/atom:dmc25/O1   $/atom:dmc25/C1   $/atom:dmc25/O2   $/atom:dmc25/C2
    $/dihedral:dmc25/d_O1_C1_O3_C3   @/dihedral:OCOC      $/atom:dmc25/O1   $/atom:dmc25/C1   $/atom:dmc25/O3   $/atom:dmc25/C3
    $/dihedral:dmc25/d_C1_O2_C2_H1   @/dihedral:COCC_est  $/atom:dmc25/C1   $/atom:dmc25/O2   $/atom:dmc25/C2   $/atom:dmc25/H1
    $/dihedral:dmc25/d_C1_O2_C2_H2   @/dihedral:COCC_est  $/atom:dmc25/C1   $/atom:dmc25/O2   $/atom:dmc25/C2   $/atom:dmc25/H2
    $/dihedral:dmc25/d_C1_O2_C2_H3   @/dihedral:COCC_est  $/atom:dmc25/C1   $/atom:dmc25/O2   $/atom:dmc25/C2   $/atom:dmc25/H3
    $/dihedral:dmc25/d_C1_O3_C3_H4   @/dihedral:COCC_est  $/atom:dmc25/C1   $/atom:dmc25/O3   $/atom:dmc25/C3   $/atom:dmc25/H4
    $/dihedral:dmc25/d_C1_O3_C3_H5   @/dihedral:COCC_est  $/atom:dmc25/C1   $/atom:dmc25/O3   $/atom:dmc25/C3   $/atom:dmc25/H5
    $/dihedral:dmc25/d_C1_O3_C3_H6   @/dihedral:COCC_est  $/atom:dmc25/C1   $/atom:dmc25/O3   $/atom:dmc25/C3   $/atom:dmc25/H6
    $/dihedral:dmc26/d_O1_C1_O2_C2   @/dihedral:OCOC      $/atom:dmc26/O1   $/atom:dmc26/C1   $/atom:dmc26/O2   $/atom:dmc26/C2
    $/dihedral:dmc26/d_O1_C1_O3_C3   @/dihedral:OCOC      $/atom:dmc26/O1   $/atom:dmc26/C1   $/atom:dmc26/O3   $/atom:dmc26/C3
    $/dihedral:dmc26/d_C1_O2_C2_H1   @/dihedral:COCC_est  $/atom:dmc26/C1   $/atom:dmc26/O2   $/atom:dmc26/C2   $/atom:dmc26/H1
    $/dihedral:dmc26/d_C1_O2_C2_H2   @/dihedral:COCC_est  $/atom:dmc26/C1   $/atom:dmc26/O2   $/atom:dmc26/C2   $/atom:dmc26/H2
    $/dihedral:dmc26/d_C1_O2_C2_H3   @/dihedral:COCC_est  $/atom:dmc26/C1   $/atom:dmc26/O2   $/atom:dmc26/C2   $/atom:dmc26/H3
    $/dihedral:dmc26/d_C1_O3_C3_H4   @/dihedral:COCC_est  $/atom:dmc26/C1   $/atom:dmc26/O3   $/atom:dmc26/C3   $/atom:dmc26/H4
    $/dihedral:dmc26/d_C1_O3_C3_H5   @/dihedral:COCC_est  $/atom:dmc26/C1   $/atom:dmc26/O3   $/atom:dmc26/C3   $/atom:dmc26/H5
    $/dihedral:dmc26/d_C1_O3_C3_H6   @/dihedral:COCC_est  $/atom:dmc26/C1   $/atom:dmc26/O3   $/atom:dmc26/C3   $/atom:dmc26/H6
    $/dihedral:dmc27/d_O1_C1_O2_C2   @/dihedral:OCOC      $/atom:dmc27/O1   $/atom:dmc27/C1   $/atom:dmc27/O2   $/atom:dmc27/C2
    $/dihedral:dmc27/d_O1_C1_O3_C3   @/dihedral:OCOC      $/atom:dmc27/O1   $/atom:dmc27/C1   $/atom:dmc27/O3   $/atom:dmc27/C3
    $/dihedral:dmc27/d_C1_O2_C2_H1   @/dihedral:COCC_est  $/atom:dmc27/C1   $/atom:dmc27/O2   $/atom:dmc27/C2   $/atom:dmc27/H1
    $/dihedral:dmc27/d_C1_O2_C2_H2   @/dihedral:COCC_est  $/atom:dmc27/C1   $/atom:dmc27/O2   $/atom:dmc27/C2   $/atom:dmc27/H2
    $/dihedral:dmc27/d_C1_O2_C2_H3   @/dihedral:COCC_est  $/atom:dmc27/C1   $/atom:dmc27/O2   $/atom:dmc27/C2   $/atom:dmc27/H3
    $/dihedral:dmc27/d_C1_O3_C3_H4   @/dihedral:COCC_est  $/atom:dmc27/C1   $/atom:dmc27/O3   $/atom:dmc27/C3   $/atom:dmc27/H4
    $/dihedral:dmc27/d_C1_O3_C3_H5   @/dihedral:COCC_est  $/atom:dmc27/C1   $/atom:dmc27/O3   $/atom:dmc27/C3   $/atom:dmc27/H5
    $/dihedral:dmc27/d_C1_O3_C3_H6   @/dihedral:COCC_est  $/atom:dmc27/C1   $/atom:dmc27/O3   $/atom:dmc27/C3   $/atom:dmc27/H6
    $/dihedral:dmc28/d_O1_C1_O2_C2   @/dihedral:OCOC      $/atom:dmc28/O1   $/atom:dmc28/C1   $/atom:dmc28/O2   $/atom:dmc28/C2
    $/dihedral:dmc28/d_O1_C1_O3_C3   @/dihedral:OCOC      $/atom:dmc28/O1   $/atom:dmc28/C1   $/atom:dmc28/O3   $/atom:dmc28/C3
    $/dihedral:dmc28/d_C1_O2_C2_H1   @/dihedral:COCC_est  $/atom:dmc28/C1   $/atom:dmc28/O2   $/atom:dmc28/C2   $/atom:dmc28/H1
    $/dihedral:dmc28/d_C1_O2_C2_H2   @/dihedral:COCC_est  $/atom:dmc28/C1   $/atom:dmc28/O2   $/atom:dmc28/C2   $/atom:dmc28/H2
    $/dihedral:dmc28/d_C1_O2_C2_H3   @/dihedral:COCC_est  $/atom:dmc28/C1   $/atom:dmc28/O2   $/atom:dmc28/C2   $/atom:dmc28/H3
    $/dihedral:dmc28/d_C1_O3_C3_H4   @/dihedral:COCC_est  $/atom:dmc28/C1   $/atom:dmc28/O3   $/atom:dmc28/C3   $/atom:dmc28/H4
    $/dihedral:dmc28/d_C1_O3_C3_H5   @/dihedral:COCC_est  $/atom:dmc28/C1   $/atom:dmc28/O3   $/atom:dmc28/C3   $/atom:dmc28/H5
    $/dihedral:dmc28/d_C1_O3_C3_H6   @/dihedral:COCC_est  $/atom:dmc28/C1   $/atom:dmc28/O3   $/atom:dmc28/C3   $/atom:dmc28/H6
    $/dihedral:dmc29/d_O1_C1_O2_C2   @/dihedral:OCOC      $/atom:dmc29/O1   $/atom:dmc29/C1   $/atom:dmc29/O2   $/atom:dmc29/C2
    $/dihedral:dmc29/d_O1_C1_O3_C3   @/dihedral:OCOC      $/atom:dmc29/O1   $/atom:dmc29/C1   $/atom:dmc29/O3   $/atom:dmc29/C3
    $/dihedral:dmc29/d_C1_O2_C2_H1   @/dihedral:COCC_est  $/atom:dmc29/C1   $/atom:dmc29/O2   $/atom:dmc29/C2   $/atom:dmc29/H1
    $/dihedral:dmc29/d_C1_O2_C2_H2   @/dihedral:COCC_est  $/atom:dmc29/C1   $/atom:dmc29/O2   $/atom:dmc29/C2   $/atom:dmc29/H2
    $/dihedral:dmc29/d_C1_O2_C2_H3   @/dihedral:COCC_est  $/atom:dmc29/C1   $/atom:dmc29/O2   $/atom:dmc29/C2   $/atom:dmc29/H3
    $/dihedral:dmc29/d_C1_O3_C3_H4   @/dihedral:COCC_est  $/atom:dmc29/C1   $/atom:dmc29/O3   $/atom:dmc29/C3   $/atom:dmc29/H4
    $/dihedral:dmc29/d_C1_O3_C3_H5   @/dihedral:COCC_est  $/atom:dmc29/C1   $/atom:dmc29/O3   $/atom:dmc29/C3   $/atom:dmc29/H5
    $/dihedral:dmc29/d_C1_O3_C3_H6   @/dihedral:COCC_est  $/atom:dmc29/C1   $/atom:dmc29/O3   $/atom:dmc29/C3   $/atom:dmc29/H6
    $/dihedral:dmc30/d_O1_C1_O2_C2   @/dihedral:OCOC      $/atom:dmc30/O1   $/atom:dmc30/C1   $/atom:dmc30/O2   $/atom:dmc30/C2
    $/dihedral:dmc30/d_O1_C1_O3_C3   @/dihedral:OCOC      $/atom:dmc30/O1   $/atom:dmc30/C1   $/atom:dmc30/O3   $/atom:dmc30/C3
    $/dihedral:dmc30/d_C1_O2_C2_H1   @/dihedral:COCC_est  $/atom:dmc30/C1   $/atom:dmc30/O2   $/atom:dmc30/C2   $/atom:dmc30/H1
    $/dihedral:dmc30/d_C1_O2_C2_H2   @/dihedral:COCC_est  $/atom:dmc30/C1   $/atom:dmc30/O2   $/atom:dmc30/C2   $/atom:dmc30/H2
    $/dihedral:dmc30/d_C1_O2_C2_H3   @/dihedral:COCC_est  $/atom:dmc30/C1   $/atom:dmc30/O2   $/atom:dmc30/C2   $/atom:dmc30/H3
    $/dihedral:dmc30/d_C1_O3_C3_H4   @/dihedral:COCC_est  $/atom:dmc30/C1   $/atom:dmc30/O3   $/atom:dmc30/C3   $/atom:dmc30/H4
    $/dihedral:dmc30/d_C1_O3_C3_H5   @/dihedral:COCC_est  $/atom:dmc30/C1   $/atom:dmc30/O3   $/atom:dmc30/C3   $/atom:dmc30/H5
    $/dihedral:dmc30/d_C1_O3_C3_H6   @/dihedral:COCC_est  $/atom:dmc30/C1   $/atom:dmc30/O3   $/atom:dmc30/C3   $/atom:dmc30/H6
    $/dihedral:dmc31/d_O1_C1_O2_C2   @/dihedral:OCOC      $/atom:dmc31/O1   $/atom:dmc31/C1   $/atom:dmc31/O2   $/atom:dmc31/C2
    $/dihedral:dmc31/d_O1_C1_O3_C3   @/dihedral:OCOC      $/atom:dmc31/O1   $/atom:dmc31/C1   $/atom:dmc31/O3   $/atom:dmc31/C3
    $/dihedral:dmc31/d_C1_O2_C2_H1   @/dihedral:COCC_est  $/atom:dmc31/C1   $/atom:dmc31/O2   $/atom:dmc31/C2   $/atom:dmc31/H1
    $/dihedral:dmc31/d_C1_O2_C2_H2   @/dihedral:COCC_est  $/atom:dmc31/C1   $/atom:dmc31/O2   $/atom:dmc31/C2   $/atom:dmc31/H2
    $/dihedral:dmc31/d_C1_O2_C2_H3   @/dihedral:COCC_est  $/atom:dmc31/C1   $/atom:dmc31/O2   $/atom:dmc31/C2   $/atom:dmc31/H3
    $/dihedral:dmc31/d_C1_O3_C3_H4   @/dihedral:COCC_est  $/atom:dmc31/C1   $/atom:dmc31/O3   $/atom:dmc31/C3   $/atom:dmc31/H4
    $/dihedral:dmc31/d_C1_O3_C3_H5   @/dihedral:COCC_est  $/atom:dmc31/C1   $/atom:dmc31/O3   $/atom:dmc31/C3   $/atom:dmc31/H5
    $/dihedral:dmc31/d_C1_O3_C3_H6   @/dihedral:COCC_est  $/atom:dmc31/C1   $/atom:dmc31/O3   $/atom:dmc31/C3   $/atom:dmc31/H6
    $/dihedral:dmc32/d_O1_C1_O2_C2   @/dihedral:OCOC      $/atom:dmc32/O1   $/atom:dmc32/C1   $/atom:dmc32/O2   $/atom:dmc32/C2
    $/dihedral:dmc32/d_O1_C1_O3_C3   @/dihedral:OCOC      $/atom:dmc32/O1   $/atom:dmc32/C1   $/atom:dmc32/O3   $/atom:dmc32/C3
    $/dihedral:dmc32/d_C1_O2_C2_H1   @/dihedral:COCC_est  $/atom:dmc32/C1   $/atom:dmc32/O2   $/atom:dmc32/C2   $/atom:dmc32/H1
    $/dihedral:dmc32/d_C1_O2_C2_H2   @/dihedral:COCC_est  $/atom:dmc32/C1   $/atom:dmc32/O2   $/atom:dmc32/C2   $/atom:dmc32/H2
    $/dihedral:dmc32/d_C1_O2_C2_H3   @/dihedral:COCC_est  $/atom:dmc32/C1   $/atom:dmc32/O2   $/atom:dmc32/C2   $/atom:dmc32/H3
    $/dihedral:dmc32/d_C1_O3_C3_H4   @/dihedral:COCC_est  $/atom:dmc32/C1   $/atom:dmc32/O3   $/atom:dmc32/C3   $/atom:dmc32/H4
    $/dihedral:dmc32/d_C1_O3_C3_H5   @/dihedral:COCC_est  $/atom:dmc32/C1   $/atom:dmc32/O3   $/atom:dmc32/C3   $/atom:dmc32/H5
    $/dihedral:dmc32/d_C1_O3_C3_H6   @/dihedral:COCC_est  $/atom:dmc32/C1   $/atom:dmc32/O3   $/atom:dmc32/C3   $/atom:dmc32/H6
    $/dihedral:dmc33/d_O1_C1_O2_C2   @/dihedral:OCOC      $/atom:dmc33/O1   $/atom:dmc33/C1   $/atom:dmc33/O2   $/atom:dmc33/C2
    $/dihedral:dmc33/d_O1_C1_O3_C3   @/dihedral:OCOC      $/atom:dmc33/O1   $/atom:dmc33/C1   $/atom:dmc33/O3   $/atom:dmc33/C3
    $/dihedral:dmc33/d_C1_O2_C2_H1   @/dihedral:COCC_est  $/atom:dmc33/C1   $/atom:dmc33/O2   $/atom:dmc33/C2   $/atom:dmc33/H1
    $/dihedral:dmc33/d_C1_O2_C2_H2   @/dihedral:COCC_est  $/atom:dmc33/C1   $/atom:dmc33/O2   $/atom:dmc33/C2   $/atom:dmc33/H2
    $/dihedral:dmc33/d_C1_O2_C2_H3   @/dihedral:COCC_est  $/atom:dmc33/C1   $/atom:dmc33/O2   $/atom:dmc33/C2   $/atom:dmc33/H3
    $/dihedral:dmc33/d_C1_O3_C3_H4   @/dihedral:COCC_est  $/atom:dmc33/C1   $/atom:dmc33/O3   $/atom:dmc33/C3   $/atom:dmc33/H4
    $/dihedral:dmc33/d_C1_O3_C3_H5   @/dihedral:COCC_est  $/atom:dmc33/C1   $/atom:dmc33/O3   $/atom:dmc33/C3   $/atom:dmc33/H5
    $/dihedral:dmc33/d_C1_O3_C3_H6   @/dihedral:COCC_est  $/atom:dmc33/C1   $/atom:dmc33/O3   $/atom:dmc33/C3   $/atom:dmc33/H6
    $/dihedral:dmc34/d_O1_C1_O2_C2   @/dihedral:OCOC      $/atom:dmc34/O1   $/atom:dmc34/C1   $/atom:dmc34/O2   $/atom:dmc34/C2
    $/dihedral:dmc34/d_O1_C1_O3_C3   @/dihedral:OCOC      $/atom:dmc34/O1   $/atom:dmc34/C1   $/atom:dmc34/O3   $/atom:dmc34/C3
    $/dihedral:dmc34/d_C1_O2_C2_H1   @/dihedral:COCC_est  $/atom:dmc34/C1   $/atom:dmc34/O2   $/atom:dmc34/C2   $/atom:dmc34/H1
    $/dihedral:dmc34/d_C1_O2_C2_H2   @/dihedral:COCC_est  $/atom:dmc34/C1   $/atom:dmc34/O2   $/atom:dmc34/C2   $/atom:dmc34/H2
    $/dihedral:dmc34/d_C1_O2_C2_H3   @/dihedral:COCC_est  $/atom:dmc34/C1   $/atom:dmc34/O2   $/atom:dmc34/C2   $/atom:dmc34/H3
    $/dihedral:dmc34/d_C1_O3_C3_H4   @/dihedral:COCC_est  $/atom:dmc34/C1   $/atom:dmc34/O3   $/atom:dmc34/C3   $/atom:dmc34/H4
    $/dihedral:dmc34/d_C1_O3_C3_H5   @/dihedral:COCC_est  $/atom:dmc34/C1   $/atom:dmc34/O3   $/atom:dmc34/C3   $/atom:dmc34/H5
    $/dihedral:dmc34/d_C1_O3_C3_H6   @/dihedral:COCC_est  $/atom:dmc34/C1   $/atom:dmc34/O3   $/atom:dmc34/C3   $/atom:dmc34/H6
    $/dihedral:dmc35/d_O1_C1_O2_C2   @/dihedral:OCOC      $/atom:dmc35/O1   $/atom:dmc35/C1   $/atom:dmc35/O2   $/atom:dmc35/C2
    $/dihedral:dmc35/d_O1_C1_O3_C3   @/dihedral:OCOC      $/atom:dmc35/O1   $/atom:dmc35/C1   $/atom:dmc35/O3   $/atom:dmc35/C3
    $/dihedral:dmc35/d_C1_O2_C2_H1   @/dihedral:COCC_est  $/atom:dmc35/C1   $/atom:dmc35/O2   $/atom:dmc35/C2   $/atom:dmc35/H1
    $/dihedral:dmc35/d_C1_O2_C2_H2   @/dihedral:COCC_est  $/atom:dmc35/C1   $/atom:dmc35/O2   $/atom:dmc35/C2   $/atom:dmc35/H2
    $/dihedral:dmc35/d_C1_O2_C2_H3   @/dihedral:COCC_est  $/atom:dmc35/C1   $/atom:dmc35/O2   $/atom:dmc35/C2   $/atom:dmc35/H3
    $/dihedral:dmc35/d_C1_O3_C3_H4   @/dihedral:COCC_est  $/atom:dmc35/C1   $/atom:dmc35/O3   $/atom:dmc35/C3   $/atom:dmc35/H4
    $/dihedral:dmc35/d_C1_O3_C3_H5   @/dihedral:COCC_est  $/atom:dmc35/C1   $/atom:dmc35/O3   $/atom:dmc35/C3   $/atom:dmc35/H5
    $/dihedral:dmc35/d_C1_O3_C3_H6   @/dihedral:COCC_est  $/atom:dmc35/C1   $/atom:dmc35/O3   $/atom:dmc35/C3   $/atom:dmc35/H6
    $/dihedral:dmc36/d_O1_C1_O2_C2   @/dihedral:OCOC      $/atom:dmc36/O1   $/atom:dmc36/C1   $/atom:dmc36/O2   $/atom:dmc36/C2
    $/dihedral:dmc36/d_O1_C1_O3_C3   @/dihedral:OCOC      $/atom:dmc36/O1   $/atom:dmc36/C1   $/atom:dmc36/O3   $/atom:dmc36/C3
    $/dihedral:dmc36/d_C1_O2_C2_H1   @/dihedral:COCC_est  $/atom:dmc36/C1   $/atom:dmc36/O2   $/atom:dmc36/C2   $/atom:dmc36/H1
    $/dihedral:dmc36/d_C1_O2_C2_H2   @/dihedral:COCC_est  $/atom:dmc36/C1   $/atom:dmc36/O2   $/atom:dmc36/C2   $/atom:dmc36/H2
    $/dihedral:dmc36/d_C1_O2_C2_H3   @/dihedral:COCC_est  $/atom:dmc36/C1   $/atom:dmc36/O2   $/atom:dmc36/C2   $/atom:dmc36/H3
    $/dihedral:dmc36/d_C1_O3_C3_H4   @/dihedral:COCC_est  $/atom:dmc36/C1   $/atom:dmc36/O3   $/atom:dmc36/C3   $/atom:dmc36/H4
    $/dihedral:dmc36/d_C1_O3_C3_H5   @/dihedral:COCC_est  $/atom:dmc36/C1   $/atom:dmc36/O3   $/atom:dmc36/C3   $/atom:dmc36/H5
    $/dihedral:dmc36/d_C1_O3_C3_H6   @/dihedral:COCC_est  $/atom:dmc36/C1   $/atom:dmc36/O3   $/atom:dmc36/C3   $/atom:dmc36/H6
    $/dihedral:dmc37/d_O1_C1_O2_C2   @/dihedral:OCOC      $/atom:dmc37/O1   $/atom:dmc37/C1   $/atom:dmc37/O2   $/atom:dmc37/C2
    $/dihedral:dmc37/d_O1_C1_O3_C3   @/dihedral:OCOC      $/atom:dmc37/O1   $/atom:dmc37/C1   $/atom:dmc37/O3   $/atom:dmc37/C3
    $/dihedral:dmc37/d_C1_O2_C2_H1   @/dihedral:COCC_est  $/atom:dmc37/C1   $/atom:dmc37/O2   $/atom:dmc37/C2   $/atom:dmc37/H1
    $/dihedral:dmc37/d_C1_O2_C2_H2   @/dihedral:COCC_est  $/atom:dmc37/C1   $/atom:dmc37/O2   $/atom:dmc37/C2   $/atom:dmc37/H2
    $/dihedral:dmc37/d_C1_O2_C2_H3   @/dihedral:COCC_est  $/atom:dmc37/C1   $/atom:dmc37/O2   $/atom:dmc37/C2   $/atom:dmc37/H3
    $/dihedral:dmc37/d_C1_O3_C3_H4   @/dihedral:COCC_est  $/atom:dmc37/C1   $/atom:dmc37/O3   $/atom:dmc37/C3   $/atom:dmc37/H4
    $/dihedral:dmc37/d_C1_O3_C3_H5   @/dihedral:COCC_est  $/atom:dmc37/C1   $/atom:dmc37/O3   $/atom:dmc37/C3   $/atom:dmc37/H5
    $/dihedral:dmc37/d_C1_O3_C3_H6   @/dihedral:COCC_est  $/atom:dmc37/C1   $/atom:dmc37/O3   $/atom:dmc37/C3   $/atom:dmc37/H6
    $/dihedral:dmc38/d_O1_C1_O2_C2   @/dihedral:OCOC      $/atom:dmc38/O1   $/atom:dmc38/C1   $/atom:dmc38/O2   $/atom:dmc38/C2
    $/dihedral:dmc38/d_O1_C1_O3_C3   @/dihedral:OCOC      $/atom:dmc38/O1   $/atom:dmc38/C1   $/atom:dmc38/O3   $/atom:dmc38/C3
    $/dihedral:dmc38/d_C1_O2_C2_H1   @/dihedral:COCC_est  $/atom:dmc38/C1   $/atom:dmc38/O2   $/atom:dmc38/C2   $/atom:dmc38/H1
    $/dihedral:dmc38/d_C1_O2_C2_H2   @/dihedral:COCC_est  $/atom:dmc38/C1   $/atom:dmc38/O2   $/atom:dmc38/C2   $/atom:dmc38/H2
    $/dihedral:dmc38/d_C1_O2_C2_H3   @/dihedral:COCC_est  $/atom:dmc38/C1   $/atom:dmc38/O2   $/atom:dmc38/C2   $/atom:dmc38/H3
    $/dihedral:dmc38/d_C1_O3_C3_H4   @/dihedral:COCC_est  $/atom:dmc38/C1   $/atom:dmc38/O3   $/atom:dmc38/C3   $/atom:dmc38/H4
    $/dihedral:dmc38/d_C1_O3_C3_H5   @/dihedral:COCC_est  $/atom:dmc38/C1   $/atom:dmc38/O3   $/atom:dmc38/C3   $/atom:dmc38/H5
    $/dihedral:dmc38/d_C1_O3_C3_H6   @/dihedral:COCC_est  $/atom:dmc38/C1   $/atom:dmc38/O3   $/atom:dmc38/C3   $/atom:dmc38/H6
    $/dihedral:dmc39/d_O1_C1_O2_C2   @/dihedral:OCOC      $/atom:dmc39/O1   $/atom:dmc39/C1   $/atom:dmc39/O2   $/atom:dmc39/C2
    $/dihedral:dmc39/d_O1_C1_O3_C3   @/dihedral:OCOC      $/atom:dmc39/O1   $/atom:dmc39/C1   $/atom:dmc39/O3   $/atom:dmc39/C3
    $/dihedral:dmc39/d_C1_O2_C2_H1   @/dihedral:COCC_est  $/atom:dmc39/C1   $/atom:dmc39/O2   $/atom:dmc39/C2   $/atom:dmc39/H1
    $/dihedral:dmc39/d_C1_O2_C2_H2   @/dihedral:COCC_est  $/atom:dmc39/C1   $/atom:dmc39/O2   $/atom:dmc39/C2   $/atom:dmc39/H2
    $/dihedral:dmc39/d_C1_O2_C2_H3   @/dihedral:COCC_est  $/atom:dmc39/C1   $/atom:dmc39/O2   $/atom:dmc39/C2   $/atom:dmc39/H3
    $/dihedral:dmc39/d_C1_O3_C3_H4   @/dihedral:COCC_est  $/atom:dmc39/C1   $/atom:dmc39/O3   $/atom:dmc39/C3   $/atom:dmc39/H4
    $/dihedral:dmc39/d_C1_O3_C3_H5   @/dihedral:COCC_est  $/atom:dmc39/C1   $/atom:dmc39/O3   $/atom:dmc39/C3   $/atom:dmc39/H5
    $/dihedral:dmc39/d_C1_O3_C3_H6   @/dihedral:COCC_est  $/atom:dmc39/C1   $/atom:dmc39/O3   $/atom:dmc39/C3   $/atom:dmc39/H6
    $/dihedral:dmc40/d_O1_C1_O2_C2   @/dihedral:OCOC      $/atom:dmc40/O1   $/atom:dmc40/C1   $/atom:dmc40/O2   $/atom:dmc40/C2
    $/dihedral:dmc40/d_O1_C1_O3_C3   @/dihedral:OCOC      $/atom:dmc40/O1   $/atom:dmc40/C1   $/atom:dmc40/O3   $/atom:dmc40/C3
    $/dihedral:dmc40/d_C1_O2_C2_H1   @/dihedral:COCC_est  $/atom:dmc40/C1   $/atom:dmc40/O2   $/atom:dmc40/C2   $/atom:dmc40/H1
    $/dihedral:dmc40/d_C1_O2_C2_H2   @/dihedral:COCC_est  $/atom:dmc40/C1   $/atom:dmc40/O2   $/atom:dmc40/C2   $/atom:dmc40/H2
    $/dihedral:dmc40/d_C1_O2_C2_H3   @/dihedral:COCC_est  $/atom:dmc40/C1   $/atom:dmc40/O2   $/atom:dmc40/C2   $/atom:dmc40/H3
    $/dihedral:dmc40/d_C1_O3_C3_H4   @/dihedral:COCC_est  $/atom:dmc40/C1   $/atom:dmc40/O3   $/atom:dmc40/C3   $/atom:dmc40/H4
    $/dihedral:dmc40/d_C1_O3_C3_H5   @/dihedral:COCC_est  $/atom:dmc40/C1   $/atom:dmc40/O3   $/atom:dmc40/C3   $/atom:dmc40/H5
    $/dihedral:dmc40/d_C1_O3_C3_H6   @/dihedral:COCC_est  $/atom:dmc40/C1   $/atom:dmc40/O3   $/atom:dmc40/C3   $/atom:dmc40/H6
    $/dihedral:dmc41/d_O1_C1_O2_C2   @/dihedral:OCOC      $/atom:dmc41/O1   $/atom:dmc41/C1   $/atom:dmc41/O2   $/atom:dmc41/C2
    $/dihedral:dmc41/d_O1_C1_O3_C3   @/dihedral:OCOC      $/atom:dmc41/O1   $/atom:dmc41/C1   $/atom:dmc41/O3   $/atom:dmc41/C3
    $/dihedral:dmc41/d_C1_O2_C2_H1   @/dihedral:COCC_est  $/atom:dmc41/C1   $/atom:dmc41/O2   $/atom:dmc41/C2   $/atom:dmc41/H1
    $/dihedral:dmc41/d_C1_O2_C2_H2   @/dihedral:COCC_est  $/atom:dmc41/C1   $/atom:dmc41/O2   $/atom:dmc41/C2   $/atom:dmc41/H2
    $/dihedral:dmc41/d_C1_O2_C2_H3   @/dihedral:COCC_est  $/atom:dmc41/C1   $/atom:dmc41/O2   $/atom:dmc41/C2   $/atom:dmc41/H3
    $/dihedral:dmc41/d_C1_O3_C3_H4   @/dihedral:COCC_est  $/atom:dmc41/C1   $/atom:dmc41/O3   $/atom:dmc41/C3   $/atom:dmc41/H4
    $/dihedral:dmc41/d_C1_O3_C3_H5   @/dihedral:COCC_est  $/atom:dmc41/C1   $/atom:dmc41/O3   $/atom:dmc41/C3   $/atom:dmc41/H5
    $/dihedral:dmc41/d_C1_O3_C3_H6   @/dihedral:COCC_est  $/atom:dmc41/C1   $/atom:dmc41/O3   $/atom:dmc41/C3   $/atom:dmc41/H6
    $/dihedral:dmc42/d_O1_C1_O2_C2   @/dihedral:OCOC      $/atom:dmc42/O1   $/atom:dmc42/C1   $/atom:dmc42/O2   $/atom:dmc42/C2
    $/dihedral:dmc42/d_O1_C1_O3_C3   @/dihedral:OCOC      $/atom:dmc42/O1   $/atom:dmc42/C1   $/atom:dmc42/O3   $/atom:dmc42/C3
    $/dihedral:dmc42/d_C1_O2_C2_H1   @/dihedral:COCC_est  $/atom:dmc42/C1   $/atom:dmc42/O2   $/atom:dmc42/C2   $/atom:dmc42/H1
    $/dihedral:dmc42/d_C1_O2_C2_H2   @/dihedral:COCC_est  $/atom:dmc42/C1   $/atom:dmc42/O2   $/atom:dmc42/C2   $/atom:dmc42/H2
    $/dihedral:dmc42/d_C1_O2_C2_H3   @/dihedral:COCC_est  $/atom:dmc42/C1   $/atom:dmc42/O2   $/atom:dmc42/C2   $/atom:dmc42/H3
    $/dihedral:dmc42/d_C1_O3_C3_H4   @/dihedral:COCC_est  $/atom:dmc42/C1   $/atom:dmc42/O3   $/atom:dmc42/C3   $/atom:dmc42/H4
    $/dihedral:dmc42/d_C1_O3_C3_H5   @/dihedral:COCC_est  $/atom:dmc42/C1   $/atom:dmc42/O3   $/atom:dmc42/C3   $/atom:dmc42/H5
    $/dihedral:dmc42/d_C1_O3_C3_H6   @/dihedral:COCC_est  $/atom:dmc42/C1   $/atom:dmc42/O3   $/atom:dmc42/C3   $/atom:dmc42/H6
    $/dihedral:dmc43/d_O1_C1_O2_C2   @/dihedral:OCOC      $/atom:dmc43/O1   $/atom:dmc43/C1   $/atom:dmc43/O2   $/atom:dmc43/C2
    $/dihedral:dmc43/d_O1_C1_O3_C3   @/dihedral:OCOC      $/atom:dmc43/O1   $/atom:dmc43/C1   $/atom:dmc43/O3   $/atom:dmc43/C3
    $/dihedral:dmc43/d_C1_O2_C2_H1   @/dihedral:COCC_est  $/atom:dmc43/C1   $/atom:dmc43/O2   $/atom:dmc43/C2   $/atom:dmc43/H1
    $/dihedral:dmc43/d_C1_O2_C2_H2   @/dihedral:COCC_est  $/atom:dmc43/C1   $/atom:dmc43/O2   $/atom:dmc43/C2   $/atom:dmc43/H2
    $/dihedral:dmc43/d_C1_O2_C2_H3   @/dihedral:COCC_est  $/atom:dmc43/C1   $/atom:dmc43/O2   $/atom:dmc43/C2   $/atom:dmc43/H3
    $/dihedral:dmc43/d_C1_O3_C3_H4   @/dihedral:COCC_est  $/atom:dmc43/C1   $/atom:dmc43/O3   $/atom:dmc43/C3   $/atom:dmc43/H4
    $/dihedral:dmc43/d_C1_O3_C3_H5   @/dihedral:COCC_est  $/atom:dmc43/C1   $/atom:dmc43/O3   $/atom:dmc43/C3   $/atom:dmc43/H5
    $/dihedral:dmc43/d_C1_O3_C3_H6   @/dihedral:COCC_est  $/atom:dmc43/C1   $/atom:dmc43/O3   $/atom:dmc43/C3   $/atom:dmc43/H6
    $/dihedral:dmc44/d_O1_C1_O2_C2   @/dihedral:OCOC      $/atom:dmc44/O1   $/atom:dmc44/C1   $/atom:dmc44/O2   $/atom:dmc44/C2
    $/dihedral:dmc44/d_O1_C1_O3_C3   @/dihedral:OCOC      $/atom:dmc44/O1   $/atom:dmc44/C1   $/atom:dmc44/O3   $/atom:dmc44/C3
    $/dihedral:dmc44/d_C1_O2_C2_H1   @/dihedral:COCC_est  $/atom:dmc44/C1   $/atom:dmc44/O2   $/atom:dmc44/C2   $/atom:dmc44/H1
    $/dihedral:dmc44/d_C1_O2_C2_H2   @/dihedral:COCC_est  $/atom:dmc44/C1   $/atom:dmc44/O2   $/atom:dmc44/C2   $/atom:dmc44/H2
    $/dihedral:dmc44/d_C1_O2_C2_H3   @/dihedral:COCC_est  $/atom:dmc44/C1   $/atom:dmc44/O2   $/atom:dmc44/C2   $/atom:dmc44/H3
    $/dihedral:dmc44/d_C1_O3_C3_H4   @/dihedral:COCC_est  $/atom:dmc44/C1   $/atom:dmc44/O3   $/atom:dmc44/C3   $/atom:dmc44/H4
    $/dihedral:dmc44/d_C1_O3_C3_H5   @/dihedral:COCC_est  $/atom:dmc44/C1   $/atom:dmc44/O3   $/atom:dmc44/C3   $/atom:dmc44/H5
    $/dihedral:dmc44/d_C1_O3_C3_H6   @/dihedral:COCC_est  $/atom:dmc44/C1   $/atom:dmc44/O3   $/atom:dmc44/C3   $/atom:dmc44/H6
    $/dihedral:dmc45/d_O1_C1_O2_C2   @/dihedral:OCOC      $/atom:dmc45/O1   $/atom:dmc45/C1   $/atom:dmc45/O2   $/atom:dmc45/C2
    $/dihedral:dmc45/d_O1_C1_O3_C3   @/dihedral:OCOC      $/atom:dmc45/O1   $/atom:dmc45/C1   $/atom:dmc45/O3   $/atom:dmc45/C3
    $/dihedral:dmc45/d_C1_O2_C2_H1   @/dihedral:COCC_est  $/atom:dmc45/C1   $/atom:dmc45/O2   $/atom:dmc45/C2   $/atom:dmc45/H1
    $/dihedral:dmc45/d_C1_O2_C2_H2   @/dihedral:COCC_est  $/atom:dmc45/C1   $/atom:dmc45/O2   $/atom:dmc45/C2   $/atom:dmc45/H2
    $/dihedral:dmc45/d_C1_O2_C2_H3   @/dihedral:COCC_est  $/atom:dmc45/C1   $/atom:dmc45/O2   $/atom:dmc45/C2   $/atom:dmc45/H3
    $/dihedral:dmc45/d_C1_O3_C3_H4   @/dihedral:COCC_est  $/atom:dmc45/C1   $/atom:dmc45/O3   $/atom:dmc45/C3   $/atom:dmc45/H4
    $/dihedral:dmc45/d_C1_O3_C3_H5   @/dihedral:COCC_est  $/atom:dmc45/C1   $/atom:dmc45/O3   $/atom:dmc45/C3   $/atom:dmc45/H5
    $/dihedral:dmc45/d_C1_O3_C3_H6   @/dihedral:COCC_est  $/atom:dmc45/C1   $/atom:dmc45/O3   $/atom:dmc45/C3   $/atom:dmc45/H6
    $/dihedral:ec1/d_O1_C1_O2_C3   @/dihedral:OCOC      $/atom:ec1/O1   $/atom:ec1/C1   $/atom:ec1/O2   $/atom:ec1/C3
    $/dihedral:ec1/d_O1_C1_O3_C2   @/dihedral:OCOC      $/atom:ec1/O1   $/atom:ec1/C1   $/atom:ec1/O3   $/atom:ec1/C2
    $/dihedral:ec1/d_C1_O2_C3_C2   @/dihedral:COCC      $/atom:ec1/C1   $/atom:ec1/O2   $/atom:ec1/C3   $/atom:ec1/C2
    $/dihedral:ec1/d_C1_O3_C2_C3   @/dihedral:COCC      $/atom:ec1/C1   $/atom:ec1/O3   $/atom:ec1/C2   $/atom:ec1/C3
    $/dihedral:ec1/d_O2_C3_C2_O3   @/dihedral:CCOC      $/atom:ec1/O2   $/atom:ec1/C3   $/atom:ec1/C2   $/atom:ec1/O3
    $/dihedral:ec1/d_C3_C2_O3_C1   @/dihedral:CCOC      $/atom:ec1/C3   $/atom:ec1/C2   $/atom:ec1/O3   $/atom:ec1/C1
    $/dihedral:ec2/d_O1_C1_O2_C3   @/dihedral:OCOC      $/atom:ec2/O1   $/atom:ec2/C1   $/atom:ec2/O2   $/atom:ec2/C3
    $/dihedral:ec2/d_O1_C1_O3_C2   @/dihedral:OCOC      $/atom:ec2/O1   $/atom:ec2/C1   $/atom:ec2/O3   $/atom:ec2/C2
    $/dihedral:ec2/d_C1_O2_C3_C2   @/dihedral:COCC      $/atom:ec2/C1   $/atom:ec2/O2   $/atom:ec2/C3   $/atom:ec2/C2
    $/dihedral:ec2/d_C1_O3_C2_C3   @/dihedral:COCC      $/atom:ec2/C1   $/atom:ec2/O3   $/atom:ec2/C2   $/atom:ec2/C3
    $/dihedral:ec2/d_O2_C3_C2_O3   @/dihedral:CCOC      $/atom:ec2/O2   $/atom:ec2/C3   $/atom:ec2/C2   $/atom:ec2/O3
    $/dihedral:ec2/d_C3_C2_O3_C1   @/dihedral:CCOC      $/atom:ec2/C3   $/atom:ec2/C2   $/atom:ec2/O3   $/atom:ec2/C1
    $/dihedral:ec3/d_O1_C1_O2_C3   @/dihedral:OCOC      $/atom:ec3/O1   $/atom:ec3/C1   $/atom:ec3/O2   $/atom:ec3/C3
    $/dihedral:ec3/d_O1_C1_O3_C2   @/dihedral:OCOC      $/atom:ec3/O1   $/atom:ec3/C1   $/atom:ec3/O3   $/atom:ec3/C2
    $/dihedral:ec3/d_C1_O2_C3_C2   @/dihedral:COCC      $/atom:ec3/C1   $/atom:ec3/O2   $/atom:ec3/C3   $/atom:ec3/C2
    $/dihedral:ec3/d_C1_O3_C2_C3   @/dihedral:COCC      $/atom:ec3/C1   $/atom:ec3/O3   $/atom:ec3/C2   $/atom:ec3/C3
    $/dihedral:ec3/d_O2_C3_C2_O3   @/dihedral:CCOC      $/atom:ec3/O2   $/atom:ec3/C3   $/atom:ec3/C2   $/atom:ec3/O3
    $/dihedral:ec3/d_C3_C2_O3_C1   @/dihedral:CCOC      $/atom:ec3/C3   $/atom:ec3/C2   $/atom:ec3/O3   $/atom:ec3/C1
    $/dihedral:ec4/d_O1_C1_O2_C3   @/dihedral:OCOC      $/atom:ec4/O1   $/atom:ec4/C1   $/atom:ec4/O2   $/atom:ec4/C3
    $/dihedral:ec4/d_O1_C1_O3_C2   @/dihedral:OCOC      $/atom:ec4/O1   $/atom:ec4/C1   $/atom:ec4/O3   $/atom:ec4/C2
    $/dihedral:ec4/d_C1_O2_C3_C2   @/dihedral:COCC      $/atom:ec4/C1   $/atom:ec4/O2   $/atom:ec4/C3   $/atom:ec4/C2
    $/dihedral:ec4/d_C1_O3_C2_C3   @/dihedral:COCC      $/atom:ec4/C1   $/atom:ec4/O3   $/atom:ec4/C2   $/atom:ec4/C3
    $/dihedral:ec4/d_O2_C3_C2_O3   @/dihedral:CCOC      $/atom:ec4/O2   $/atom:ec4/C3   $/atom:ec4/C2   $/atom:ec4/O3
    $/dihedral:ec4/d_C3_C2_O3_C1   @/dihedral:CCOC      $/atom:ec4/C3   $/atom:ec4/C2   $/atom:ec4/O3   $/atom:ec4/C1
    $/dihedral:ec5/d_O1_C1_O2_C3   @/dihedral:OCOC      $/atom:ec5/O1   $/atom:ec5/C1   $/atom:ec5/O2   $/atom:ec5/C3
    $/dihedral:ec5/d_O1_C1_O3_C2   @/dihedral:OCOC      $/atom:ec5/O1   $/atom:ec5/C1   $/atom:ec5/O3   $/atom:ec5/C2
    $/dihedral:ec5/d_C1_O2_C3_C2   @/dihedral:COCC      $/atom:ec5/C1   $/atom:ec5/O2   $/atom:ec5/C3   $/atom:ec5/C2
    $/dihedral:ec5/d_C1_O3_C2_C3   @/dihedral:COCC      $/atom:ec5/C1   $/atom:ec5/O3   $/atom:ec5/C2   $/atom:ec5/C3
    $/dihedral:ec5/d_O2_C3_C2_O3   @/dihedral:CCOC      $/atom:ec5/O2   $/atom:ec5/C3   $/atom:ec5/C2   $/atom:ec5/O3
    $/dihedral:ec5/d_C3_C2_O3_C1   @/dihedral:CCOC      $/atom:ec5/C3   $/atom:ec5/C2   $/atom:ec5/O3   $/atom:ec5/C1
    $/dihedral:ec6/d_O1_C1_O2_C3   @/dihedral:OCOC      $/atom:ec6/O1   $/atom:ec6/C1   $/atom:ec6/O2   $/atom:ec6/C3
    $/dihedral:ec6/d_O1_C1_O3_C2   @/dihedral:OCOC      $/atom:ec6/O1   $/atom:ec6/C1   $/atom:ec6/O3   $/atom:ec6/C2
    $/dihedral:ec6/d_C1_O2_C3_C2   @/dihedral:COCC      $/atom:ec6/C1   $/atom:ec6/O2   $/atom:ec6/C3   $/atom:ec6/C2
    $/dihedral:ec6/d_C1_O3_C2_C3   @/dihedral:COCC      $/atom:ec6/C1   $/atom:ec6/O3   $/atom:ec6/C2   $/atom:ec6/C3
    $/dihedral:ec6/d_O2_C3_C2_O3   @/dihedral:CCOC      $/atom:ec6/O2   $/atom:ec6/C3   $/atom:ec6/C2   $/atom:ec6/O3
    $/dihedral:ec6/d_C3_C2_O3_C1   @/dihedral:CCOC      $/atom:ec6/C3   $/atom:ec6/C2   $/atom:ec6/O3   $/atom:ec6/C1
    $/dihedral:ec7/d_O1_C1_O2_C3   @/dihedral:OCOC      $/atom:ec7/O1   $/atom:ec7/C1   $/atom:ec7/O2   $/atom:ec7/C3
    $/dihedral:ec7/d_O1_C1_O3_C2   @/dihedral:OCOC      $/atom:ec7/O1   $/atom:ec7/C1   $/atom:ec7/O3   $/atom:ec7/C2
    $/dihedral:ec7/d_C1_O2_C3_C2   @/dihedral:COCC      $/atom:ec7/C1   $/atom:ec7/O2   $/atom:ec7/C3   $/atom:ec7/C2
    $/dihedral:ec7/d_C1_O3_C2_C3   @/dihedral:COCC      $/atom:ec7/C1   $/atom:ec7/O3   $/atom:ec7/C2   $/atom:ec7/C3
    $/dihedral:ec7/d_O2_C3_C2_O3   @/dihedral:CCOC      $/atom:ec7/O2   $/atom:ec7/C3   $/atom:ec7/C2   $/atom:ec7/O3
    $/dihedral:ec7/d_C3_C2_O3_C1   @/dihedral:CCOC      $/atom:ec7/C3   $/atom:ec7/C2   $/atom:ec7/O3   $/atom:ec7/C1
    $/dihedral:ec8/d_O1_C1_O2_C3   @/dihedral:OCOC      $/atom:ec8/O1   $/atom:ec8/C1   $/atom:ec8/O2   $/atom:ec8/C3
    $/dihedral:ec8/d_O1_C1_O3_C2   @/dihedral:OCOC      $/atom:ec8/O1   $/atom:ec8/C1   $/atom:ec8/O3   $/atom:ec8/C2
    $/dihedral:ec8/d_C1_O2_C3_C2   @/dihedral:COCC      $/atom:ec8/C1   $/atom:ec8/O2   $/atom:ec8/C3   $/atom:ec8/C2
    $/dihedral:ec8/d_C1_O3_C2_C3   @/dihedral:COCC      $/atom:ec8/C1   $/atom:ec8/O3   $/atom:ec8/C2   $/atom:ec8/C3
    $/dihedral:ec8/d_O2_C3_C2_O3   @/dihedral:CCOC      $/atom:ec8/O2   $/atom:ec8/C3   $/atom:ec8/C2   $/atom:ec8/O3
    $/dihedral:ec8/d_C3_C2_O3_C1   @/dihedral:CCOC      $/atom:ec8/C3   $/atom:ec8/C2   $/atom:ec8/O3   $/atom:ec8/C1
    $/dihedral:ec9/d_O1_C1_O2_C3   @/dihedral:OCOC      $/atom:ec9/O1   $/atom:ec9/C1   $/atom:ec9/O2   $/atom:ec9/C3
    $/dihedral:ec9/d_O1_C1_O3_C2   @/dihedral:OCOC      $/atom:ec9/O1   $/atom:ec9/C1   $/atom:ec9/O3   $/atom:ec9/C2
    $/dihedral:ec9/d_C1_O2_C3_C2   @/dihedral:COCC      $/atom:ec9/C1   $/atom:ec9/O2   $/atom:ec9/C3   $/atom:ec9/C2
    $/dihedral:ec9/d_C1_O3_C2_C3   @/dihedral:COCC      $/atom:ec9/C1   $/atom:ec9/O3   $/atom:ec9/C2   $/atom:ec9/C3
    $/dihedral:ec9/d_O2_C3_C2_O3   @/dihedral:CCOC      $/atom:ec9/O2   $/atom:ec9/C3   $/atom:ec9/C2   $/atom:ec9/O3
    $/dihedral:ec9/d_C3_C2_O3_C1   @/dihedral:CCOC      $/atom:ec9/C3   $/atom:ec9/C2   $/atom:ec9/O3   $/atom:ec9/C1
    $/dihedral:ec10/d_O1_C1_O2_C3   @/dihedral:OCOC      $/atom:ec10/O1   $/atom:ec10/C1   $/atom:ec10/O2   $/atom:ec10/C3
    $/dihedral:ec10/d_O1_C1_O3_C2   @/dihedral:OCOC      $/atom:ec10/O1   $/atom:ec10/C1   $/atom:ec10/O3   $/atom:ec10/C2
    $/dihedral:ec10/d_C1_O2_C3_C2   @/dihedral:COCC      $/atom:ec10/C1   $/atom:ec10/O2   $/atom:ec10/C3   $/atom:ec10/C2
    $/dihedral:ec10/d_C1_O3_C2_C3   @/dihedral:COCC      $/atom:ec10/C1   $/atom:ec10/O3   $/atom:ec10/C2   $/atom:ec10/C3
    $/dihedral:ec10/d_O2_C3_C2_O3   @/dihedral:CCOC      $/atom:ec10/O2   $/atom:ec10/C3   $/atom:ec10/C2   $/atom:ec10/O3
    $/dihedral:ec10/d_C3_C2_O3_C1   @/dihedral:CCOC      $/atom:ec10/C3   $/atom:ec10/C2   $/atom:ec10/O3   $/atom:ec10/C1
    $/dihedral:ec11/d_O1_C1_O2_C3   @/dihedral:OCOC      $/atom:ec11/O1   $/atom:ec11/C1   $/atom:ec11/O2   $/atom:ec11/C3
    $/dihedral:ec11/d_O1_C1_O3_C2   @/dihedral:OCOC      $/atom:ec11/O1   $/atom:ec11/C1   $/atom:ec11/O3   $/atom:ec11/C2
    $/dihedral:ec11/d_C1_O2_C3_C2   @/dihedral:COCC      $/atom:ec11/C1   $/atom:ec11/O2   $/atom:ec11/C3   $/atom:ec11/C2
    $/dihedral:ec11/d_C1_O3_C2_C3   @/dihedral:COCC      $/atom:ec11/C1   $/atom:ec11/O3   $/atom:ec11/C2   $/atom:ec11/C3
    $/dihedral:ec11/d_O2_C3_C2_O3   @/dihedral:CCOC      $/atom:ec11/O2   $/atom:ec11/C3   $/atom:ec11/C2   $/atom:ec11/O3
    $/dihedral:ec11/d_C3_C2_O3_C1   @/dihedral:CCOC      $/atom:ec11/C3   $/atom:ec11/C2   $/atom:ec11/O3   $/atom:ec11/C1
    $/dihedral:ec12/d_O1_C1_O2_C3   @/dihedral:OCOC      $/atom:ec12/O1   $/atom:ec12/C1   $/atom:ec12/O2   $/atom:ec12/C3
    $/dihedral:ec12/d_O1_C1_O3_C2   @/dihedral:OCOC      $/atom:ec12/O1   $/atom:ec12/C1   $/atom:ec12/O3   $/atom:ec12/C2
    $/dihedral:ec12/d_C1_O2_C3_C2   @/dihedral:COCC      $/atom:ec12/C1   $/atom:ec12/O2   $/atom:ec12/C3   $/atom:ec12/C2
    $/dihedral:ec12/d_C1_O3_C2_C3   @/dihedral:COCC      $/atom:ec12/C1   $/atom:ec12/O3   $/atom:ec12/C2   $/atom:ec12/C3
    $/dihedral:ec12/d_O2_C3_C2_O3   @/dihedral:CCOC      $/atom:ec12/O2   $/atom:ec12/C3   $/atom:ec12/C2   $/atom:ec12/O3
    $/dihedral:ec12/d_C3_C2_O3_C1   @/dihedral:CCOC      $/atom:ec12/C3   $/atom:ec12/C2   $/atom:ec12/O3   $/atom:ec12/C1
    $/dihedral:ec13/d_O1_C1_O2_C3   @/dihedral:OCOC      $/atom:ec13/O1   $/atom:ec13/C1   $/atom:ec13/O2   $/atom:ec13/C3
    $/dihedral:ec13/d_O1_C1_O3_C2   @/dihedral:OCOC      $/atom:ec13/O1   $/atom:ec13/C1   $/atom:ec13/O3   $/atom:ec13/C2
    $/dihedral:ec13/d_C1_O2_C3_C2   @/dihedral:COCC      $/atom:ec13/C1   $/atom:ec13/O2   $/atom:ec13/C3   $/atom:ec13/C2
    $/dihedral:ec13/d_C1_O3_C2_C3   @/dihedral:COCC      $/atom:ec13/C1   $/atom:ec13/O3   $/atom:ec13/C2   $/atom:ec13/C3
    $/dihedral:ec13/d_O2_C3_C2_O3   @/dihedral:CCOC      $/atom:ec13/O2   $/atom:ec13/C3   $/atom:ec13/C2   $/atom:ec13/O3
    $/dihedral:ec13/d_C3_C2_O3_C1   @/dihedral:CCOC      $/atom:ec13/C3   $/atom:ec13/C2   $/atom:ec13/O3   $/atom:ec13/C1
    $/dihedral:ec14/d_O1_C1_O2_C3   @/dihedral:OCOC      $/atom:ec14/O1   $/atom:ec14/C1   $/atom:ec14/O2   $/atom:ec14/C3
    $/dihedral:ec14/d_O1_C1_O3_C2   @/dihedral:OCOC      $/atom:ec14/O1   $/atom:ec14/C1   $/atom:ec14/O3   $/atom:ec14/C2
    $/dihedral:ec14/d_C1_O2_C3_C2   @/dihedral:COCC      $/atom:ec14/C1   $/atom:ec14/O2   $/atom:ec14/C3   $/atom:ec14/C2
    $/dihedral:ec14/d_C1_O3_C2_C3   @/dihedral:COCC      $/atom:ec14/C1   $/atom:ec14/O3   $/atom:ec14/C2   $/atom:ec14/C3
    $/dihedral:ec14/d_O2_C3_C2_O3   @/dihedral:CCOC      $/atom:ec14/O2   $/atom:ec14/C3   $/atom:ec14/C2   $/atom:ec14/O3
    $/dihedral:ec14/d_C3_C2_O3_C1   @/dihedral:CCOC      $/atom:ec14/C3   $/atom:ec14/C2   $/atom:ec14/O3   $/atom:ec14/C1
    $/dihedral:ec15/d_O1_C1_O2_C3   @/dihedral:OCOC      $/atom:ec15/O1   $/atom:ec15/C1   $/atom:ec15/O2   $/atom:ec15/C3
    $/dihedral:ec15/d_O1_C1_O3_C2   @/dihedral:OCOC      $/atom:ec15/O1   $/atom:ec15/C1   $/atom:ec15/O3   $/atom:ec15/C2
    $/dihedral:ec15/d_C1_O2_C3_C2   @/dihedral:COCC      $/atom:ec15/C1   $/atom:ec15/O2   $/atom:ec15/C3   $/atom:ec15/C2
    $/dihedral:ec15/d_C1_O3_C2_C3   @/dihedral:COCC      $/atom:ec15/C1   $/atom:ec15/O3   $/atom:ec15/C2   $/atom:ec15/C3
    $/dihedral:ec15/d_O2_C3_C2_O3   @/dihedral:CCOC      $/atom:ec15/O2   $/atom:ec15/C3   $/atom:ec15/C2   $/atom:ec15/O3
    $/dihedral:ec15/d_C3_C2_O3_C1   @/dihedral:CCOC      $/atom:ec15/C3   $/atom:ec15/C2   $/atom:ec15/O3   $/atom:ec15/C1
    $/dihedral:ec16/d_O1_C1_O2_C3   @/dihedral:OCOC      $/atom:ec16/O1   $/atom:ec16/C1   $/atom:ec16/O2   $/atom:ec16/C3
    $/dihedral:ec16/d_O1_C1_O3_C2   @/dihedral:OCOC      $/atom:ec16/O1   $/atom:ec16/C1   $/atom:ec16/O3   $/atom:ec16/C2
    $/dihedral:ec16/d_C1_O2_C3_C2   @/dihedral:COCC      $/atom:ec16/C1   $/atom:ec16/O2   $/atom:ec16/C3   $/atom:ec16/C2
    $/dihedral:ec16/d_C1_O3_C2_C3   @/dihedral:COCC      $/atom:ec16/C1   $/atom:ec16/O3   $/atom:ec16/C2   $/atom:ec16/C3
    $/dihedral:ec16/d_O2_C3_C2_O3   @/dihedral:CCOC      $/atom:ec16/O2   $/atom:ec16/C3   $/atom:ec16/C2   $/atom:ec16/O3
    $/dihedral:ec16/d_C3_C2_O3_C1   @/dihedral:CCOC      $/atom:ec16/C3   $/atom:ec16/C2   $/atom:ec16/O3   $/atom:ec16/C1
    $/dihedral:ec17/d_O1_C1_O2_C3   @/dihedral:OCOC      $/atom:ec17/O1   $/atom:ec17/C1   $/atom:ec17/O2   $/atom:ec17/C3
    $/dihedral:ec17/d_O1_C1_O3_C2   @/dihedral:OCOC      $/atom:ec17/O1   $/atom:ec17/C1   $/atom:ec17/O3   $/atom:ec17/C2
    $/dihedral:ec17/d_C1_O2_C3_C2   @/dihedral:COCC      $/atom:ec17/C1   $/atom:ec17/O2   $/atom:ec17/C3   $/atom:ec17/C2
    $/dihedral:ec17/d_C1_O3_C2_C3   @/dihedral:COCC      $/atom:ec17/C1   $/atom:ec17/O3   $/atom:ec17/C2   $/atom:ec17/C3
    $/dihedral:ec17/d_O2_C3_C2_O3   @/dihedral:CCOC      $/atom:ec17/O2   $/atom:ec17/C3   $/atom:ec17/C2   $/atom:ec17/O3
    $/dihedral:ec17/d_C3_C2_O3_C1   @/dihedral:CCOC      $/atom:ec17/C3   $/atom:ec17/C2   $/atom:ec17/O3   $/atom:ec17/C1
    $/dihedral:ec18/d_O1_C1_O2_C3   @/dihedral:OCOC      $/atom:ec18/O1   $/atom:ec18/C1   $/atom:ec18/O2   $/atom:ec18/C3
    $/dihedral:ec18/d_O1_C1_O3_C2   @/dihedral:OCOC      $/atom:ec18/O1   $/atom:ec18/C1   $/atom:ec18/O3   $/atom:ec18/C2
    $/dihedral:ec18/d_C1_O2_C3_C2   @/dihedral:COCC      $/atom:ec18/C1   $/atom:ec18/O2   $/atom:ec18/C3   $/atom:ec18/C2
    $/dihedral:ec18/d_C1_O3_C2_C3   @/dihedral:COCC      $/atom:ec18/C1   $/atom:ec18/O3   $/atom:ec18/C2   $/atom:ec18/C3
    $/dihedral:ec18/d_O2_C3_C2_O3   @/dihedral:CCOC      $/atom:ec18/O2   $/atom:ec18/C3   $/atom:ec18/C2   $/atom:ec18/O3
    $/dihedral:ec18/d_C3_C2_O3_C1   @/dihedral:CCOC      $/atom:ec18/C3   $/atom:ec18/C2   $/atom:ec18/O3   $/atom:ec18/C1
    $/dihedral:ec19/d_O1_C1_O2_C3   @/dihedral:OCOC      $/atom:ec19/O1   $/atom:ec19/C1   $/atom:ec19/O2   $/atom:ec19/C3
    $/dihedral:ec19/d_O1_C1_O3_C2   @/dihedral:OCOC      $/atom:ec19/O1   $/atom:ec19/C1   $/atom:ec19/O3   $/atom:ec19/C2
    $/dihedral:ec19/d_C1_O2_C3_C2   @/dihedral:COCC      $/atom:ec19/C1   $/atom:ec19/O2   $/atom:ec19/C3   $/atom:ec19/C2
    $/dihedral:ec19/d_C1_O3_C2_C3   @/dihedral:COCC      $/atom:ec19/C1   $/atom:ec19/O3   $/atom:ec19/C2   $/atom:ec19/C3
    $/dihedral:ec19/d_O2_C3_C2_O3   @/dihedral:CCOC      $/atom:ec19/O2   $/atom:ec19/C3   $/atom:ec19/C2   $/atom:ec19/O3
    $/dihedral:ec19/d_C3_C2_O3_C1   @/dihedral:CCOC      $/atom:ec19/C3   $/atom:ec19/C2   $/atom:ec19/O3   $/atom:ec19/C1
