    $/bond:ec_molecules[0]/b_C1_O1   @/bond:CO_double    $/atom:ec_molecules[0]/C1   $/atom:ec_molecules[0]/O1
    $/bond:ec_molecules[0]/b_C1_O2   @/bond:CO_single    $/atom:ec_molecules[0]/C1   $/atom:ec_molecules[0]/O2
    $/bond:ec_molecules[0]/b_C1_O3   @/bond:CO_single    $/atom:ec_molecules[0]/C1   $/atom:ec_molecules[0]/O3
    $/bond:ec_molecules[0]/b_O2_C3   @/bond:CO_single    $/atom:ec_molecules[0]/O2   $/atom:ec_molecules[0]/C3
    $/bond:ec_molecules[0]/b_O3_C2   @/bond:CO_single    $/atom:ec_molecules[0]/O3   $/atom:ec_molecules[0]/C2
    $/bond:ec_molecules[0]/b_C2_C3   @/bond:CC_single    $/atom:ec_molecules[0]/C2   $/atom:ec_molecules[0]/C3
    $/bond:ec_molecules[0]/b_C3_H1   @/bond:CH_sp3       $/atom:ec_molecules[0]/C3   $/atom:ec_molecules[0]/H1
    $/bond:ec_molecules[0]/b_C3_H2   @/bond:CH_sp3       $/atom:ec_molecules[0]/C3   $/atom:ec_molecules[0]/H2
    $/bond:ec_molecules[0]/b_C2_H3   @/bond:CH_sp3       $/atom:ec_molecules[0]/C2   $/atom:ec_molecules[0]/H3
    $/bond:ec_molecules[0]/b_C2_H4   @/bond:CH_sp3       $/atom:ec_molecules[0]/C2   $/atom:ec_molecules[0]/H4
    $/bond:ec_molecules[1]/b_C1_O1   @/bond:CO_double    $/atom:ec_molecules[1]/C1   $/atom:ec_molecules[1]/O1
    $/bond:ec_molecules[1]/b_C1_O2   @/bond:CO_single    $/atom:ec_molecules[1]/C1   $/atom:ec_molecules[1]/O2
    $/bond:ec_molecules[1]/b_C1_O3   @/bond:CO_single    $/atom:ec_molecules[1]/C1   $/atom:ec_molecules[1]/O3
    $/bond:ec_molecules[1]/b_O2_C3   @/bond:CO_single    $/atom:ec_molecules[1]/O2   $/atom:ec_molecules[1]/C3
    $/bond:ec_molecules[1]/b_O3_C2   @/bond:CO_single    $/atom:ec_molecules[1]/O3   $/atom:ec_molecules[1]/C2
    $/bond:ec_molecules[1]/b_C2_C3   @/bond:CC_single    $/atom:ec_molecules[1]/C2   $/atom:ec_molecules[1]/C3
    $/bond:ec_molecules[1]/b_C3_H1   @/bond:CH_sp3       $/atom:ec_molecules[1]/C3   $/atom:ec_molecules[1]/H1
    $/bond:ec_molecules[1]/b_C3_H2   @/bond:CH_sp3       $/atom:ec_molecules[1]/C3   $/atom:ec_molecules[1]/H2
    $/bond:ec_molecules[1]/b_C2_H3   @/bond:CH_sp3       $/atom:ec_molecules[1]/C2   $/atom:ec_molecules[1]/H3
    $/bond:ec_molecules[1]/b_C2_H4   @/bond:CH_sp3       $/atom:ec_molecules[1]/C2   $/atom:ec_molecules[1]/H4
    $/bond:pf6_ions[0]/PF1    @/bond:PF      $/atom:pf6_ions[0]/P1   $/atom:pf6_ions[0]/F1
    $/bond:pf6_ions[0]/PF2    @/bond:PF      $/atom:pf6_ions[0]/P1   $/atom:pf6_ions[0]/F2
    $/bond:pf6_ions[0]/PF3    @/bond:PF      $/atom:pf6_ions[0]/P1   $/atom:pf6_ions[0]/F3
    $/bond:pf6_ions[0]/PF4    @/bond:PF      $/atom:pf6_ions[0]/P1   $/atom:pf6_ions[0]/F4
    $/bond:pf6_ions[0]/PF5    @/bond:PF      $/atom:pf6_ions[0]/P1   $/atom:pf6_ions[0]/F5
    $/bond:pf6_ions[0]/PF6    @/bond:PF      $/atom:pf6_ions[0]/P1   $/atom:pf6_ions[0]/F6
