$/atom:ec_molecules[0]/C1 $/mol:ec_molecules[0] @/atom:opls_209 +0.52 0.0 0.0 0.0
$/atom:ec_molecules[0]/O1 $/mol:ec_molecules[0] @/atom:opls_211 -0.50 1.229 0.0 0.0
$/atom:ec_molecules[0]/O2 $/mol:ec_molecules[0] @/atom:opls_156 -0.35 -0.68 1.2 0.0
$/atom:ec_molecules[0]/O3 $/mol:ec_molecules[0] @/atom:opls_156 -0.35 0.68 1.2 0.0
$/atom:ec_molecules[0]/C2 $/mol:ec_molecules[0] @/atom:opls_136 +0.22 1.8 1.8 0.0
$/atom:ec_molecules[0]/C3 $/mol:ec_molecules[0] @/atom:opls_136 +0.22 -1.8 1.8 0.0
$/atom:ec_molecules[0]/H1 $/mol:ec_molecules[0] @/atom:opls_140 +0.06 -2.3 1.2 0.89
$/atom:ec_molecules[0]/H2 $/mol:ec_molecules[0] @/atom:opls_140 +0.06 -2.3 1.2 -0.89
$/atom:ec_molecules[0]/H3 $/mol:ec_molecules[0] @/atom:opls_140 +0.06 2.3 1.2 0.89
$/atom:ec_molecules[0]/H4 $/mol:ec_molecules[0] @/atom:opls_140 +0.06 2.3 1.2 -0.89
$/atom:ec_molecules[1]/C1 $/mol:ec_molecules[1] @/atom:opls_209 +0.52 0.0 0.0 0.0
$/atom:ec_molecules[1]/O1 $/mol:ec_molecules[1] @/atom:opls_211 -0.50 1.229 0.0 0.0
$/atom:ec_molecules[1]/O2 $/mol:ec_molecules[1] @/atom:opls_156 -0.35 -0.68 1.2 0.0
$/atom:ec_molecules[1]/O3 $/mol:ec_molecules[1] @/atom:opls_156 -0.35 0.68 1.2 0.0
$/atom:ec_molecules[1]/C2 $/mol:ec_molecules[1] @/atom:opls_136 +0.22 1.8 1.8 0.0
$/atom:ec_molecules[1]/C3 $/mol:ec_molecules[1] @/atom:opls_136 +0.22 -1.8 1.8 0.0
$/atom:ec_molecules[1]/H1 $/mol:ec_molecules[1] @/atom:opls_140 +0.06 -2.3 1.2 0.89
$/atom:ec_molecules[1]/H2 $/mol:ec_molecules[1] @/atom:opls_140 +0.06 -2.3 1.2 -0.89
$/atom:ec_molecules[1]/H3 $/mol:ec_molecules[1] @/atom:opls_140 +0.06 2.3 1.2 0.89
$/atom:ec_molecules[1]/H4 $/mol:ec_molecules[1] @/atom:opls_140 +0.06 2.3 1.2 -0.89
$/atom:li_ions[0]/Li1 $/mol:li_ions[0] @/atom:Li/Li 1.0 0.0 0.0 0.0
$/atom:pf6_ions[0]/P1 $/mol:pf6_ions[0] @/atom:opls_901 +1.34 0.0 0.0 0.0
$/atom:pf6_ions[0]/F1 $/mol:pf6_ions[0] @/atom:opls_303 -0.39 1.59 0.0 0.0
$/atom:pf6_ions[0]/F2 $/mol:pf6_ions[0] @/atom:opls_303 -0.39 -1.59 0.0 0.0
$/atom:pf6_ions[0]/F3 $/mol:pf6_ions[0] @/atom:opls_303 -0.39 0.0 1.59 0.0
$/atom:pf6_ions[0]/F4 $/mol:pf6_ions[0] @/atom:opls_303 -0.39 0.0 -1.59 0.0
$/atom:pf6_ions[0]/F5 $/mol:pf6_ions[0] @/atom:opls_303 -0.39 0.0 0.0 1.59
$/atom:pf6_ions[0]/F6 $/mol:pf6_ions[0] @/atom:opls_303 -0.39 0.0 0.0 -1.59
