    $/bond:dmc1/b_C1_O1   @/bond:CO_double    $/atom:dmc1/C1   $/atom:dmc1/O1
    $/bond:dmc1/b_C1_O2   @/bond:CO_single    $/atom:dmc1/C1   $/atom:dmc1/O2
    $/bond:dmc1/b_C1_O3   @/bond:CO_single    $/atom:dmc1/C1   $/atom:dmc1/O3
    $/bond:dmc1/b_O2_C2   @/bond:CO_single    $/atom:dmc1/O2   $/atom:dmc1/C2
    $/bond:dmc1/b_O3_C3   @/bond:CO_single    $/atom:dmc1/O3   $/atom:dmc1/C3
    $/bond:dmc1/b_C2_H1   @/bond:CH_sp3       $/atom:dmc1/C2   $/atom:dmc1/H1
    $/bond:dmc1/b_C2_H2   @/bond:CH_sp3       $/atom:dmc1/C2   $/atom:dmc1/H2
    $/bond:dmc1/b_C2_H3   @/bond:CH_sp3       $/atom:dmc1/C2   $/atom:dmc1/H3
    $/bond:dmc1/b_C3_H4   @/bond:CH_sp3       $/atom:dmc1/C3   $/atom:dmc1/H4
    $/bond:dmc1/b_C3_H5   @/bond:CH_sp3       $/atom:dmc1/C3   $/atom:dmc1/H5
    $/bond:dmc1/b_C3_H6   @/bond:CH_sp3       $/atom:dmc1/C3   $/atom:dmc1/H6
    $/bond:dmc2/b_C1_O1   @/bond:CO_double    $/atom:dmc2/C1   $/atom:dmc2/O1
    $/bond:dmc2/b_C1_O2   @/bond:CO_single    $/atom:dmc2/C1   $/atom:dmc2/O2
    $/bond:dmc2/b_C1_O3   @/bond:CO_single    $/atom:dmc2/C1   $/atom:dmc2/O3
    $/bond:dmc2/b_O2_C2   @/bond:CO_single    $/atom:dmc2/O2   $/atom:dmc2/C2
    $/bond:dmc2/b_O3_C3   @/bond:CO_single    $/atom:dmc2/O3   $/atom:dmc2/C3
    $/bond:dmc2/b_C2_H1   @/bond:CH_sp3       $/atom:dmc2/C2   $/atom:dmc2/H1
    $/bond:dmc2/b_C2_H2   @/bond:CH_sp3       $/atom:dmc2/C2   $/atom:dmc2/H2
    $/bond:dmc2/b_C2_H3   @/bond:CH_sp3       $/atom:dmc2/C2   $/atom:dmc2/H3
    $/bond:dmc2/b_C3_H4   @/bond:CH_sp3       $/atom:dmc2/C3   $/atom:dmc2/H4
    $/bond:dmc2/b_C3_H5   @/bond:CH_sp3       $/atom:dmc2/C3   $/atom:dmc2/H5
    $/bond:dmc2/b_C3_H6   @/bond:CH_sp3       $/atom:dmc2/C3   $/atom:dmc2/H6
    $/bond:dmc3/b_C1_O1   @/bond:CO_double    $/atom:dmc3/C1   $/atom:dmc3/O1
    $/bond:dmc3/b_C1_O2   @/bond:CO_single    $/atom:dmc3/C1   $/atom:dmc3/O2
    $/bond:dmc3/b_C1_O3   @/bond:CO_single    $/atom:dmc3/C1   $/atom:dmc3/O3
    $/bond:dmc3/b_O2_C2   @/bond:CO_single    $/atom:dmc3/O2   $/atom:dmc3/C2
    $/bond:dmc3/b_O3_C3   @/bond:CO_single    $/atom:dmc3/O3   $/atom:dmc3/C3
    $/bond:dmc3/b_C2_H1   @/bond:CH_sp3       $/atom:dmc3/C2   $/atom:dmc3/H1
    $/bond:dmc3/b_C2_H2   @/bond:CH_sp3       $/atom:dmc3/C2   $/atom:dmc3/H2
    $/bond:dmc3/b_C2_H3   @/bond:CH_sp3       $/atom:dmc3/C2   $/atom:dmc3/H3
    $/bond:dmc3/b_C3_H4   @/bond:CH_sp3       $/atom:dmc3/C3   $/atom:dmc3/H4
    $/bond:dmc3/b_C3_H5   @/bond:CH_sp3       $/atom:dmc3/C3   $/atom:dmc3/H5
    $/bond:dmc3/b_C3_H6   @/bond:CH_sp3       $/atom:dmc3/C3   $/atom:dmc3/H6
    $/bond:dmc4/b_C1_O1   @/bond:CO_double    $/atom:dmc4/C1   $/atom:dmc4/O1
    $/bond:dmc4/b_C1_O2   @/bond:CO_single    $/atom:dmc4/C1   $/atom:dmc4/O2
    $/bond:dmc4/b_C1_O3   @/bond:CO_single    $/atom:dmc4/C1   $/atom:dmc4/O3
    $/bond:dmc4/b_O2_C2   @/bond:CO_single    $/atom:dmc4/O2   $/atom:dmc4/C2
    $/bond:dmc4/b_O3_C3   @/bond:CO_single    $/atom:dmc4/O3   $/atom:dmc4/C3
    $/bond:dmc4/b_C2_H1   @/bond:CH_sp3       $/atom:dmc4/C2   $/atom:dmc4/H1
    $/bond:dmc4/b_C2_H2   @/bond:CH_sp3       $/atom:dmc4/C2   $/atom:dmc4/H2
    $/bond:dmc4/b_C2_H3   @/bond:CH_sp3       $/atom:dmc4/C2   $/atom:dmc4/H3
    $/bond:dmc4/b_C3_H4   @/bond:CH_sp3       $/atom:dmc4/C3   $/atom:dmc4/H4
    $/bond:dmc4/b_C3_H5   @/bond:CH_sp3       $/atom:dmc4/C3   $/atom:dmc4/H5
    $/bond:dmc4/b_C3_H6   @/bond:CH_sp3       $/atom:dmc4/C3   $/atom:dmc4/H6
    $/bond:dmc5/b_C1_O1   @/bond:CO_double    $/atom:dmc5/C1   $/atom:dmc5/O1
    $/bond:dmc5/b_C1_O2   @/bond:CO_single    $/atom:dmc5/C1   $/atom:dmc5/O2
    $/bond:dmc5/b_C1_O3   @/bond:CO_single    $/atom:dmc5/C1   $/atom:dmc5/O3
    $/bond:dmc5/b_O2_C2   @/bond:CO_single    $/atom:dmc5/O2   $/atom:dmc5/C2
    $/bond:dmc5/b_O3_C3   @/bond:CO_single    $/atom:dmc5/O3   $/atom:dmc5/C3
    $/bond:dmc5/b_C2_H1   @/bond:CH_sp3       $/atom:dmc5/C2   $/atom:dmc5/H1
    $/bond:dmc5/b_C2_H2   @/bond:CH_sp3       $/atom:dmc5/C2   $/atom:dmc5/H2
    $/bond:dmc5/b_C2_H3   @/bond:CH_sp3       $/atom:dmc5/C2   $/atom:dmc5/H3
    $/bond:dmc5/b_C3_H4   @/bond:CH_sp3       $/atom:dmc5/C3   $/atom:dmc5/H4
    $/bond:dmc5/b_C3_H5   @/bond:CH_sp3       $/atom:dmc5/C3   $/atom:dmc5/H5
    $/bond:dmc5/b_C3_H6   @/bond:CH_sp3       $/atom:dmc5/C3   $/atom:dmc5/H6
    $/bond:dmc6/b_C1_O1   @/bond:CO_double    $/atom:dmc6/C1   $/atom:dmc6/O1
    $/bond:dmc6/b_C1_O2   @/bond:CO_single    $/atom:dmc6/C1   $/atom:dmc6/O2
    $/bond:dmc6/b_C1_O3   @/bond:CO_single    $/atom:dmc6/C1   $/atom:dmc6/O3
    $/bond:dmc6/b_O2_C2   @/bond:CO_single    $/atom:dmc6/O2   $/atom:dmc6/C2
    $/bond:dmc6/b_O3_C3   @/bond:CO_single    $/atom:dmc6/O3   $/atom:dmc6/C3
    $/bond:dmc6/b_C2_H1   @/bond:CH_sp3       $/atom:dmc6/C2   $/atom:dmc6/H1
    $/bond:dmc6/b_C2_H2   @/bond:CH_sp3       $/atom:dmc6/C2   $/atom:dmc6/H2
    $/bond:dmc6/b_C2_H3   @/bond:CH_sp3       $/atom:dmc6/C2   $/atom:dmc6/H3
    $/bond:dmc6/b_C3_H4   @/bond:CH_sp3       $/atom:dmc6/C3   $/atom:dmc6/H4
    $/bond:dmc6/b_C3_H5   @/bond:CH_sp3       $/atom:dmc6/C3   $/atom:dmc6/H5
    $/bond:dmc6/b_C3_H6   @/bond:CH_sp3       $/atom:dmc6/C3   $/atom:dmc6/H6
    $/bond:dmc7/b_C1_O1   @/bond:CO_double    $/atom:dmc7/C1   $/atom:dmc7/O1
    $/bond:dmc7/b_C1_O2   @/bond:CO_single    $/atom:dmc7/C1   $/atom:dmc7/O2
    $/bond:dmc7/b_C1_O3   @/bond:CO_single    $/atom:dmc7/C1   $/atom:dmc7/O3
    $/bond:dmc7/b_O2_C2   @/bond:CO_single    $/atom:dmc7/O2   $/atom:dmc7/C2
    $/bond:dmc7/b_O3_C3   @/bond:CO_single    $/atom:dmc7/O3   $/atom:dmc7/C3
    $/bond:dmc7/b_C2_H1   @/bond:CH_sp3       $/atom:dmc7/C2   $/atom:dmc7/H1
    $/bond:dmc7/b_C2_H2   @/bond:CH_sp3       $/atom:dmc7/C2   $/atom:dmc7/H2
    $/bond:dmc7/b_C2_H3   @/bond:CH_sp3       $/atom:dmc7/C2   $/atom:dmc7/H3
    $/bond:dmc7/b_C3_H4   @/bond:CH_sp3       $/atom:dmc7/C3   $/atom:dmc7/H4
    $/bond:dmc7/b_C3_H5   @/bond:CH_sp3       $/atom:dmc7/C3   $/atom:dmc7/H5
    $/bond:dmc7/b_C3_H6   @/bond:CH_sp3       $/atom:dmc7/C3   $/atom:dmc7/H6
    $/bond:dmc8/b_C1_O1   @/bond:CO_double    $/atom:dmc8/C1   $/atom:dmc8/O1
    $/bond:dmc8/b_C1_O2   @/bond:CO_single    $/atom:dmc8/C1   $/atom:dmc8/O2
    $/bond:dmc8/b_C1_O3   @/bond:CO_single    $/atom:dmc8/C1   $/atom:dmc8/O3
    $/bond:dmc8/b_O2_C2   @/bond:CO_single    $/atom:dmc8/O2   $/atom:dmc8/C2
    $/bond:dmc8/b_O3_C3   @/bond:CO_single    $/atom:dmc8/O3   $/atom:dmc8/C3
    $/bond:dmc8/b_C2_H1   @/bond:CH_sp3       $/atom:dmc8/C2   $/atom:dmc8/H1
    $/bond:dmc8/b_C2_H2   @/bond:CH_sp3       $/atom:dmc8/C2   $/atom:dmc8/H2
    $/bond:dmc8/b_C2_H3   @/bond:CH_sp3       $/atom:dmc8/C2   $/atom:dmc8/H3
    $/bond:dmc8/b_C3_H4   @/bond:CH_sp3       $/atom:dmc8/C3   $/atom:dmc8/H4
    $/bond:dmc8/b_C3_H5   @/bond:CH_sp3       $/atom:dmc8/C3   $/atom:dmc8/H5
    $/bond:dmc8/b_C3_H6   @/bond:CH_sp3       $/atom:dmc8/C3   $/atom:dmc8/H6
    $/bond:dmc9/b_C1_O1   @/bond:CO_double    $/atom:dmc9/C1   $/atom:dmc9/O1
    $/bond:dmc9/b_C1_O2   @/bond:CO_single    $/atom:dmc9/C1   $/atom:dmc9/O2
    $/bond:dmc9/b_C1_O3   @/bond:CO_single    $/atom:dmc9/C1   $/atom:dmc9/O3
    $/bond:dmc9/b_O2_C2   @/bond:CO_single    $/atom:dmc9/O2   $/atom:dmc9/C2
    $/bond:dmc9/b_O3_C3   @/bond:CO_single    $/atom:dmc9/O3   $/atom:dmc9/C3
    $/bond:dmc9/b_C2_H1   @/bond:CH_sp3       $/atom:dmc9/C2   $/atom:dmc9/H1
    $/bond:dmc9/b_C2_H2   @/bond:CH_sp3       $/atom:dmc9/C2   $/atom:dmc9/H2
    $/bond:dmc9/b_C2_H3   @/bond:CH_sp3       $/atom:dmc9/C2   $/atom:dmc9/H3
    $/bond:dmc9/b_C3_H4   @/bond:CH_sp3       $/atom:dmc9/C3   $/atom:dmc9/H4
    $/bond:dmc9/b_C3_H5   @/bond:CH_sp3       $/atom:dmc9/C3   $/atom:dmc9/H5
    $/bond:dmc9/b_C3_H6   @/bond:CH_sp3       $/atom:dmc9/C3   $/atom:dmc9/H6
    $/bond:dmc10/b_C1_O1   @/bond:CO_double    $/atom:dmc10/C1   $/atom:dmc10/O1
    $/bond:dmc10/b_C1_O2   @/bond:CO_single    $/atom:dmc10/C1   $/atom:dmc10/O2
    $/bond:dmc10/b_C1_O3   @/bond:CO_single    $/atom:dmc10/C1   $/atom:dmc10/O3
    $/bond:dmc10/b_O2_C2   @/bond:CO_single    $/atom:dmc10/O2   $/atom:dmc10/C2
    $/bond:dmc10/b_O3_C3   @/bond:CO_single    $/atom:dmc10/O3   $/atom:dmc10/C3
    $/bond:dmc10/b_C2_H1   @/bond:CH_sp3       $/atom:dmc10/C2   $/atom:dmc10/H1
    $/bond:dmc10/b_C2_H2   @/bond:CH_sp3       $/atom:dmc10/C2   $/atom:dmc10/H2
    $/bond:dmc10/b_C2_H3   @/bond:CH_sp3       $/atom:dmc10/C2   $/atom:dmc10/H3
    $/bond:dmc10/b_C3_H4   @/bond:CH_sp3       $/atom:dmc10/C3   $/atom:dmc10/H4
    $/bond:dmc10/b_C3_H5   @/bond:CH_sp3       $/atom:dmc10/C3   $/atom:dmc10/H5
    $/bond:dmc10/b_C3_H6   @/bond:CH_sp3       $/atom:dmc10/C3   $/atom:dmc10/H6
    $/bond:dmc11/b_C1_O1   @/bond:CO_double    $/atom:dmc11/C1   $/atom:dmc11/O1
    $/bond:dmc11/b_C1_O2   @/bond:CO_single    $/atom:dmc11/C1   $/atom:dmc11/O2
    $/bond:dmc11/b_C1_O3   @/bond:CO_single    $/atom:dmc11/C1   $/atom:dmc11/O3
    $/bond:dmc11/b_O2_C2   @/bond:CO_single    $/atom:dmc11/O2   $/atom:dmc11/C2
    $/bond:dmc11/b_O3_C3   @/bond:CO_single    $/atom:dmc11/O3   $/atom:dmc11/C3
    $/bond:dmc11/b_C2_H1   @/bond:CH_sp3       $/atom:dmc11/C2   $/atom:dmc11/H1
    $/bond:dmc11/b_C2_H2   @/bond:CH_sp3       $/atom:dmc11/C2   $/atom:dmc11/H2
    $/bond:dmc11/b_C2_H3   @/bond:CH_sp3       $/atom:dmc11/C2   $/atom:dmc11/H3
    $/bond:dmc11/b_C3_H4   @/bond:CH_sp3       $/atom:dmc11/C3   $/atom:dmc11/H4
    $/bond:dmc11/b_C3_H5   @/bond:CH_sp3       $/atom:dmc11/C3   $/atom:dmc11/H5
    $/bond:dmc11/b_C3_H6   @/bond:CH_sp3       $/atom:dmc11/C3   $/atom:dmc11/H6
    $/bond:dmc12/b_C1_O1   @/bond:CO_double    $/atom:dmc12/C1   $/atom:dmc12/O1
    $/bond:dmc12/b_C1_O2   @/bond:CO_single    $/atom:dmc12/C1   $/atom:dmc12/O2
    $/bond:dmc12/b_C1_O3   @/bond:CO_single    $/atom:dmc12/C1   $/atom:dmc12/O3
    $/bond:dmc12/b_O2_C2   @/bond:CO_single    $/atom:dmc12/O2   $/atom:dmc12/C2
    $/bond:dmc12/b_O3_C3   @/bond:CO_single    $/atom:dmc12/O3   $/atom:dmc12/C3
    $/bond:dmc12/b_C2_H1   @/bond:CH_sp3       $/atom:dmc12/C2   $/atom:dmc12/H1
    $/bond:dmc12/b_C2_H2   @/bond:CH_sp3       $/atom:dmc12/C2   $/atom:dmc12/H2
    $/bond:dmc12/b_C2_H3   @/bond:CH_sp3       $/atom:dmc12/C2   $/atom:dmc12/H3
    $/bond:dmc12/b_C3_H4   @/bond:CH_sp3       $/atom:dmc12/C3   $/atom:dmc12/H4
    $/bond:dmc12/b_C3_H5   @/bond:CH_sp3       $/atom:dmc12/C3   $/atom:dmc12/H5
    $/bond:dmc12/b_C3_H6   @/bond:CH_sp3       $/atom:dmc12/C3   $/atom:dmc12/H6
    $/bond:dmc13/b_C1_O1   @/bond:CO_double    $/atom:dmc13/C1   $/atom:dmc13/O1
    $/bond:dmc13/b_C1_O2   @/bond:CO_single    $/atom:dmc13/C1   $/atom:dmc13/O2
    $/bond:dmc13/b_C1_O3   @/bond:CO_single    $/atom:dmc13/C1   $/atom:dmc13/O3
    $/bond:dmc13/b_O2_C2   @/bond:CO_single    $/atom:dmc13/O2   $/atom:dmc13/C2
    $/bond:dmc13/b_O3_C3   @/bond:CO_single    $/atom:dmc13/O3   $/atom:dmc13/C3
    $/bond:dmc13/b_C2_H1   @/bond:CH_sp3       $/atom:dmc13/C2   $/atom:dmc13/H1
    $/bond:dmc13/b_C2_H2   @/bond:CH_sp3       $/atom:dmc13/C2   $/atom:dmc13/H2
    $/bond:dmc13/b_C2_H3   @/bond:CH_sp3       $/atom:dmc13/C2   $/atom:dmc13/H3
    $/bond:dmc13/b_C3_H4   @/bond:CH_sp3       $/atom:dmc13/C3   $/atom:dmc13/H4
    $/bond:dmc13/b_C3_H5   @/bond:CH_sp3       $/atom:dmc13/C3   $/atom:dmc13/H5
    $/bond:dmc13/b_C3_H6   @/bond:CH_sp3       $/atom:dmc13/C3   $/atom:dmc13/H6
    $/bond:dmc14/b_C1_O1   @/bond:CO_double    $/atom:dmc14/C1   $/atom:dmc14/O1
    $/bond:dmc14/b_C1_O2   @/bond:CO_single    $/atom:dmc14/C1   $/atom:dmc14/O2
    $/bond:dmc14/b_C1_O3   @/bond:CO_single    $/atom:dmc14/C1   $/atom:dmc14/O3
    $/bond:dmc14/b_O2_C2   @/bond:CO_single    $/atom:dmc14/O2   $/atom:dmc14/C2
    $/bond:dmc14/b_O3_C3   @/bond:CO_single    $/atom:dmc14/O3   $/atom:dmc14/C3
    $/bond:dmc14/b_C2_H1   @/bond:CH_sp3       $/atom:dmc14/C2   $/atom:dmc14/H1
    $/bond:dmc14/b_C2_H2   @/bond:CH_sp3       $/atom:dmc14/C2   $/atom:dmc14/H2
    $/bond:dmc14/b_C2_H3   @/bond:CH_sp3       $/atom:dmc14/C2   $/atom:dmc14/H3
    $/bond:dmc14/b_C3_H4   @/bond:CH_sp3       $/atom:dmc14/C3   $/atom:dmc14/H4
    $/bond:dmc14/b_C3_H5   @/bond:CH_sp3       $/atom:dmc14/C3   $/atom:dmc14/H5
    $/bond:dmc14/b_C3_H6   @/bond:CH_sp3       $/atom:dmc14/C3   $/atom:dmc14/H6
    $/bond:dmc15/b_C1_O1   @/bond:CO_double    $/atom:dmc15/C1   $/atom:dmc15/O1
    $/bond:dmc15/b_C1_O2   @/bond:CO_single    $/atom:dmc15/C1   $/atom:dmc15/O2
    $/bond:dmc15/b_C1_O3   @/bond:CO_single    $/atom:dmc15/C1   $/atom:dmc15/O3
    $/bond:dmc15/b_O2_C2   @/bond:CO_single    $/atom:dmc15/O2   $/atom:dmc15/C2
    $/bond:dmc15/b_O3_C3   @/bond:CO_single    $/atom:dmc15/O3   $/atom:dmc15/C3
    $/bond:dmc15/b_C2_H1   @/bond:CH_sp3       $/atom:dmc15/C2   $/atom:dmc15/H1
    $/bond:dmc15/b_C2_H2   @/bond:CH_sp3       $/atom:dmc15/C2   $/atom:dmc15/H2
    $/bond:dmc15/b_C2_H3   @/bond:CH_sp3       $/atom:dmc15/C2   $/atom:dmc15/H3
    $/bond:dmc15/b_C3_H4   @/bond:CH_sp3       $/atom:dmc15/C3   $/atom:dmc15/H4
    $/bond:dmc15/b_C3_H5   @/bond:CH_sp3       $/atom:dmc15/C3   $/atom:dmc15/H5
    $/bond:dmc15/b_C3_H6   @/bond:CH_sp3       $/atom:dmc15/C3   $/atom:dmc15/H6
    $/bond:dmc16/b_C1_O1   @/bond:CO_double    $/atom:dmc16/C1   $/atom:dmc16/O1
    $/bond:dmc16/b_C1_O2   @/bond:CO_single    $/atom:dmc16/C1   $/atom:dmc16/O2
    $/bond:dmc16/b_C1_O3   @/bond:CO_single    $/atom:dmc16/C1   $/atom:dmc16/O3
    $/bond:dmc16/b_O2_C2   @/bond:CO_single    $/atom:dmc16/O2   $/atom:dmc16/C2
    $/bond:dmc16/b_O3_C3   @/bond:CO_single    $/atom:dmc16/O3   $/atom:dmc16/C3
    $/bond:dmc16/b_C2_H1   @/bond:CH_sp3       $/atom:dmc16/C2   $/atom:dmc16/H1
    $/bond:dmc16/b_C2_H2   @/bond:CH_sp3       $/atom:dmc16/C2   $/atom:dmc16/H2
    $/bond:dmc16/b_C2_H3   @/bond:CH_sp3       $/atom:dmc16/C2   $/atom:dmc16/H3
    $/bond:dmc16/b_C3_H4   @/bond:CH_sp3       $/atom:dmc16/C3   $/atom:dmc16/H4
    $/bond:dmc16/b_C3_H5   @/bond:CH_sp3       $/atom:dmc16/C3   $/atom:dmc16/H5
    $/bond:dmc16/b_C3_H6   @/bond:CH_sp3       $/atom:dmc16/C3   $/atom:dmc16/H6
    $/bond:dmc17/b_C1_O1   @/bond:CO_double    $/atom:dmc17/C1   $/atom:dmc17/O1
    $/bond:dmc17/b_C1_O2   @/bond:CO_single    $/atom:dmc17/C1   $/atom:dmc17/O2
    $/bond:dmc17/b_C1_O3   @/bond:CO_single    $/atom:dmc17/C1   $/atom:dmc17/O3
    $/bond:dmc17/b_O2_C2   @/bond:CO_single    $/atom:dmc17/O2   $/atom:dmc17/C2
    $/bond:dmc17/b_O3_C3   @/bond:CO_single    $/atom:dmc17/O3   $/atom:dmc17/C3
    $/bond:dmc17/b_C2_H1   @/bond:CH_sp3       $/atom:dmc17/C2   $/atom:dmc17/H1
    $/bond:dmc17/b_C2_H2   @/bond:CH_sp3       $/atom:dmc17/C2   $/atom:dmc17/H2
    $/bond:dmc17/b_C2_H3   @/bond:CH_sp3       $/atom:dmc17/C2   $/atom:dmc17/H3
    $/bond:dmc17/b_C3_H4   @/bond:CH_sp3       $/atom:dmc17/C3   $/atom:dmc17/H4
    $/bond:dmc17/b_C3_H5   @/bond:CH_sp3       $/atom:dmc17/C3   $/atom:dmc17/H5
    $/bond:dmc17/b_C3_H6   @/bond:CH_sp3       $/atom:dmc17/C3   $/atom:dmc17/H6
    $/bond:dmc18/b_C1_O1   @/bond:CO_double    $/atom:dmc18/C1   $/atom:dmc18/O1
    $/bond:dmc18/b_C1_O2   @/bond:CO_single    $/atom:dmc18/C1   $/atom:dmc18/O2
    $/bond:dmc18/b_C1_O3   @/bond:CO_single    $/atom:dmc18/C1   $/atom:dmc18/O3
    $/bond:dmc18/b_O2_C2   @/bond:CO_single    $/atom:dmc18/O2   $/atom:dmc18/C2
    $/bond:dmc18/b_O3_C3   @/bond:CO_single    $/atom:dmc18/O3   $/atom:dmc18/C3
    $/bond:dmc18/b_C2_H1   @/bond:CH_sp3       $/atom:dmc18/C2   $/atom:dmc18/H1
    $/bond:dmc18/b_C2_H2   @/bond:CH_sp3       $/atom:dmc18/C2   $/atom:dmc18/H2
    $/bond:dmc18/b_C2_H3   @/bond:CH_sp3       $/atom:dmc18/C2   $/atom:dmc18/H3
    $/bond:dmc18/b_C3_H4   @/bond:CH_sp3       $/atom:dmc18/C3   $/atom:dmc18/H4
    $/bond:dmc18/b_C3_H5   @/bond:CH_sp3       $/atom:dmc18/C3   $/atom:dmc18/H5
    $/bond:dmc18/b_C3_H6   @/bond:CH_sp3       $/atom:dmc18/C3   $/atom:dmc18/H6
    $/bond:dmc19/b_C1_O1   @/bond:CO_double    $/atom:dmc19/C1   $/atom:dmc19/O1
    $/bond:dmc19/b_C1_O2   @/bond:CO_single    $/atom:dmc19/C1   $/atom:dmc19/O2
    $/bond:dmc19/b_C1_O3   @/bond:CO_single    $/atom:dmc19/C1   $/atom:dmc19/O3
    $/bond:dmc19/b_O2_C2   @/bond:CO_single    $/atom:dmc19/O2   $/atom:dmc19/C2
    $/bond:dmc19/b_O3_C3   @/bond:CO_single    $/atom:dmc19/O3   $/atom:dmc19/C3
    $/bond:dmc19/b_C2_H1   @/bond:CH_sp3       $/atom:dmc19/C2   $/atom:dmc19/H1
    $/bond:dmc19/b_C2_H2   @/bond:CH_sp3       $/atom:dmc19/C2   $/atom:dmc19/H2
    $/bond:dmc19/b_C2_H3   @/bond:CH_sp3       $/atom:dmc19/C2   $/atom:dmc19/H3
    $/bond:dmc19/b_C3_H4   @/bond:CH_sp3       $/atom:dmc19/C3   $/atom:dmc19/H4
    $/bond:dmc19/b_C3_H5   @/bond:CH_sp3       $/atom:dmc19/C3   $/atom:dmc19/H5
    $/bond:dmc19/b_C3_H6   @/bond:CH_sp3       $/atom:dmc19/C3   $/atom:dmc19/H6
    $/bond:dmc20/b_C1_O1   @/bond:CO_double    $/atom:dmc20/C1   $/atom:dmc20/O1
    $/bond:dmc20/b_C1_O2   @/bond:CO_single    $/atom:dmc20/C1   $/atom:dmc20/O2
    $/bond:dmc20/b_C1_O3   @/bond:CO_single    $/atom:dmc20/C1   $/atom:dmc20/O3
    $/bond:dmc20/b_O2_C2   @/bond:CO_single    $/atom:dmc20/O2   $/atom:dmc20/C2
    $/bond:dmc20/b_O3_C3   @/bond:CO_single    $/atom:dmc20/O3   $/atom:dmc20/C3
    $/bond:dmc20/b_C2_H1   @/bond:CH_sp3       $/atom:dmc20/C2   $/atom:dmc20/H1
    $/bond:dmc20/b_C2_H2   @/bond:CH_sp3       $/atom:dmc20/C2   $/atom:dmc20/H2
    $/bond:dmc20/b_C2_H3   @/bond:CH_sp3       $/atom:dmc20/C2   $/atom:dmc20/H3
    $/bond:dmc20/b_C3_H4   @/bond:CH_sp3       $/atom:dmc20/C3   $/atom:dmc20/H4
    $/bond:dmc20/b_C3_H5   @/bond:CH_sp3       $/atom:dmc20/C3   $/atom:dmc20/H5
    $/bond:dmc20/b_C3_H6   @/bond:CH_sp3       $/atom:dmc20/C3   $/atom:dmc20/H6
    $/bond:dmc21/b_C1_O1   @/bond:CO_double    $/atom:dmc21/C1   $/atom:dmc21/O1
    $/bond:dmc21/b_C1_O2   @/bond:CO_single    $/atom:dmc21/C1   $/atom:dmc21/O2
    $/bond:dmc21/b_C1_O3   @/bond:CO_single    $/atom:dmc21/C1   $/atom:dmc21/O3
    $/bond:dmc21/b_O2_C2   @/bond:CO_single    $/atom:dmc21/O2   $/atom:dmc21/C2
    $/bond:dmc21/b_O3_C3   @/bond:CO_single    $/atom:dmc21/O3   $/atom:dmc21/C3
    $/bond:dmc21/b_C2_H1   @/bond:CH_sp3       $/atom:dmc21/C2   $/atom:dmc21/H1
    $/bond:dmc21/b_C2_H2   @/bond:CH_sp3       $/atom:dmc21/C2   $/atom:dmc21/H2
    $/bond:dmc21/b_C2_H3   @/bond:CH_sp3       $/atom:dmc21/C2   $/atom:dmc21/H3
    $/bond:dmc21/b_C3_H4   @/bond:CH_sp3       $/atom:dmc21/C3   $/atom:dmc21/H4
    $/bond:dmc21/b_C3_H5   @/bond:CH_sp3       $/atom:dmc21/C3   $/atom:dmc21/H5
    $/bond:dmc21/b_C3_H6   @/bond:CH_sp3       $/atom:dmc21/C3   $/atom:dmc21/H6
    $/bond:dmc22/b_C1_O1   @/bond:CO_double    $/atom:dmc22/C1   $/atom:dmc22/O1
    $/bond:dmc22/b_C1_O2   @/bond:CO_single    $/atom:dmc22/C1   $/atom:dmc22/O2
    $/bond:dmc22/b_C1_O3   @/bond:CO_single    $/atom:dmc22/C1   $/atom:dmc22/O3
    $/bond:dmc22/b_O2_C2   @/bond:CO_single    $/atom:dmc22/O2   $/atom:dmc22/C2
    $/bond:dmc22/b_O3_C3   @/bond:CO_single    $/atom:dmc22/O3   $/atom:dmc22/C3
    $/bond:dmc22/b_C2_H1   @/bond:CH_sp3       $/atom:dmc22/C2   $/atom:dmc22/H1
    $/bond:dmc22/b_C2_H2   @/bond:CH_sp3       $/atom:dmc22/C2   $/atom:dmc22/H2
    $/bond:dmc22/b_C2_H3   @/bond:CH_sp3       $/atom:dmc22/C2   $/atom:dmc22/H3
    $/bond:dmc22/b_C3_H4   @/bond:CH_sp3       $/atom:dmc22/C3   $/atom:dmc22/H4
    $/bond:dmc22/b_C3_H5   @/bond:CH_sp3       $/atom:dmc22/C3   $/atom:dmc22/H5
    $/bond:dmc22/b_C3_H6   @/bond:CH_sp3       $/atom:dmc22/C3   $/atom:dmc22/H6
    $/bond:dmc23/b_C1_O1   @/bond:CO_double    $/atom:dmc23/C1   $/atom:dmc23/O1
    $/bond:dmc23/b_C1_O2   @/bond:CO_single    $/atom:dmc23/C1   $/atom:dmc23/O2
    $/bond:dmc23/b_C1_O3   @/bond:CO_single    $/atom:dmc23/C1   $/atom:dmc23/O3
    $/bond:dmc23/b_O2_C2   @/bond:CO_single    $/atom:dmc23/O2   $/atom:dmc23/C2
    $/bond:dmc23/b_O3_C3   @/bond:CO_single    $/atom:dmc23/O3   $/atom:dmc23/C3
    $/bond:dmc23/b_C2_H1   @/bond:CH_sp3       $/atom:dmc23/C2   $/atom:dmc23/H1
    $/bond:dmc23/b_C2_H2   @/bond:CH_sp3       $/atom:dmc23/C2   $/atom:dmc23/H2
    $/bond:dmc23/b_C2_H3   @/bond:CH_sp3       $/atom:dmc23/C2   $/atom:dmc23/H3
    $/bond:dmc23/b_C3_H4   @/bond:CH_sp3       $/atom:dmc23/C3   $/atom:dmc23/H4
    $/bond:dmc23/b_C3_H5   @/bond:CH_sp3       $/atom:dmc23/C3   $/atom:dmc23/H5
    $/bond:dmc23/b_C3_H6   @/bond:CH_sp3       $/atom:dmc23/C3   $/atom:dmc23/H6
    $/bond:dmc24/b_C1_O1   @/bond:CO_double    $/atom:dmc24/C1   $/atom:dmc24/O1
    $/bond:dmc24/b_C1_O2   @/bond:CO_single    $/atom:dmc24/C1   $/atom:dmc24/O2
    $/bond:dmc24/b_C1_O3   @/bond:CO_single    $/atom:dmc24/C1   $/atom:dmc24/O3
    $/bond:dmc24/b_O2_C2   @/bond:CO_single    $/atom:dmc24/O2   $/atom:dmc24/C2
    $/bond:dmc24/b_O3_C3   @/bond:CO_single    $/atom:dmc24/O3   $/atom:dmc24/C3
    $/bond:dmc24/b_C2_H1   @/bond:CH_sp3       $/atom:dmc24/C2   $/atom:dmc24/H1
    $/bond:dmc24/b_C2_H2   @/bond:CH_sp3       $/atom:dmc24/C2   $/atom:dmc24/H2
    $/bond:dmc24/b_C2_H3   @/bond:CH_sp3       $/atom:dmc24/C2   $/atom:dmc24/H3
    $/bond:dmc24/b_C3_H4   @/bond:CH_sp3       $/atom:dmc24/C3   $/atom:dmc24/H4
    $/bond:dmc24/b_C3_H5   @/bond:CH_sp3       $/atom:dmc24/C3   $/atom:dmc24/H5
    $/bond:dmc24/b_C3_H6   @/bond:CH_sp3       $/atom:dmc24/C3   $/atom:dmc24/H6
    $/bond:dmc25/b_C1_O1   @/bond:CO_double    $/atom:dmc25/C1   $/atom:dmc25/O1
    $/bond:dmc25/b_C1_O2   @/bond:CO_single    $/atom:dmc25/C1   $/atom:dmc25/O2
    $/bond:dmc25/b_C1_O3   @/bond:CO_single    $/atom:dmc25/C1   $/atom:dmc25/O3
    $/bond:dmc25/b_O2_C2   @/bond:CO_single    $/atom:dmc25/O2   $/atom:dmc25/C2
    $/bond:dmc25/b_O3_C3   @/bond:CO_single    $/atom:dmc25/O3   $/atom:dmc25/C3
    $/bond:dmc25/b_C2_H1   @/bond:CH_sp3       $/atom:dmc25/C2   $/atom:dmc25/H1
    $/bond:dmc25/b_C2_H2   @/bond:CH_sp3       $/atom:dmc25/C2   $/atom:dmc25/H2
    $/bond:dmc25/b_C2_H3   @/bond:CH_sp3       $/atom:dmc25/C2   $/atom:dmc25/H3
    $/bond:dmc25/b_C3_H4   @/bond:CH_sp3       $/atom:dmc25/C3   $/atom:dmc25/H4
    $/bond:dmc25/b_C3_H5   @/bond:CH_sp3       $/atom:dmc25/C3   $/atom:dmc25/H5
    $/bond:dmc25/b_C3_H6   @/bond:CH_sp3       $/atom:dmc25/C3   $/atom:dmc25/H6
    $/bond:dmc26/b_C1_O1   @/bond:CO_double    $/atom:dmc26/C1   $/atom:dmc26/O1
    $/bond:dmc26/b_C1_O2   @/bond:CO_single    $/atom:dmc26/C1   $/atom:dmc26/O2
    $/bond:dmc26/b_C1_O3   @/bond:CO_single    $/atom:dmc26/C1   $/atom:dmc26/O3
    $/bond:dmc26/b_O2_C2   @/bond:CO_single    $/atom:dmc26/O2   $/atom:dmc26/C2
    $/bond:dmc26/b_O3_C3   @/bond:CO_single    $/atom:dmc26/O3   $/atom:dmc26/C3
    $/bond:dmc26/b_C2_H1   @/bond:CH_sp3       $/atom:dmc26/C2   $/atom:dmc26/H1
    $/bond:dmc26/b_C2_H2   @/bond:CH_sp3       $/atom:dmc26/C2   $/atom:dmc26/H2
    $/bond:dmc26/b_C2_H3   @/bond:CH_sp3       $/atom:dmc26/C2   $/atom:dmc26/H3
    $/bond:dmc26/b_C3_H4   @/bond:CH_sp3       $/atom:dmc26/C3   $/atom:dmc26/H4
    $/bond:dmc26/b_C3_H5   @/bond:CH_sp3       $/atom:dmc26/C3   $/atom:dmc26/H5
    $/bond:dmc26/b_C3_H6   @/bond:CH_sp3       $/atom:dmc26/C3   $/atom:dmc26/H6
    $/bond:dmc27/b_C1_O1   @/bond:CO_double    $/atom:dmc27/C1   $/atom:dmc27/O1
    $/bond:dmc27/b_C1_O2   @/bond:CO_single    $/atom:dmc27/C1   $/atom:dmc27/O2
    $/bond:dmc27/b_C1_O3   @/bond:CO_single    $/atom:dmc27/C1   $/atom:dmc27/O3
    $/bond:dmc27/b_O2_C2   @/bond:CO_single    $/atom:dmc27/O2   $/atom:dmc27/C2
    $/bond:dmc27/b_O3_C3   @/bond:CO_single    $/atom:dmc27/O3   $/atom:dmc27/C3
    $/bond:dmc27/b_C2_H1   @/bond:CH_sp3       $/atom:dmc27/C2   $/atom:dmc27/H1
    $/bond:dmc27/b_C2_H2   @/bond:CH_sp3       $/atom:dmc27/C2   $/atom:dmc27/H2
    $/bond:dmc27/b_C2_H3   @/bond:CH_sp3       $/atom:dmc27/C2   $/atom:dmc27/H3
    $/bond:dmc27/b_C3_H4   @/bond:CH_sp3       $/atom:dmc27/C3   $/atom:dmc27/H4
    $/bond:dmc27/b_C3_H5   @/bond:CH_sp3       $/atom:dmc27/C3   $/atom:dmc27/H5
    $/bond:dmc27/b_C3_H6   @/bond:CH_sp3       $/atom:dmc27/C3   $/atom:dmc27/H6
    $/bond:dmc28/b_C1_O1   @/bond:CO_double    $/atom:dmc28/C1   $/atom:dmc28/O1
    $/bond:dmc28/b_C1_O2   @/bond:CO_single    $/atom:dmc28/C1   $/atom:dmc28/O2
    $/bond:dmc28/b_C1_O3   @/bond:CO_single    $/atom:dmc28/C1   $/atom:dmc28/O3
    $/bond:dmc28/b_O2_C2   @/bond:CO_single    $/atom:dmc28/O2   $/atom:dmc28/C2
    $/bond:dmc28/b_O3_C3   @/bond:CO_single    $/atom:dmc28/O3   $/atom:dmc28/C3
    $/bond:dmc28/b_C2_H1   @/bond:CH_sp3       $/atom:dmc28/C2   $/atom:dmc28/H1
    $/bond:dmc28/b_C2_H2   @/bond:CH_sp3       $/atom:dmc28/C2   $/atom:dmc28/H2
    $/bond:dmc28/b_C2_H3   @/bond:CH_sp3       $/atom:dmc28/C2   $/atom:dmc28/H3
    $/bond:dmc28/b_C3_H4   @/bond:CH_sp3       $/atom:dmc28/C3   $/atom:dmc28/H4
    $/bond:dmc28/b_C3_H5   @/bond:CH_sp3       $/atom:dmc28/C3   $/atom:dmc28/H5
    $/bond:dmc28/b_C3_H6   @/bond:CH_sp3       $/atom:dmc28/C3   $/atom:dmc28/H6
    $/bond:dmc29/b_C1_O1   @/bond:CO_double    $/atom:dmc29/C1   $/atom:dmc29/O1
    $/bond:dmc29/b_C1_O2   @/bond:CO_single    $/atom:dmc29/C1   $/atom:dmc29/O2
    $/bond:dmc29/b_C1_O3   @/bond:CO_single    $/atom:dmc29/C1   $/atom:dmc29/O3
    $/bond:dmc29/b_O2_C2   @/bond:CO_single    $/atom:dmc29/O2   $/atom:dmc29/C2
    $/bond:dmc29/b_O3_C3   @/bond:CO_single    $/atom:dmc29/O3   $/atom:dmc29/C3
    $/bond:dmc29/b_C2_H1   @/bond:CH_sp3       $/atom:dmc29/C2   $/atom:dmc29/H1
    $/bond:dmc29/b_C2_H2   @/bond:CH_sp3       $/atom:dmc29/C2   $/atom:dmc29/H2
    $/bond:dmc29/b_C2_H3   @/bond:CH_sp3       $/atom:dmc29/C2   $/atom:dmc29/H3
    $/bond:dmc29/b_C3_H4   @/bond:CH_sp3       $/atom:dmc29/C3   $/atom:dmc29/H4
    $/bond:dmc29/b_C3_H5   @/bond:CH_sp3       $/atom:dmc29/C3   $/atom:dmc29/H5
    $/bond:dmc29/b_C3_H6   @/bond:CH_sp3       $/atom:dmc29/C3   $/atom:dmc29/H6
    $/bond:dmc30/b_C1_O1   @/bond:CO_double    $/atom:dmc30/C1   $/atom:dmc30/O1
    $/bond:dmc30/b_C1_O2   @/bond:CO_single    $/atom:dmc30/C1   $/atom:dmc30/O2
    $/bond:dmc30/b_C1_O3   @/bond:CO_single    $/atom:dmc30/C1   $/atom:dmc30/O3
    $/bond:dmc30/b_O2_C2   @/bond:CO_single    $/atom:dmc30/O2   $/atom:dmc30/C2
    $/bond:dmc30/b_O3_C3   @/bond:CO_single    $/atom:dmc30/O3   $/atom:dmc30/C3
    $/bond:dmc30/b_C2_H1   @/bond:CH_sp3       $/atom:dmc30/C2   $/atom:dmc30/H1
    $/bond:dmc30/b_C2_H2   @/bond:CH_sp3       $/atom:dmc30/C2   $/atom:dmc30/H2
    $/bond:dmc30/b_C2_H3   @/bond:CH_sp3       $/atom:dmc30/C2   $/atom:dmc30/H3
    $/bond:dmc30/b_C3_H4   @/bond:CH_sp3       $/atom:dmc30/C3   $/atom:dmc30/H4
    $/bond:dmc30/b_C3_H5   @/bond:CH_sp3       $/atom:dmc30/C3   $/atom:dmc30/H5
    $/bond:dmc30/b_C3_H6   @/bond:CH_sp3       $/atom:dmc30/C3   $/atom:dmc30/H6
    $/bond:dmc31/b_C1_O1   @/bond:CO_double    $/atom:dmc31/C1   $/atom:dmc31/O1
    $/bond:dmc31/b_C1_O2   @/bond:CO_single    $/atom:dmc31/C1   $/atom:dmc31/O2
    $/bond:dmc31/b_C1_O3   @/bond:CO_single    $/atom:dmc31/C1   $/atom:dmc31/O3
    $/bond:dmc31/b_O2_C2   @/bond:CO_single    $/atom:dmc31/O2   $/atom:dmc31/C2
    $/bond:dmc31/b_O3_C3   @/bond:CO_single    $/atom:dmc31/O3   $/atom:dmc31/C3
    $/bond:dmc31/b_C2_H1   @/bond:CH_sp3       $/atom:dmc31/C2   $/atom:dmc31/H1
    $/bond:dmc31/b_C2_H2   @/bond:CH_sp3       $/atom:dmc31/C2   $/atom:dmc31/H2
    $/bond:dmc31/b_C2_H3   @/bond:CH_sp3       $/atom:dmc31/C2   $/atom:dmc31/H3
    $/bond:dmc31/b_C3_H4   @/bond:CH_sp3       $/atom:dmc31/C3   $/atom:dmc31/H4
    $/bond:dmc31/b_C3_H5   @/bond:CH_sp3       $/atom:dmc31/C3   $/atom:dmc31/H5
    $/bond:dmc31/b_C3_H6   @/bond:CH_sp3       $/atom:dmc31/C3   $/atom:dmc31/H6
    $/bond:dmc32/b_C1_O1   @/bond:CO_double    $/atom:dmc32/C1   $/atom:dmc32/O1
    $/bond:dmc32/b_C1_O2   @/bond:CO_single    $/atom:dmc32/C1   $/atom:dmc32/O2
    $/bond:dmc32/b_C1_O3   @/bond:CO_single    $/atom:dmc32/C1   $/atom:dmc32/O3
    $/bond:dmc32/b_O2_C2   @/bond:CO_single    $/atom:dmc32/O2   $/atom:dmc32/C2
    $/bond:dmc32/b_O3_C3   @/bond:CO_single    $/atom:dmc32/O3   $/atom:dmc32/C3
    $/bond:dmc32/b_C2_H1   @/bond:CH_sp3       $/atom:dmc32/C2   $/atom:dmc32/H1
    $/bond:dmc32/b_C2_H2   @/bond:CH_sp3       $/atom:dmc32/C2   $/atom:dmc32/H2
    $/bond:dmc32/b_C2_H3   @/bond:CH_sp3       $/atom:dmc32/C2   $/atom:dmc32/H3
    $/bond:dmc32/b_C3_H4   @/bond:CH_sp3       $/atom:dmc32/C3   $/atom:dmc32/H4
    $/bond:dmc32/b_C3_H5   @/bond:CH_sp3       $/atom:dmc32/C3   $/atom:dmc32/H5
    $/bond:dmc32/b_C3_H6   @/bond:CH_sp3       $/atom:dmc32/C3   $/atom:dmc32/H6
    $/bond:dmc33/b_C1_O1   @/bond:CO_double    $/atom:dmc33/C1   $/atom:dmc33/O1
    $/bond:dmc33/b_C1_O2   @/bond:CO_single    $/atom:dmc33/C1   $/atom:dmc33/O2
    $/bond:dmc33/b_C1_O3   @/bond:CO_single    $/atom:dmc33/C1   $/atom:dmc33/O3
    $/bond:dmc33/b_O2_C2   @/bond:CO_single    $/atom:dmc33/O2   $/atom:dmc33/C2
    $/bond:dmc33/b_O3_C3   @/bond:CO_single    $/atom:dmc33/O3   $/atom:dmc33/C3
    $/bond:dmc33/b_C2_H1   @/bond:CH_sp3       $/atom:dmc33/C2   $/atom:dmc33/H1
    $/bond:dmc33/b_C2_H2   @/bond:CH_sp3       $/atom:dmc33/C2   $/atom:dmc33/H2
    $/bond:dmc33/b_C2_H3   @/bond:CH_sp3       $/atom:dmc33/C2   $/atom:dmc33/H3
    $/bond:dmc33/b_C3_H4   @/bond:CH_sp3       $/atom:dmc33/C3   $/atom:dmc33/H4
    $/bond:dmc33/b_C3_H5   @/bond:CH_sp3       $/atom:dmc33/C3   $/atom:dmc33/H5
    $/bond:dmc33/b_C3_H6   @/bond:CH_sp3       $/atom:dmc33/C3   $/atom:dmc33/H6
    $/bond:dmc34/b_C1_O1   @/bond:CO_double    $/atom:dmc34/C1   $/atom:dmc34/O1
    $/bond:dmc34/b_C1_O2   @/bond:CO_single    $/atom:dmc34/C1   $/atom:dmc34/O2
    $/bond:dmc34/b_C1_O3   @/bond:CO_single    $/atom:dmc34/C1   $/atom:dmc34/O3
    $/bond:dmc34/b_O2_C2   @/bond:CO_single    $/atom:dmc34/O2   $/atom:dmc34/C2
    $/bond:dmc34/b_O3_C3   @/bond:CO_single    $/atom:dmc34/O3   $/atom:dmc34/C3
    $/bond:dmc34/b_C2_H1   @/bond:CH_sp3       $/atom:dmc34/C2   $/atom:dmc34/H1
    $/bond:dmc34/b_C2_H2   @/bond:CH_sp3       $/atom:dmc34/C2   $/atom:dmc34/H2
    $/bond:dmc34/b_C2_H3   @/bond:CH_sp3       $/atom:dmc34/C2   $/atom:dmc34/H3
    $/bond:dmc34/b_C3_H4   @/bond:CH_sp3       $/atom:dmc34/C3   $/atom:dmc34/H4
    $/bond:dmc34/b_C3_H5   @/bond:CH_sp3       $/atom:dmc34/C3   $/atom:dmc34/H5
    $/bond:dmc34/b_C3_H6   @/bond:CH_sp3       $/atom:dmc34/C3   $/atom:dmc34/H6
    $/bond:dmc35/b_C1_O1   @/bond:CO_double    $/atom:dmc35/C1   $/atom:dmc35/O1
    $/bond:dmc35/b_C1_O2   @/bond:CO_single    $/atom:dmc35/C1   $/atom:dmc35/O2
    $/bond:dmc35/b_C1_O3   @/bond:CO_single    $/atom:dmc35/C1   $/atom:dmc35/O3
    $/bond:dmc35/b_O2_C2   @/bond:CO_single    $/atom:dmc35/O2   $/atom:dmc35/C2
    $/bond:dmc35/b_O3_C3   @/bond:CO_single    $/atom:dmc35/O3   $/atom:dmc35/C3
    $/bond:dmc35/b_C2_H1   @/bond:CH_sp3       $/atom:dmc35/C2   $/atom:dmc35/H1
    $/bond:dmc35/b_C2_H2   @/bond:CH_sp3       $/atom:dmc35/C2   $/atom:dmc35/H2
    $/bond:dmc35/b_C2_H3   @/bond:CH_sp3       $/atom:dmc35/C2   $/atom:dmc35/H3
    $/bond:dmc35/b_C3_H4   @/bond:CH_sp3       $/atom:dmc35/C3   $/atom:dmc35/H4
    $/bond:dmc35/b_C3_H5   @/bond:CH_sp3       $/atom:dmc35/C3   $/atom:dmc35/H5
    $/bond:dmc35/b_C3_H6   @/bond:CH_sp3       $/atom:dmc35/C3   $/atom:dmc35/H6
    $/bond:dmc36/b_C1_O1   @/bond:CO_double    $/atom:dmc36/C1   $/atom:dmc36/O1
    $/bond:dmc36/b_C1_O2   @/bond:CO_single    $/atom:dmc36/C1   $/atom:dmc36/O2
    $/bond:dmc36/b_C1_O3   @/bond:CO_single    $/atom:dmc36/C1   $/atom:dmc36/O3
    $/bond:dmc36/b_O2_C2   @/bond:CO_single    $/atom:dmc36/O2   $/atom:dmc36/C2
    $/bond:dmc36/b_O3_C3   @/bond:CO_single    $/atom:dmc36/O3   $/atom:dmc36/C3
    $/bond:dmc36/b_C2_H1   @/bond:CH_sp3       $/atom:dmc36/C2   $/atom:dmc36/H1
    $/bond:dmc36/b_C2_H2   @/bond:CH_sp3       $/atom:dmc36/C2   $/atom:dmc36/H2
    $/bond:dmc36/b_C2_H3   @/bond:CH_sp3       $/atom:dmc36/C2   $/atom:dmc36/H3
    $/bond:dmc36/b_C3_H4   @/bond:CH_sp3       $/atom:dmc36/C3   $/atom:dmc36/H4
    $/bond:dmc36/b_C3_H5   @/bond:CH_sp3       $/atom:dmc36/C3   $/atom:dmc36/H5
    $/bond:dmc36/b_C3_H6   @/bond:CH_sp3       $/atom:dmc36/C3   $/atom:dmc36/H6
    $/bond:dmc37/b_C1_O1   @/bond:CO_double    $/atom:dmc37/C1   $/atom:dmc37/O1
    $/bond:dmc37/b_C1_O2   @/bond:CO_single    $/atom:dmc37/C1   $/atom:dmc37/O2
    $/bond:dmc37/b_C1_O3   @/bond:CO_single    $/atom:dmc37/C1   $/atom:dmc37/O3
    $/bond:dmc37/b_O2_C2   @/bond:CO_single    $/atom:dmc37/O2   $/atom:dmc37/C2
    $/bond:dmc37/b_O3_C3   @/bond:CO_single    $/atom:dmc37/O3   $/atom:dmc37/C3
    $/bond:dmc37/b_C2_H1   @/bond:CH_sp3       $/atom:dmc37/C2   $/atom:dmc37/H1
    $/bond:dmc37/b_C2_H2   @/bond:CH_sp3       $/atom:dmc37/C2   $/atom:dmc37/H2
    $/bond:dmc37/b_C2_H3   @/bond:CH_sp3       $/atom:dmc37/C2   $/atom:dmc37/H3
    $/bond:dmc37/b_C3_H4   @/bond:CH_sp3       $/atom:dmc37/C3   $/atom:dmc37/H4
    $/bond:dmc37/b_C3_H5   @/bond:CH_sp3       $/atom:dmc37/C3   $/atom:dmc37/H5
    $/bond:dmc37/b_C3_H6   @/bond:CH_sp3       $/atom:dmc37/C3   $/atom:dmc37/H6
    $/bond:dmc38/b_C1_O1   @/bond:CO_double    $/atom:dmc38/C1   $/atom:dmc38/O1
    $/bond:dmc38/b_C1_O2   @/bond:CO_single    $/atom:dmc38/C1   $/atom:dmc38/O2
    $/bond:dmc38/b_C1_O3   @/bond:CO_single    $/atom:dmc38/C1   $/atom:dmc38/O3
    $/bond:dmc38/b_O2_C2   @/bond:CO_single    $/atom:dmc38/O2   $/atom:dmc38/C2
    $/bond:dmc38/b_O3_C3   @/bond:CO_single    $/atom:dmc38/O3   $/atom:dmc38/C3
    $/bond:dmc38/b_C2_H1   @/bond:CH_sp3       $/atom:dmc38/C2   $/atom:dmc38/H1
    $/bond:dmc38/b_C2_H2   @/bond:CH_sp3       $/atom:dmc38/C2   $/atom:dmc38/H2
    $/bond:dmc38/b_C2_H3   @/bond:CH_sp3       $/atom:dmc38/C2   $/atom:dmc38/H3
    $/bond:dmc38/b_C3_H4   @/bond:CH_sp3       $/atom:dmc38/C3   $/atom:dmc38/H4
    $/bond:dmc38/b_C3_H5   @/bond:CH_sp3       $/atom:dmc38/C3   $/atom:dmc38/H5
    $/bond:dmc38/b_C3_H6   @/bond:CH_sp3       $/atom:dmc38/C3   $/atom:dmc38/H6
    $/bond:dmc39/b_C1_O1   @/bond:CO_double    $/atom:dmc39/C1   $/atom:dmc39/O1
    $/bond:dmc39/b_C1_O2   @/bond:CO_single    $/atom:dmc39/C1   $/atom:dmc39/O2
    $/bond:dmc39/b_C1_O3   @/bond:CO_single    $/atom:dmc39/C1   $/atom:dmc39/O3
    $/bond:dmc39/b_O2_C2   @/bond:CO_single    $/atom:dmc39/O2   $/atom:dmc39/C2
    $/bond:dmc39/b_O3_C3   @/bond:CO_single    $/atom:dmc39/O3   $/atom:dmc39/C3
    $/bond:dmc39/b_C2_H1   @/bond:CH_sp3       $/atom:dmc39/C2   $/atom:dmc39/H1
    $/bond:dmc39/b_C2_H2   @/bond:CH_sp3       $/atom:dmc39/C2   $/atom:dmc39/H2
    $/bond:dmc39/b_C2_H3   @/bond:CH_sp3       $/atom:dmc39/C2   $/atom:dmc39/H3
    $/bond:dmc39/b_C3_H4   @/bond:CH_sp3       $/atom:dmc39/C3   $/atom:dmc39/H4
    $/bond:dmc39/b_C3_H5   @/bond:CH_sp3       $/atom:dmc39/C3   $/atom:dmc39/H5
    $/bond:dmc39/b_C3_H6   @/bond:CH_sp3       $/atom:dmc39/C3   $/atom:dmc39/H6
    $/bond:dmc40/b_C1_O1   @/bond:CO_double    $/atom:dmc40/C1   $/atom:dmc40/O1
    $/bond:dmc40/b_C1_O2   @/bond:CO_single    $/atom:dmc40/C1   $/atom:dmc40/O2
    $/bond:dmc40/b_C1_O3   @/bond:CO_single    $/atom:dmc40/C1   $/atom:dmc40/O3
    $/bond:dmc40/b_O2_C2   @/bond:CO_single    $/atom:dmc40/O2   $/atom:dmc40/C2
    $/bond:dmc40/b_O3_C3   @/bond:CO_single    $/atom:dmc40/O3   $/atom:dmc40/C3
    $/bond:dmc40/b_C2_H1   @/bond:CH_sp3       $/atom:dmc40/C2   $/atom:dmc40/H1
    $/bond:dmc40/b_C2_H2   @/bond:CH_sp3       $/atom:dmc40/C2   $/atom:dmc40/H2
    $/bond:dmc40/b_C2_H3   @/bond:CH_sp3       $/atom:dmc40/C2   $/atom:dmc40/H3
    $/bond:dmc40/b_C3_H4   @/bond:CH_sp3       $/atom:dmc40/C3   $/atom:dmc40/H4
    $/bond:dmc40/b_C3_H5   @/bond:CH_sp3       $/atom:dmc40/C3   $/atom:dmc40/H5
    $/bond:dmc40/b_C3_H6   @/bond:CH_sp3       $/atom:dmc40/C3   $/atom:dmc40/H6
    $/bond:dmc41/b_C1_O1   @/bond:CO_double    $/atom:dmc41/C1   $/atom:dmc41/O1
    $/bond:dmc41/b_C1_O2   @/bond:CO_single    $/atom:dmc41/C1   $/atom:dmc41/O2
    $/bond:dmc41/b_C1_O3   @/bond:CO_single    $/atom:dmc41/C1   $/atom:dmc41/O3
    $/bond:dmc41/b_O2_C2   @/bond:CO_single    $/atom:dmc41/O2   $/atom:dmc41/C2
    $/bond:dmc41/b_O3_C3   @/bond:CO_single    $/atom:dmc41/O3   $/atom:dmc41/C3
    $/bond:dmc41/b_C2_H1   @/bond:CH_sp3       $/atom:dmc41/C2   $/atom:dmc41/H1
    $/bond:dmc41/b_C2_H2   @/bond:CH_sp3       $/atom:dmc41/C2   $/atom:dmc41/H2
    $/bond:dmc41/b_C2_H3   @/bond:CH_sp3       $/atom:dmc41/C2   $/atom:dmc41/H3
    $/bond:dmc41/b_C3_H4   @/bond:CH_sp3       $/atom:dmc41/C3   $/atom:dmc41/H4
    $/bond:dmc41/b_C3_H5   @/bond:CH_sp3       $/atom:dmc41/C3   $/atom:dmc41/H5
    $/bond:dmc41/b_C3_H6   @/bond:CH_sp3       $/atom:dmc41/C3   $/atom:dmc41/H6
    $/bond:dmc42/b_C1_O1   @/bond:CO_double    $/atom:dmc42/C1   $/atom:dmc42/O1
    $/bond:dmc42/b_C1_O2   @/bond:CO_single    $/atom:dmc42/C1   $/atom:dmc42/O2
    $/bond:dmc42/b_C1_O3   @/bond:CO_single    $/atom:dmc42/C1   $/atom:dmc42/O3
    $/bond:dmc42/b_O2_C2   @/bond:CO_single    $/atom:dmc42/O2   $/atom:dmc42/C2
    $/bond:dmc42/b_O3_C3   @/bond:CO_single    $/atom:dmc42/O3   $/atom:dmc42/C3
    $/bond:dmc42/b_C2_H1   @/bond:CH_sp3       $/atom:dmc42/C2   $/atom:dmc42/H1
    $/bond:dmc42/b_C2_H2   @/bond:CH_sp3       $/atom:dmc42/C2   $/atom:dmc42/H2
    $/bond:dmc42/b_C2_H3   @/bond:CH_sp3       $/atom:dmc42/C2   $/atom:dmc42/H3
    $/bond:dmc42/b_C3_H4   @/bond:CH_sp3       $/atom:dmc42/C3   $/atom:dmc42/H4
    $/bond:dmc42/b_C3_H5   @/bond:CH_sp3       $/atom:dmc42/C3   $/atom:dmc42/H5
    $/bond:dmc42/b_C3_H6   @/bond:CH_sp3       $/atom:dmc42/C3   $/atom:dmc42/H6
    $/bond:dmc43/b_C1_O1   @/bond:CO_double    $/atom:dmc43/C1   $/atom:dmc43/O1
    $/bond:dmc43/b_C1_O2   @/bond:CO_single    $/atom:dmc43/C1   $/atom:dmc43/O2
    $/bond:dmc43/b_C1_O3   @/bond:CO_single    $/atom:dmc43/C1   $/atom:dmc43/O3
    $/bond:dmc43/b_O2_C2   @/bond:CO_single    $/atom:dmc43/O2   $/atom:dmc43/C2
    $/bond:dmc43/b_O3_C3   @/bond:CO_single    $/atom:dmc43/O3   $/atom:dmc43/C3
    $/bond:dmc43/b_C2_H1   @/bond:CH_sp3       $/atom:dmc43/C2   $/atom:dmc43/H1
    $/bond:dmc43/b_C2_H2   @/bond:CH_sp3       $/atom:dmc43/C2   $/atom:dmc43/H2
    $/bond:dmc43/b_C2_H3   @/bond:CH_sp3       $/atom:dmc43/C2   $/atom:dmc43/H3
    $/bond:dmc43/b_C3_H4   @/bond:CH_sp3       $/atom:dmc43/C3   $/atom:dmc43/H4
    $/bond:dmc43/b_C3_H5   @/bond:CH_sp3       $/atom:dmc43/C3   $/atom:dmc43/H5
    $/bond:dmc43/b_C3_H6   @/bond:CH_sp3       $/atom:dmc43/C3   $/atom:dmc43/H6
    $/bond:dmc44/b_C1_O1   @/bond:CO_double    $/atom:dmc44/C1   $/atom:dmc44/O1
    $/bond:dmc44/b_C1_O2   @/bond:CO_single    $/atom:dmc44/C1   $/atom:dmc44/O2
    $/bond:dmc44/b_C1_O3   @/bond:CO_single    $/atom:dmc44/C1   $/atom:dmc44/O3
    $/bond:dmc44/b_O2_C2   @/bond:CO_single    $/atom:dmc44/O2   $/atom:dmc44/C2
    $/bond:dmc44/b_O3_C3   @/bond:CO_single    $/atom:dmc44/O3   $/atom:dmc44/C3
    $/bond:dmc44/b_C2_H1   @/bond:CH_sp3       $/atom:dmc44/C2   $/atom:dmc44/H1
    $/bond:dmc44/b_C2_H2   @/bond:CH_sp3       $/atom:dmc44/C2   $/atom:dmc44/H2
    $/bond:dmc44/b_C2_H3   @/bond:CH_sp3       $/atom:dmc44/C2   $/atom:dmc44/H3
    $/bond:dmc44/b_C3_H4   @/bond:CH_sp3       $/atom:dmc44/C3   $/atom:dmc44/H4
    $/bond:dmc44/b_C3_H5   @/bond:CH_sp3       $/atom:dmc44/C3   $/atom:dmc44/H5
    $/bond:dmc44/b_C3_H6   @/bond:CH_sp3       $/atom:dmc44/C3   $/atom:dmc44/H6
    $/bond:dmc45/b_C1_O1   @/bond:CO_double    $/atom:dmc45/C1   $/atom:dmc45/O1
    $/bond:dmc45/b_C1_O2   @/bond:CO_single    $/atom:dmc45/C1   $/atom:dmc45/O2
    $/bond:dmc45/b_C1_O3   @/bond:CO_single    $/atom:dmc45/C1   $/atom:dmc45/O3
    $/bond:dmc45/b_O2_C2   @/bond:CO_single    $/atom:dmc45/O2   $/atom:dmc45/C2
    $/bond:dmc45/b_O3_C3   @/bond:CO_single    $/atom:dmc45/O3   $/atom:dmc45/C3
    $/bond:dmc45/b_C2_H1   @/bond:CH_sp3       $/atom:dmc45/C2   $/atom:dmc45/H1
    $/bond:dmc45/b_C2_H2   @/bond:CH_sp3       $/atom:dmc45/C2   $/atom:dmc45/H2
    $/bond:dmc45/b_C2_H3   @/bond:CH_sp3       $/atom:dmc45/C2   $/atom:dmc45/H3
    $/bond:dmc45/b_C3_H4   @/bond:CH_sp3       $/atom:dmc45/C3   $/atom:dmc45/H4
    $/bond:dmc45/b_C3_H5   @/bond:CH_sp3       $/atom:dmc45/C3   $/atom:dmc45/H5
    $/bond:dmc45/b_C3_H6   @/bond:CH_sp3       $/atom:dmc45/C3   $/atom:dmc45/H6
    $/bond:ec1/b_C1_O1   @/bond:CO_double    $/atom:ec1/C1   $/atom:ec1/O1
    $/bond:ec1/b_C1_O2   @/bond:CO_single    $/atom:ec1/C1   $/atom:ec1/O2
    $/bond:ec1/b_C1_O3   @/bond:CO_single    $/atom:ec1/C1   $/atom:ec1/O3
    $/bond:ec1/b_O2_C3   @/bond:CO_single    $/atom:ec1/O2   $/atom:ec1/C3
    $/bond:ec1/b_O3_C2   @/bond:CO_single    $/atom:ec1/O3   $/atom:ec1/C2
    $/bond:ec1/b_C2_C3   @/bond:CC_single    $/atom:ec1/C2   $/atom:ec1/C3
    $/bond:ec1/b_C3_H1   @/bond:CH_sp3       $/atom:ec1/C3   $/atom:ec1/H1
    $/bond:ec1/b_C3_H2   @/bond:CH_sp3       $/atom:ec1/C3   $/atom:ec1/H2
    $/bond:ec1/b_C2_H3   @/bond:CH_sp3       $/atom:ec1/C2   $/atom:ec1/H3
    $/bond:ec1/b_C2_H4   @/bond:CH_sp3       $/atom:ec1/C2   $/atom:ec1/H4
    $/bond:ec2/b_C1_O1   @/bond:CO_double    $/atom:ec2/C1   $/atom:ec2/O1
    $/bond:ec2/b_C1_O2   @/bond:CO_single    $/atom:ec2/C1   $/atom:ec2/O2
    $/bond:ec2/b_C1_O3   @/bond:CO_single    $/atom:ec2/C1   $/atom:ec2/O3
    $/bond:ec2/b_O2_C3   @/bond:CO_single    $/atom:ec2/O2   $/atom:ec2/C3
    $/bond:ec2/b_O3_C2   @/bond:CO_single    $/atom:ec2/O3   $/atom:ec2/C2
    $/bond:ec2/b_C2_C3   @/bond:CC_single    $/atom:ec2/C2   $/atom:ec2/C3
    $/bond:ec2/b_C3_H1   @/bond:CH_sp3       $/atom:ec2/C3   $/atom:ec2/H1
    $/bond:ec2/b_C3_H2   @/bond:CH_sp3       $/atom:ec2/C3   $/atom:ec2/H2
    $/bond:ec2/b_C2_H3   @/bond:CH_sp3       $/atom:ec2/C2   $/atom:ec2/H3
    $/bond:ec2/b_C2_H4   @/bond:CH_sp3       $/atom:ec2/C2   $/atom:ec2/H4
    $/bond:ec3/b_C1_O1   @/bond:CO_double    $/atom:ec3/C1   $/atom:ec3/O1
    $/bond:ec3/b_C1_O2   @/bond:CO_single    $/atom:ec3/C1   $/atom:ec3/O2
    $/bond:ec3/b_C1_O3   @/bond:CO_single    $/atom:ec3/C1   $/atom:ec3/O3
    $/bond:ec3/b_O2_C3   @/bond:CO_single    $/atom:ec3/O2   $/atom:ec3/C3
    $/bond:ec3/b_O3_C2   @/bond:CO_single    $/atom:ec3/O3   $/atom:ec3/C2
    $/bond:ec3/b_C2_C3   @/bond:CC_single    $/atom:ec3/C2   $/atom:ec3/C3
    $/bond:ec3/b_C3_H1   @/bond:CH_sp3       $/atom:ec3/C3   $/atom:ec3/H1
    $/bond:ec3/b_C3_H2   @/bond:CH_sp3       $/atom:ec3/C3   $/atom:ec3/H2
    $/bond:ec3/b_C2_H3   @/bond:CH_sp3       $/atom:ec3/C2   $/atom:ec3/H3
    $/bond:ec3/b_C2_H4   @/bond:CH_sp3       $/atom:ec3/C2   $/atom:ec3/H4
    $/bond:ec4/b_C1_O1   @/bond:CO_double    $/atom:ec4/C1   $/atom:ec4/O1
    $/bond:ec4/b_C1_O2   @/bond:CO_single    $/atom:ec4/C1   $/atom:ec4/O2
    $/bond:ec4/b_C1_O3   @/bond:CO_single    $/atom:ec4/C1   $/atom:ec4/O3
    $/bond:ec4/b_O2_C3   @/bond:CO_single    $/atom:ec4/O2   $/atom:ec4/C3
    $/bond:ec4/b_O3_C2   @/bond:CO_single    $/atom:ec4/O3   $/atom:ec4/C2
    $/bond:ec4/b_C2_C3   @/bond:CC_single    $/atom:ec4/C2   $/atom:ec4/C3
    $/bond:ec4/b_C3_H1   @/bond:CH_sp3       $/atom:ec4/C3   $/atom:ec4/H1
    $/bond:ec4/b_C3_H2   @/bond:CH_sp3       $/atom:ec4/C3   $/atom:ec4/H2
    $/bond:ec4/b_C2_H3   @/bond:CH_sp3       $/atom:ec4/C2   $/atom:ec4/H3
    $/bond:ec4/b_C2_H4   @/bond:CH_sp3       $/atom:ec4/C2   $/atom:ec4/H4
    $/bond:ec5/b_C1_O1   @/bond:CO_double    $/atom:ec5/C1   $/atom:ec5/O1
    $/bond:ec5/b_C1_O2   @/bond:CO_single    $/atom:ec5/C1   $/atom:ec5/O2
    $/bond:ec5/b_C1_O3   @/bond:CO_single    $/atom:ec5/C1   $/atom:ec5/O3
    $/bond:ec5/b_O2_C3   @/bond:CO_single    $/atom:ec5/O2   $/atom:ec5/C3
    $/bond:ec5/b_O3_C2   @/bond:CO_single    $/atom:ec5/O3   $/atom:ec5/C2
    $/bond:ec5/b_C2_C3   @/bond:CC_single    $/atom:ec5/C2   $/atom:ec5/C3
    $/bond:ec5/b_C3_H1   @/bond:CH_sp3       $/atom:ec5/C3   $/atom:ec5/H1
    $/bond:ec5/b_C3_H2   @/bond:CH_sp3       $/atom:ec5/C3   $/atom:ec5/H2
    $/bond:ec5/b_C2_H3   @/bond:CH_sp3       $/atom:ec5/C2   $/atom:ec5/H3
    $/bond:ec5/b_C2_H4   @/bond:CH_sp3       $/atom:ec5/C2   $/atom:ec5/H4
    $/bond:ec6/b_C1_O1   @/bond:CO_double    $/atom:ec6/C1   $/atom:ec6/O1
    $/bond:ec6/b_C1_O2   @/bond:CO_single    $/atom:ec6/C1   $/atom:ec6/O2
    $/bond:ec6/b_C1_O3   @/bond:CO_single    $/atom:ec6/C1   $/atom:ec6/O3
    $/bond:ec6/b_O2_C3   @/bond:CO_single    $/atom:ec6/O2   $/atom:ec6/C3
    $/bond:ec6/b_O3_C2   @/bond:CO_single    $/atom:ec6/O3   $/atom:ec6/C2
    $/bond:ec6/b_C2_C3   @/bond:CC_single    $/atom:ec6/C2   $/atom:ec6/C3
    $/bond:ec6/b_C3_H1   @/bond:CH_sp3       $/atom:ec6/C3   $/atom:ec6/H1
    $/bond:ec6/b_C3_H2   @/bond:CH_sp3       $/atom:ec6/C3   $/atom:ec6/H2
    $/bond:ec6/b_C2_H3   @/bond:CH_sp3       $/atom:ec6/C2   $/atom:ec6/H3
    $/bond:ec6/b_C2_H4   @/bond:CH_sp3       $/atom:ec6/C2   $/atom:ec6/H4
    $/bond:ec7/b_C1_O1   @/bond:CO_double    $/atom:ec7/C1   $/atom:ec7/O1
    $/bond:ec7/b_C1_O2   @/bond:CO_single    $/atom:ec7/C1   $/atom:ec7/O2
    $/bond:ec7/b_C1_O3   @/bond:CO_single    $/atom:ec7/C1   $/atom:ec7/O3
    $/bond:ec7/b_O2_C3   @/bond:CO_single    $/atom:ec7/O2   $/atom:ec7/C3
    $/bond:ec7/b_O3_C2   @/bond:CO_single    $/atom:ec7/O3   $/atom:ec7/C2
    $/bond:ec7/b_C2_C3   @/bond:CC_single    $/atom:ec7/C2   $/atom:ec7/C3
    $/bond:ec7/b_C3_H1   @/bond:CH_sp3       $/atom:ec7/C3   $/atom:ec7/H1
    $/bond:ec7/b_C3_H2   @/bond:CH_sp3       $/atom:ec7/C3   $/atom:ec7/H2
    $/bond:ec7/b_C2_H3   @/bond:CH_sp3       $/atom:ec7/C2   $/atom:ec7/H3
    $/bond:ec7/b_C2_H4   @/bond:CH_sp3       $/atom:ec7/C2   $/atom:ec7/H4
    $/bond:ec8/b_C1_O1   @/bond:CO_double    $/atom:ec8/C1   $/atom:ec8/O1
    $/bond:ec8/b_C1_O2   @/bond:CO_single    $/atom:ec8/C1   $/atom:ec8/O2
    $/bond:ec8/b_C1_O3   @/bond:CO_single    $/atom:ec8/C1   $/atom:ec8/O3
    $/bond:ec8/b_O2_C3   @/bond:CO_single    $/atom:ec8/O2   $/atom:ec8/C3
    $/bond:ec8/b_O3_C2   @/bond:CO_single    $/atom:ec8/O3   $/atom:ec8/C2
    $/bond:ec8/b_C2_C3   @/bond:CC_single    $/atom:ec8/C2   $/atom:ec8/C3
    $/bond:ec8/b_C3_H1   @/bond:CH_sp3       $/atom:ec8/C3   $/atom:ec8/H1
    $/bond:ec8/b_C3_H2   @/bond:CH_sp3       $/atom:ec8/C3   $/atom:ec8/H2
    $/bond:ec8/b_C2_H3   @/bond:CH_sp3       $/atom:ec8/C2   $/atom:ec8/H3
    $/bond:ec8/b_C2_H4   @/bond:CH_sp3       $/atom:ec8/C2   $/atom:ec8/H4
    $/bond:ec9/b_C1_O1   @/bond:CO_double    $/atom:ec9/C1   $/atom:ec9/O1
    $/bond:ec9/b_C1_O2   @/bond:CO_single    $/atom:ec9/C1   $/atom:ec9/O2
    $/bond:ec9/b_C1_O3   @/bond:CO_single    $/atom:ec9/C1   $/atom:ec9/O3
    $/bond:ec9/b_O2_C3   @/bond:CO_single    $/atom:ec9/O2   $/atom:ec9/C3
    $/bond:ec9/b_O3_C2   @/bond:CO_single    $/atom:ec9/O3   $/atom:ec9/C2
    $/bond:ec9/b_C2_C3   @/bond:CC_single    $/atom:ec9/C2   $/atom:ec9/C3
    $/bond:ec9/b_C3_H1   @/bond:CH_sp3       $/atom:ec9/C3   $/atom:ec9/H1
    $/bond:ec9/b_C3_H2   @/bond:CH_sp3       $/atom:ec9/C3   $/atom:ec9/H2
    $/bond:ec9/b_C2_H3   @/bond:CH_sp3       $/atom:ec9/C2   $/atom:ec9/H3
    $/bond:ec9/b_C2_H4   @/bond:CH_sp3       $/atom:ec9/C2   $/atom:ec9/H4
    $/bond:ec10/b_C1_O1   @/bond:CO_double    $/atom:ec10/C1   $/atom:ec10/O1
    $/bond:ec10/b_C1_O2   @/bond:CO_single    $/atom:ec10/C1   $/atom:ec10/O2
    $/bond:ec10/b_C1_O3   @/bond:CO_single    $/atom:ec10/C1   $/atom:ec10/O3
    $/bond:ec10/b_O2_C3   @/bond:CO_single    $/atom:ec10/O2   $/atom:ec10/C3
    $/bond:ec10/b_O3_C2   @/bond:CO_single    $/atom:ec10/O3   $/atom:ec10/C2
    $/bond:ec10/b_C2_C3   @/bond:CC_single    $/atom:ec10/C2   $/atom:ec10/C3
    $/bond:ec10/b_C3_H1   @/bond:CH_sp3       $/atom:ec10/C3   $/atom:ec10/H1
    $/bond:ec10/b_C3_H2   @/bond:CH_sp3       $/atom:ec10/C3   $/atom:ec10/H2
    $/bond:ec10/b_C2_H3   @/bond:CH_sp3       $/atom:ec10/C2   $/atom:ec10/H3
    $/bond:ec10/b_C2_H4   @/bond:CH_sp3       $/atom:ec10/C2   $/atom:ec10/H4
    $/bond:ec11/b_C1_O1   @/bond:CO_double    $/atom:ec11/C1   $/atom:ec11/O1
    $/bond:ec11/b_C1_O2   @/bond:CO_single    $/atom:ec11/C1   $/atom:ec11/O2
    $/bond:ec11/b_C1_O3   @/bond:CO_single    $/atom:ec11/C1   $/atom:ec11/O3
    $/bond:ec11/b_O2_C3   @/bond:CO_single    $/atom:ec11/O2   $/atom:ec11/C3
    $/bond:ec11/b_O3_C2   @/bond:CO_single    $/atom:ec11/O3   $/atom:ec11/C2
    $/bond:ec11/b_C2_C3   @/bond:CC_single    $/atom:ec11/C2   $/atom:ec11/C3
    $/bond:ec11/b_C3_H1   @/bond:CH_sp3       $/atom:ec11/C3   $/atom:ec11/H1
    $/bond:ec11/b_C3_H2   @/bond:CH_sp3       $/atom:ec11/C3   $/atom:ec11/H2
    $/bond:ec11/b_C2_H3   @/bond:CH_sp3       $/atom:ec11/C2   $/atom:ec11/H3
    $/bond:ec11/b_C2_H4   @/bond:CH_sp3       $/atom:ec11/C2   $/atom:ec11/H4
    $/bond:ec12/b_C1_O1   @/bond:CO_double    $/atom:ec12/C1   $/atom:ec12/O1
    $/bond:ec12/b_C1_O2   @/bond:CO_single    $/atom:ec12/C1   $/atom:ec12/O2
    $/bond:ec12/b_C1_O3   @/bond:CO_single    $/atom:ec12/C1   $/atom:ec12/O3
    $/bond:ec12/b_O2_C3   @/bond:CO_single    $/atom:ec12/O2   $/atom:ec12/C3
    $/bond:ec12/b_O3_C2   @/bond:CO_single    $/atom:ec12/O3   $/atom:ec12/C2
    $/bond:ec12/b_C2_C3   @/bond:CC_single    $/atom:ec12/C2   $/atom:ec12/C3
    $/bond:ec12/b_C3_H1   @/bond:CH_sp3       $/atom:ec12/C3   $/atom:ec12/H1
    $/bond:ec12/b_C3_H2   @/bond:CH_sp3       $/atom:ec12/C3   $/atom:ec12/H2
    $/bond:ec12/b_C2_H3   @/bond:CH_sp3       $/atom:ec12/C2   $/atom:ec12/H3
    $/bond:ec12/b_C2_H4   @/bond:CH_sp3       $/atom:ec12/C2   $/atom:ec12/H4
    $/bond:ec13/b_C1_O1   @/bond:CO_double    $/atom:ec13/C1   $/atom:ec13/O1
    $/bond:ec13/b_C1_O2   @/bond:CO_single    $/atom:ec13/C1   $/atom:ec13/O2
    $/bond:ec13/b_C1_O3   @/bond:CO_single    $/atom:ec13/C1   $/atom:ec13/O3
    $/bond:ec13/b_O2_C3   @/bond:CO_single    $/atom:ec13/O2   $/atom:ec13/C3
    $/bond:ec13/b_O3_C2   @/bond:CO_single    $/atom:ec13/O3   $/atom:ec13/C2
    $/bond:ec13/b_C2_C3   @/bond:CC_single    $/atom:ec13/C2   $/atom:ec13/C3
    $/bond:ec13/b_C3_H1   @/bond:CH_sp3       $/atom:ec13/C3   $/atom:ec13/H1
    $/bond:ec13/b_C3_H2   @/bond:CH_sp3       $/atom:ec13/C3   $/atom:ec13/H2
    $/bond:ec13/b_C2_H3   @/bond:CH_sp3       $/atom:ec13/C2   $/atom:ec13/H3
    $/bond:ec13/b_C2_H4   @/bond:CH_sp3       $/atom:ec13/C2   $/atom:ec13/H4
    $/bond:ec14/b_C1_O1   @/bond:CO_double    $/atom:ec14/C1   $/atom:ec14/O1
    $/bond:ec14/b_C1_O2   @/bond:CO_single    $/atom:ec14/C1   $/atom:ec14/O2
    $/bond:ec14/b_C1_O3   @/bond:CO_single    $/atom:ec14/C1   $/atom:ec14/O3
    $/bond:ec14/b_O2_C3   @/bond:CO_single    $/atom:ec14/O2   $/atom:ec14/C3
    $/bond:ec14/b_O3_C2   @/bond:CO_single    $/atom:ec14/O3   $/atom:ec14/C2
    $/bond:ec14/b_C2_C3   @/bond:CC_single    $/atom:ec14/C2   $/atom:ec14/C3
    $/bond:ec14/b_C3_H1   @/bond:CH_sp3       $/atom:ec14/C3   $/atom:ec14/H1
    $/bond:ec14/b_C3_H2   @/bond:CH_sp3       $/atom:ec14/C3   $/atom:ec14/H2
    $/bond:ec14/b_C2_H3   @/bond:CH_sp3       $/atom:ec14/C2   $/atom:ec14/H3
    $/bond:ec14/b_C2_H4   @/bond:CH_sp3       $/atom:ec14/C2   $/atom:ec14/H4
    $/bond:ec15/b_C1_O1   @/bond:CO_double    $/atom:ec15/C1   $/atom:ec15/O1
    $/bond:ec15/b_C1_O2   @/bond:CO_single    $/atom:ec15/C1   $/atom:ec15/O2
    $/bond:ec15/b_C1_O3   @/bond:CO_single    $/atom:ec15/C1   $/atom:ec15/O3
    $/bond:ec15/b_O2_C3   @/bond:CO_single    $/atom:ec15/O2   $/atom:ec15/C3
    $/bond:ec15/b_O3_C2   @/bond:CO_single    $/atom:ec15/O3   $/atom:ec15/C2
    $/bond:ec15/b_C2_C3   @/bond:CC_single    $/atom:ec15/C2   $/atom:ec15/C3
    $/bond:ec15/b_C3_H1   @/bond:CH_sp3       $/atom:ec15/C3   $/atom:ec15/H1
    $/bond:ec15/b_C3_H2   @/bond:CH_sp3       $/atom:ec15/C3   $/atom:ec15/H2
    $/bond:ec15/b_C2_H3   @/bond:CH_sp3       $/atom:ec15/C2   $/atom:ec15/H3
    $/bond:ec15/b_C2_H4   @/bond:CH_sp3       $/atom:ec15/C2   $/atom:ec15/H4
    $/bond:ec16/b_C1_O1   @/bond:CO_double    $/atom:ec16/C1   $/atom:ec16/O1
    $/bond:ec16/b_C1_O2   @/bond:CO_single    $/atom:ec16/C1   $/atom:ec16/O2
    $/bond:ec16/b_C1_O3   @/bond:CO_single    $/atom:ec16/C1   $/atom:ec16/O3
    $/bond:ec16/b_O2_C3   @/bond:CO_single    $/atom:ec16/O2   $/atom:ec16/C3
    $/bond:ec16/b_O3_C2   @/bond:CO_single    $/atom:ec16/O3   $/atom:ec16/C2
    $/bond:ec16/b_C2_C3   @/bond:CC_single    $/atom:ec16/C2   $/atom:ec16/C3
    $/bond:ec16/b_C3_H1   @/bond:CH_sp3       $/atom:ec16/C3   $/atom:ec16/H1
    $/bond:ec16/b_C3_H2   @/bond:CH_sp3       $/atom:ec16/C3   $/atom:ec16/H2
    $/bond:ec16/b_C2_H3   @/bond:CH_sp3       $/atom:ec16/C2   $/atom:ec16/H3
    $/bond:ec16/b_C2_H4   @/bond:CH_sp3       $/atom:ec16/C2   $/atom:ec16/H4
    $/bond:ec17/b_C1_O1   @/bond:CO_double    $/atom:ec17/C1   $/atom:ec17/O1
    $/bond:ec17/b_C1_O2   @/bond:CO_single    $/atom:ec17/C1   $/atom:ec17/O2
    $/bond:ec17/b_C1_O3   @/bond:CO_single    $/atom:ec17/C1   $/atom:ec17/O3
    $/bond:ec17/b_O2_C3   @/bond:CO_single    $/atom:ec17/O2   $/atom:ec17/C3
    $/bond:ec17/b_O3_C2   @/bond:CO_single    $/atom:ec17/O3   $/atom:ec17/C2
    $/bond:ec17/b_C2_C3   @/bond:CC_single    $/atom:ec17/C2   $/atom:ec17/C3
    $/bond:ec17/b_C3_H1   @/bond:CH_sp3       $/atom:ec17/C3   $/atom:ec17/H1
    $/bond:ec17/b_C3_H2   @/bond:CH_sp3       $/atom:ec17/C3   $/atom:ec17/H2
    $/bond:ec17/b_C2_H3   @/bond:CH_sp3       $/atom:ec17/C2   $/atom:ec17/H3
    $/bond:ec17/b_C2_H4   @/bond:CH_sp3       $/atom:ec17/C2   $/atom:ec17/H4
    $/bond:ec18/b_C1_O1   @/bond:CO_double    $/atom:ec18/C1   $/atom:ec18/O1
    $/bond:ec18/b_C1_O2   @/bond:CO_single    $/atom:ec18/C1   $/atom:ec18/O2
    $/bond:ec18/b_C1_O3   @/bond:CO_single    $/atom:ec18/C1   $/atom:ec18/O3
    $/bond:ec18/b_O2_C3   @/bond:CO_single    $/atom:ec18/O2   $/atom:ec18/C3
    $/bond:ec18/b_O3_C2   @/bond:CO_single    $/atom:ec18/O3   $/atom:ec18/C2
    $/bond:ec18/b_C2_C3   @/bond:CC_single    $/atom:ec18/C2   $/atom:ec18/C3
    $/bond:ec18/b_C3_H1   @/bond:CH_sp3       $/atom:ec18/C3   $/atom:ec18/H1
    $/bond:ec18/b_C3_H2   @/bond:CH_sp3       $/atom:ec18/C3   $/atom:ec18/H2
    $/bond:ec18/b_C2_H3   @/bond:CH_sp3       $/atom:ec18/C2   $/atom:ec18/H3
    $/bond:ec18/b_C2_H4   @/bond:CH_sp3       $/atom:ec18/C2   $/atom:ec18/H4
    $/bond:ec19/b_C1_O1   @/bond:CO_double    $/atom:ec19/C1   $/atom:ec19/O1
    $/bond:ec19/b_C1_O2   @/bond:CO_single    $/atom:ec19/C1   $/atom:ec19/O2
    $/bond:ec19/b_C1_O3   @/bond:CO_single    $/atom:ec19/C1   $/atom:ec19/O3
    $/bond:ec19/b_O2_C3   @/bond:CO_single    $/atom:ec19/O2   $/atom:ec19/C3
    $/bond:ec19/b_O3_C2   @/bond:CO_single    $/atom:ec19/O3   $/atom:ec19/C2
    $/bond:ec19/b_C2_C3   @/bond:CC_single    $/atom:ec19/C2   $/atom:ec19/C3
    $/bond:ec19/b_C3_H1   @/bond:CH_sp3       $/atom:ec19/C3   $/atom:ec19/H1
    $/bond:ec19/b_C3_H2   @/bond:CH_sp3       $/atom:ec19/C3   $/atom:ec19/H2
    $/bond:ec19/b_C2_H3   @/bond:CH_sp3       $/atom:ec19/C2   $/atom:ec19/H3
    $/bond:ec19/b_C2_H4   @/bond:CH_sp3       $/atom:ec19/C2   $/atom:ec19/H4
    $/bond:pf61/PF1    @/bond:PF      $/atom:pf61/P1   $/atom:pf61/F1
    $/bond:pf61/PF2    @/bond:PF      $/atom:pf61/P1   $/atom:pf61/F2
    $/bond:pf61/PF3    @/bond:PF      $/atom:pf61/P1   $/atom:pf61/F3
    $/bond:pf61/PF4    @/bond:PF      $/atom:pf61/P1   $/atom:pf61/F4
    $/bond:pf61/PF5    @/bond:PF      $/atom:pf61/P1   $/atom:pf61/F5
    $/bond:pf61/PF6    @/bond:PF      $/atom:pf61/P1   $/atom:pf61/F6
    $/bond:pf62/PF1    @/bond:PF      $/atom:pf62/P1   $/atom:pf62/F1
    $/bond:pf62/PF2    @/bond:PF      $/atom:pf62/P1   $/atom:pf62/F2
    $/bond:pf62/PF3    @/bond:PF      $/atom:pf62/P1   $/atom:pf62/F3
    $/bond:pf62/PF4    @/bond:PF      $/atom:pf62/P1   $/atom:pf62/F4
    $/bond:pf62/PF5    @/bond:PF      $/atom:pf62/P1   $/atom:pf62/F5
    $/bond:pf62/PF6    @/bond:PF      $/atom:pf62/P1   $/atom:pf62/F6
    $/bond:pf63/PF1    @/bond:PF      $/atom:pf63/P1   $/atom:pf63/F1
    $/bond:pf63/PF2    @/bond:PF      $/atom:pf63/P1   $/atom:pf63/F2
    $/bond:pf63/PF3    @/bond:PF      $/atom:pf63/P1   $/atom:pf63/F3
    $/bond:pf63/PF4    @/bond:PF      $/atom:pf63/P1   $/atom:pf63/F4
    $/bond:pf63/PF5    @/bond:PF      $/atom:pf63/P1   $/atom:pf63/F5
    $/bond:pf63/PF6    @/bond:PF      $/atom:pf63/P1   $/atom:pf63/F6
    $/bond:pf64/PF1    @/bond:PF      $/atom:pf64/P1   $/atom:pf64/F1
    $/bond:pf64/PF2    @/bond:PF      $/atom:pf64/P1   $/atom:pf64/F2
    $/bond:pf64/PF3    @/bond:PF      $/atom:pf64/P1   $/atom:pf64/F3
    $/bond:pf64/PF4    @/bond:PF      $/atom:pf64/P1   $/atom:pf64/F4
    $/bond:pf64/PF5    @/bond:PF      $/atom:pf64/P1   $/atom:pf64/F5
    $/bond:pf64/PF6    @/bond:PF      $/atom:pf64/P1   $/atom:pf64/F6
    $/bond:pf65/PF1    @/bond:PF      $/atom:pf65/P1   $/atom:pf65/F1
    $/bond:pf65/PF2    @/bond:PF      $/atom:pf65/P1   $/atom:pf65/F2
    $/bond:pf65/PF3    @/bond:PF      $/atom:pf65/P1   $/atom:pf65/F3
    $/bond:pf65/PF4    @/bond:PF      $/atom:pf65/P1   $/atom:pf65/F4
    $/bond:pf65/PF5    @/bond:PF      $/atom:pf65/P1   $/atom:pf65/F5
    $/bond:pf65/PF6    @/bond:PF      $/atom:pf65/P1   $/atom:pf65/F6
